/*  INPUT ICON
----------------------------------------  */
.t-input-icon-rt {
  cursor: pointer;
  color: $lightgrey;
  border-radius: inherit;
  width: 100%;

  @include absolute($R: 1rem, $T: 50%);

  transform: translateY(-50%);

  &:hover {
    color: $primary;
  }
}

.t-input-group {
  position: relative;
  border-radius: inherit;
  width: 100%;

  > i:first-of-type {
    color: $lightgrey;
    font-size: 1.25rem;

    @include absolute($T: 50%, $L: 1rem);

    transform: translateY(-50%);
    transition: $transition-base;
    z-index: 1;
  }

  .t-form-control {
    padding-left: 3rem;

    &:focus {
      + i {
        color: $primary;
      }
    }
  }
}

.t-input-group-txt {
  border-radius: inherit;
  width: 100%;

  .t-input-txt {
    font-size: 1rem;

    @include absolute($T: 50%, $R: 1rem);

    transform: translateY(-50%);
  }

  .t-form-control {
    padding-right: 3rem;
  }
}