@{
    //Layout = null;
    ViewBag.HTitle = "勞動部勞動力發展署關鍵就業力課程";
    ViewBag.HTitle2 = "歡迎光臨 關鍵就業力課程";
}
<noscript>
    <div class="text-center" style="font-size:1.2em">
        @*fix無障礙檢測: GN1410200E使用者介面元件應暴露名稱與角色，允許直接設定可由使用者設定的屬性，並在變更時提供通知 *@
        您的瀏覽器不支援JavaScript功能，若網頁功能無法正常使用時，請開啟瀏覽器JavaScript狀態
    </div>
    <style type="text/css">
        html { display: block; }
        body { display: block !important; }
        .zero-font-margin { font-size: 0em; margin: 0; }
    </style>
</noscript>
<h1 class="zero-font-margin">@ViewBag.HTitle</h1>
<h2 class="zero-font-margin">@ViewBag.HTitle2</h2>
