<section id="tBreadcrumbs" class="t-breadcrumbs-section">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <ul class="t-breadcrumbs">
                <li class="t-breadcrumbs-item">
                    <a href="#C" title="中央功能區塊, 快速鍵: Alt+C " id="AC" accesskey="C" name="C" class="quicklink t-header-top-list-link">:::</a>
                    目前位置： <a class="t-link" href="~/" title="回首頁">首頁</a>
                </li>
                <li class="t-breadcrumbs-item">課程介紹</li>@*關鍵就業力課程課綱*@
            </ul>
        </div>
    </div>
</section>