<a href="#" id="tuScrolltop" class="tu-scrolltop" title="回到頂端" onclick="document.getElementById('AU').focus();" onkeypress="document.getElementById('AU').focus();" >
    <div style="display:none;">回到頂端</div>
    <i class="js-go-top--arrow" aria-hidden="true"></i>
</a>
