.t-shape-bottom-lt {
  clip-path: path("M0 600H3000V0L0 300Z");
}

.t-shape-bottom-rt {
  clip-path: path("M3000 600H0V0L3000 600Z");
}

.t-shape-v01 {
  clip-path: path("M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z");
}

.t-xehagon {
  //$edges-number: 6, $main-radius: 30%, $rounding-radius: 10%, $rotated: true, $precision: 20
  @include shape(6);
}

.t-octagon {
  //$edges-number: 6, $main-radius: 30%, $rounding-radius: 10%, $rotated: true, $precision: 20
  @include shape(8);
}

.t-message {
  clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.t-trapezoid {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.t-parallel {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.t-rhombus {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.t-bevel {
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.t-bevel {
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.t-arrow-lt {
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

.t-arrow-rt {
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.t-point-lt {
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}

.t-point-rt {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.t-chev-lt {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.t-chev-rt {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.t-message {
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.t-polygon-v1 {
  clip-path: polygon(50% 0%, 63.23% 9.3%, 79.39% 9.55%, 84.62% 24.84%, 97.55% 34.55%, 92.8% 50%, 97.55% 65.45%, 84.62% 75.16%, 79.39% 90.45%, 63.23% 90.7%, 50% 100%, 36.77% 90.7%, 20.61% 90.45%, 15.38% 75.16%, 2.45% 65.45%, 7.2% 50%, 2.45% 34.55%, 15.38% 24.84%, 20.61% 9.55%, 36.77% 9.3%);
}

.t-polygon-v2 {
  clip-path: polygon(50% 0%, 54.02% 5.36%, 58.93% 0.8%, 61.92% 6.8%, 67.57% 3.19%, 69.45% 9.62%, 75.64% 7.08%, 76.34% 13.74%, 82.9% 12.35%, 82.39% 19.03%, 89.09% 18.83%, 87.4% 25.31%, 94.03% 26.31%, 91.21% 32.39%, 97.55% 34.55%, 93.7% 40.03%, 99.55% 43.29%, 94.77% 47.99%, 99.95% 52.24%, 94.41% 56.02%, 98.75% 61.13%, 92.63% 63.85%, 95.98% 69.65%, 89.47% 71.24%, 91.73% 77.54%, 85.04% 77.94%, 86.14% 84.55%, 79.49% 83.75%, 79.39% 90.45%, 72.99% 88.47%, 71.69% 95.05%, 65.75% 91.96%, 63.3% 98.2%, 58% 94.1%, 54.48% 99.8%, 50% 94.82%, 45.52% 99.8%, 42% 94.1%, 36.7% 98.2%, 34.25% 91.96%, 28.31% 95.05%, 27.01% 88.47%, 20.61% 90.45%, 20.51% 83.75%, 13.86% 84.55%, 14.96% 77.94%, 8.27% 77.54%, 10.53% 71.24%, 4.02% 69.65%, 7.37% 63.85%, 1.25% 61.13%, 5.59% 56.02%, 0.05% 52.24%, 5.23% 47.99%, 0.45% 43.29%, 6.3% 40.03%, 2.45% 34.55%, 8.79% 32.39%, 5.97% 26.31%, 12.6% 25.31%, 10.91% 18.83%, 17.61% 19.03%, 17.1% 12.35%, 23.66% 13.74%, 24.36% 7.08%, 30.55% 9.62%, 32.43% 3.19%, 38.08% 6.8%, 41.07% 0.8%, 45.98% 5.36%);
}

.t-polygon-v3 {
  clip-path: polygon(50% 0%, 60.17% 2.16%, 70.34% 4.32%, 78.75% 10.43%, 87.16% 16.54%, 92.36% 25.55%, 97.55% 34.55%, 98.64% 44.89%, 99.73% 55.23%, 96.51% 65.11%, 93.3% 75%, 86.35% 82.73%, 79.39% 90.45%, 69.89% 94.68%, 60.4% 98.91%, 50% 98.91%, 39.6% 98.91%, 30.11% 94.68%, 20.61% 90.45%, 13.65% 82.73%, 6.7% 75%, 3.49% 65.11%, 0.27% 55.23%, 1.36% 44.89%, 2.45% 34.55%, 7.64% 25.55%, 12.84% 16.54%, 21.25% 10.43%, 29.66% 4.32%, 39.83% 2.16%);
}

.t-polygon-v4 {
  clip-path: polygon(50% 0%, 71.65% 12.5%, 93.3% 25%, 93.3% 50%, 93.3% 75%, 71.65% 87.5%, 50% 100%, 28.35% 87.5%, 6.7% 75%, 6.7% 50%, 6.7% 25%, 28.35% 12.5%);
}

.t-svg-path-v001 {
  height: 20rem;
  clip-path: path("m 0 246 l 92 -30 c 91 -30 274 -92 455 -82 c 182 12 364 92 546 112 s 364 -22 546 -40 c 182 -20 364 -20 546 10 s 364 92 455 122 L 2732 368 v 122 H 0 Z");
}

// .t-svg-path-v002 {
//   clip-path: path("M 1.188 970.336 V 636.336 C 66.861 641.53 132.535 646.724 181.188 634.336 C 229.84 621.948 261.469 591.979 329.188 580.336 S 500.711 575.376 574.188 603.336 S 690.813 680.532 737.188 674.336 C 783.563 668.14 833.164 606.51 892.188 603.336 C 951.211 600.162 1019.66 655.443 1076.19 653.336 C 1132.72 651.229 1177.34 591.734 1236.19 579.336 C 1295.04 566.938 1368.11 601.637 1441.19 636.336 V 970.336 Z")
// }