//
// Components -> Size
// --------------------------------------------------
@for $index from 0 through $grid-columns {
  .w-col-#{$index * 1} {
    width: percentage(($index / $grid-columns));
  }

  %w-col-#{$index * 1} {
    width: percentage(($index / $grid-columns));
  }
}

@for $index from 0 through 10 {
  .svg-w-#{$index * 10} {
    width: percentage(($index / 10));

    path {
      width: percentage(($index / 10));
    }
  }

  %svg-w-#{$index * 10} {
    width: percentage(($index / 10));

    path {
      width: percentage(($index / 10));
    }
  }
}

@for $index from 0 through 10 {
  .svg-h-#{$index * 10} {
    height: percentage(($index * 1));

    path {
      height: percentage(($index * 1));
    }
  }

  %svg-h-#{$index * 10} {
    height: percentage(($index* 1));

    path {
      height: percentage(($index * 1));
    }
  }
}

@for $i from 1 through 20 {
  .w-#{$i * 4} {
    width: unquote("#{$i * 1}rem !important");
  }

  %w-#{$i * 4} {
    width: unquote("#{$i * 1}rem");
  }
}

@for $i from 1 through 20 {
  .h-#{$i * 4} {
    height: unquote("#{$i * 1}rem !important");
  }

  %h-#{$i * 4} {
    height: unquote("#{$i * 1}rem");
  }
}





.symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: .95rem;
}

.symbol .symbol-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #3f4254;
  background-color: #f5f8fa;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: .95rem;
}

.symbol .symbol-badge {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
}

.symbol > img {
  width: 100%;
  flex-shrink: 0;
  display: inline-block;
  border-radius: .95rem;
}

.symbol.symbol-square, .symbol.symbol-square .symbol-label, .symbol.symbol-square > img {
  border-radius: 0 !important;
}

.symbol.symbol-circle, .symbol.symbol-circle .symbol-label, .symbol.symbol-circle > img {
  border-radius: 50%;
}

.symbol > img {
  width: 50px;
  height: 50px;
}

.symbol .symbol-label {
  width: 50px;
  height: 50px;
}

.symbol.symbol-fixed .symbol-label {
  width: 50px;
  height: 50px;
}

.symbol.symbol-fixed > img {
  width: 50px;
  height: 50px;
  max-width: auto;
}

.symbol.symbol-2by3 .symbol-label {
  height: 50px;
  width: 75px;
}

.symbol.symbol-2by3 > img {
  height: 50px;
  width: 75px;
  max-width: auto;
}

.symbol.symbol-20px > img {
  width: 20px;
  height: 20px;
}

.symbol.symbol-20px .symbol-label {
  width: 20px;
  height: 20px;
}

.symbol.symbol-20px.symbol-fixed .symbol-label {
  width: 20px;
  height: 20px;
}

.symbol.symbol-20px.symbol-fixed > img {
  width: 20px;
  height: 20px;
  max-width: auto;
}

.symbol.symbol-20px.symbol-2by3 .symbol-label {
  height: 20px;
  width: 30px;
}

.symbol.symbol-20px.symbol-2by3 > img {
  height: 20px;
  width: 30px;
  max-width: auto;
}

.symbol.symbol-25px > img {
  width: 25px;
  height: 25px;
}

.symbol.symbol-25px .symbol-label {
  width: 25px;
  height: 25px;
}

.symbol.symbol-25px.symbol-fixed .symbol-label {
  width: 25px;
  height: 25px;
}

.symbol.symbol-25px.symbol-fixed > img {
  width: 25px;
  height: 25px;
  max-width: auto;
}

.symbol.symbol-25px.symbol-2by3 .symbol-label {
  height: 25px;
  width: 37.5px;
}

.symbol.symbol-25px.symbol-2by3 > img {
  height: 25px;
  width: 37.5px;
  max-width: auto;
}

.symbol.symbol-30px > img {
  width: 30px;
  height: 30px;
}

.symbol.symbol-30px .symbol-label {
  width: 30px;
  height: 30px;
}

.symbol.symbol-30px.symbol-fixed .symbol-label {
  width: 30px;
  height: 30px;
}

.symbol.symbol-30px.symbol-fixed > img {
  width: 30px;
  height: 30px;
  max-width: auto;
}

.symbol.symbol-30px.symbol-2by3 .symbol-label {
  height: 30px;
  width: 45px;
}

.symbol.symbol-30px.symbol-2by3 > img {
  height: 30px;
  width: 45px;
  max-width: auto;
}

.symbol.symbol-35px > img {
  width: 35px;
  height: 35px;
}

.symbol.symbol-35px .symbol-label {
  width: 35px;
  height: 35px;
}

.symbol.symbol-35px.symbol-fixed .symbol-label {
  width: 35px;
  height: 35px;
}

.symbol.symbol-35px.symbol-fixed > img {
  width: 35px;
  height: 35px;
  max-width: auto;
}

.symbol.symbol-35px.symbol-2by3 .symbol-label {
  height: 35px;
  width: 52.5px;
}

.symbol.symbol-35px.symbol-2by3 > img {
  height: 35px;
  width: 52.5px;
  max-width: auto;
}

.symbol.symbol-40px > img {
  width: 40px;
  height: 40px;
}

.symbol.symbol-40px .symbol-label {
  width: 40px;
  height: 40px;
}

.symbol.symbol-40px.symbol-fixed .symbol-label {
  width: 40px;
  height: 40px;
}

.symbol.symbol-40px.symbol-fixed > img {
  width: 40px;
  height: 40px;
  max-width: auto;
}

.symbol.symbol-40px.symbol-2by3 .symbol-label {
  height: 40px;
  width: 60px;
}

.symbol.symbol-40px.symbol-2by3 > img {
  height: 40px;
  width: 60px;
  max-width: auto;
}

.symbol.symbol-45px > img {
  width: 45px;
  height: 45px;
}

.symbol.symbol-45px .symbol-label {
  width: 45px;
  height: 45px;
}

.symbol.symbol-45px.symbol-fixed .symbol-label {
  width: 45px;
  height: 45px;
}

.symbol.symbol-45px.symbol-fixed > img {
  width: 45px;
  height: 45px;
  max-width: auto;
}

.symbol.symbol-45px.symbol-2by3 .symbol-label {
  height: 45px;
  width: 67.5px;
}

.symbol.symbol-45px.symbol-2by3 > img {
  height: 45px;
  width: 67.5px;
  max-width: auto;
}

.symbol.symbol-50px > img {
  width: 50px;
  height: 50px;
}

.symbol.symbol-50px .symbol-label {
  width: 50px;
  height: 50px;
}

.symbol.symbol-50px.symbol-fixed .symbol-label {
  width: 50px;
  height: 50px;
}

.symbol.symbol-50px.symbol-fixed > img {
  width: 50px;
  height: 50px;
  max-width: auto;
}

.symbol.symbol-50px.symbol-2by3 .symbol-label {
  height: 50px;
  width: 75px;
}

.symbol.symbol-50px.symbol-2by3 > img {
  height: 50px;
  width: 75px;
  max-width: auto;
}

.symbol.symbol-55px > img {
  width: 55px;
  height: 55px;
}

.symbol.symbol-55px .symbol-label {
  width: 55px;
  height: 55px;
}

.symbol.symbol-55px.symbol-fixed .symbol-label {
  width: 55px;
  height: 55px;
}

.symbol.symbol-55px.symbol-fixed > img {
  width: 55px;
  height: 55px;
  max-width: auto;
}

.symbol.symbol-55px.symbol-2by3 .symbol-label {
  height: 55px;
  width: 82.5px;
}

.symbol.symbol-55px.symbol-2by3 > img {
  height: 55px;
  width: 82.5px;
  max-width: auto;
}

.symbol.symbol-60px > img {
  width: 60px;
  height: 60px;
}

.symbol.symbol-60px .symbol-label {
  width: 60px;
  height: 60px;
}

.symbol.symbol-60px.symbol-fixed .symbol-label {
  width: 60px;
  height: 60px;
}

.symbol.symbol-60px.symbol-fixed > img {
  width: 60px;
  height: 60px;
  max-width: auto;
}

.symbol.symbol-60px.symbol-2by3 .symbol-label {
  height: 60px;
  width: 90px;
}

.symbol.symbol-60px.symbol-2by3 > img {
  height: 60px;
  width: 90px;
  max-width: auto;
}

.symbol.symbol-65px > img {
  width: 65px;
  height: 65px;
}

.symbol.symbol-65px .symbol-label {
  width: 65px;
  height: 65px;
}

.symbol.symbol-65px.symbol-fixed .symbol-label {
  width: 65px;
  height: 65px;
}

.symbol.symbol-65px.symbol-fixed > img {
  width: 65px;
  height: 65px;
  max-width: auto;
}

.symbol.symbol-65px.symbol-2by3 .symbol-label {
  height: 65px;
  width: 97.5px;
}

.symbol.symbol-65px.symbol-2by3 > img {
  height: 65px;
  width: 97.5px;
  max-width: auto;
}

.symbol.symbol-70px > img {
  width: 70px;
  height: 70px;
}

.symbol.symbol-70px .symbol-label {
  width: 70px;
  height: 70px;
}

.symbol.symbol-70px.symbol-fixed .symbol-label {
  width: 70px;
  height: 70px;
}

.symbol.symbol-70px.symbol-fixed > img {
  width: 70px;
  height: 70px;
  max-width: auto;
}

.symbol.symbol-70px.symbol-2by3 .symbol-label {
  height: 70px;
  width: 105px;
}

.symbol.symbol-70px.symbol-2by3 > img {
  height: 70px;
  width: 105px;
  max-width: auto;
}

.symbol.symbol-75px > img {
  width: 75px;
  height: 75px;
}

.symbol.symbol-75px .symbol-label {
  width: 75px;
  height: 75px;
}

.symbol.symbol-75px.symbol-fixed .symbol-label {
  width: 75px;
  height: 75px;
}

.symbol.symbol-75px.symbol-fixed > img {
  width: 75px;
  height: 75px;
  max-width: auto;
}

.symbol.symbol-75px.symbol-2by3 .symbol-label {
  height: 75px;
  width: 112.5px;
}

.symbol.symbol-75px.symbol-2by3 > img {
  height: 75px;
  width: 112.5px;
  max-width: auto;
}

.symbol.symbol-100px > img {
  width: 100px;
  height: 100px;
}

.symbol.symbol-100px .symbol-label {
  width: 100px;
  height: 100px;
}

.symbol.symbol-100px.symbol-fixed .symbol-label {
  width: 100px;
  height: 100px;
}

.symbol.symbol-100px.symbol-fixed > img {
  width: 100px;
  height: 100px;
  max-width: auto;
}

.symbol.symbol-100px.symbol-2by3 .symbol-label {
  height: 100px;
  width: 150px;
}

.symbol.symbol-100px.symbol-2by3 > img {
  height: 100px;
  width: 150px;
  max-width: auto;
}

.symbol.symbol-125px > img {
  width: 125px;
  height: 125px;
}

.symbol.symbol-125px .symbol-label {
  width: 125px;
  height: 125px;
}

.symbol.symbol-125px.symbol-fixed .symbol-label {
  width: 125px;
  height: 125px;
}

.symbol.symbol-125px.symbol-fixed > img {
  width: 125px;
  height: 125px;
  max-width: auto;
}

.symbol.symbol-125px.symbol-2by3 .symbol-label {
  height: 125px;
  width: 187.5px;
}

.symbol.symbol-125px.symbol-2by3 > img {
  height: 125px;
  width: 187.5px;
  max-width: auto;
}

.symbol.symbol-150px > img {
  width: 150px;
  height: 150px;
}

.symbol.symbol-150px .symbol-label {
  width: 150px;
  height: 150px;
}

.symbol.symbol-150px.symbol-fixed .symbol-label {
  width: 150px;
  height: 150px;
}

.symbol.symbol-150px.symbol-fixed > img {
  width: 150px;
  height: 150px;
  max-width: auto;
}

.symbol.symbol-150px.symbol-2by3 .symbol-label {
  height: 150px;
  width: 225px;
}

.symbol.symbol-150px.symbol-2by3 > img {
  height: 150px;
  width: 225px;
  max-width: auto;
}

.symbol.symbol-160px > img {
  width: 160px;
  height: 160px;
}

.symbol.symbol-160px .symbol-label {
  width: 160px;
  height: 160px;
}

.symbol.symbol-160px.symbol-fixed .symbol-label {
  width: 160px;
  height: 160px;
}

.symbol.symbol-160px.symbol-fixed > img {
  width: 160px;
  height: 160px;
  max-width: auto;
}

.symbol.symbol-160px.symbol-2by3 .symbol-label {
  height: 160px;
  width: 240px;
}

.symbol.symbol-160px.symbol-2by3 > img {
  height: 160px;
  width: 240px;
  max-width: auto;
}

.symbol.symbol-175px > img {
  width: 175px;
  height: 175px;
}

.symbol.symbol-175px .symbol-label {
  width: 175px;
  height: 175px;
}

.symbol.symbol-175px.symbol-fixed .symbol-label {
  width: 175px;
  height: 175px;
}

.symbol.symbol-175px.symbol-fixed > img {
  width: 175px;
  height: 175px;
  max-width: auto;
}

.symbol.symbol-175px.symbol-2by3 .symbol-label {
  height: 175px;
  width: 262.5px;
}

.symbol.symbol-175px.symbol-2by3 > img {
  height: 175px;
  width: 262.5px;
  max-width: auto;
}

.symbol.symbol-200px > img {
  width: 200px;
  height: 200px;
}

.symbol.symbol-200px .symbol-label {
  width: 200px;
  height: 200px;
}

.symbol.symbol-200px.symbol-fixed .symbol-label {
  width: 200px;
  height: 200px;
}

.symbol.symbol-200px.symbol-fixed > img {
  width: 200px;
  height: 200px;
  max-width: auto;
}

.symbol.symbol-200px.symbol-2by3 .symbol-label {
  height: 200px;
  width: 300px;
}

.symbol.symbol-200px.symbol-2by3 > img {
  height: 200px;
  width: 300px;
  max-width: auto;
}