//
//  Components -> Texts size 
// --------------------------------------------------
.t-txt-0 {
  font-size: 0;
}

%t-txt--0 {
  font-size: 0;
}

@for $i from 12 through 44 {
  .t-txt-#{$i} {
    font-size: unquote("#{$i / 16}rem !important");
  }

  %t-txt-#{$i} {
    font-size: unquote("#{$i / 16}rem !important");
  }
}

