//
//  Layout -> Margin 
// --------------------------------------------------
@for $i from 0 through 15 {
  .margin-#{$i * 4} {
    margin: #{$i * 4 / 16}rem !important;
  }

  .mt-#{$i * 4} {
    margin-top: #{$i * 4 / 16}rem !important;
  }

  .mr-#{$i * 4} {
    margin-right: #{$i * 4 / 16}rem !important;
  }

  .mb-#{$i * 4} {
    margin-bottom: #{$i * 4 / 16}rem !important;
  }

  .ml-#{$i * 4} {
    margin-left: #{$i * 4 / 16}rem !important;
  }
}