//
//  Components -> Alerts
// --------------------------------------------------

$color_2: rgb(0, 0, 0, 0.2);
$color_4: rgb(0, 0, 0, 0.5);

.t-js-alert-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  transition: $category-mask-transition;

  @include overlay(9999, $category-mask, 0.5px);
}

.t-js-alert-frame {
  @include absolute-center;

  background: $white;
  width: 16rem;
  box-shadow: 0.375rem 0.375rem 0.625rem rgb(0, 0, 0, 0.2);
  border-radius: $border-radius;
  animation: zoom-in 0.35s linear;
}

.t-js-alert-header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 10rem;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    @extend .brand-wda-logo-background-rotate;
    background-repeat: repeat;
    transform: rotate(15deg);
    opacity: 0.12;
    width: 100%;
    height: 100%;
    mix-blend-mode: luminosity;
  }
}

.t-js-alert-img {
  height: 6rem;
  color: $white;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.t-js-alert-close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  user-select: none;

  @include btn-close($danger, $white, $pill, sm);

  border-radius: 0.5rem;
  border-color: rgba($white, 0.66);
  transform: none;

  @include hover {
    opacity: .66;
    transform: rotate(180deg);
  }
}

.t-js-alert-body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.t-js-alert-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: $grey;
  align-self: center;
}

.t-js-alert-message {
  font-size: .9375rem;
  color: $lightgrey;
  font-family: $font-family-base;
  text-align: center;
  margin-bottom: 2.1875rem;
  line-height: 1.625;
  align-self: center;
}

.t-js-alert-button {
  width: 80%;

  // border-radius: 3rem;
  align-self: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;

  &:focus {
    outline: 0;
  }
}

.t-js-question-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.t-js-confirm-button {
  min-width: 100px;
  height: 35px;
  border-radius: 20px;
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 15px;
  color: $white;
  border: none;
  cursor: pointer;
  transition: background 0.5s;
  padding: 0 15px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: 0;
  }
}

.t-js-cancel-button {
  min-width: 100px;
  height: 35px;
  border-radius: 20px;
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 15px;
  color: $white;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 1.6;
  transition: background 0.5s;
  padding: 0 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: 0;
  }
}

//////////////////////////////////////////////////////////
@keyframes open-toast {
  0% {
    transform: scaleX(1) scaleY(1);
  }

  20%,
  45% {
    transform: scaleX(1.35) scaleY(0.1);
  }

  65% {
    transform: scaleX(0.8) scaleY(1.7);
  }

  80% {
    transform: scaleX(0.6) scaleY(0.85);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.toast-container {
  display: flex;
  flex-direction: column;
  top: 15px;
  right: 15px;
  position: fixed;
  z-index: 999999;
  animation: open-toast .3s linear;
}

.toast-content {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  animation: open-toast 0.3s linear;
}

.toast-content + .toast-content {
  margin-top: 10px;
}

.toast-frame {
  padding: 5px 15px;
  display: flex;
  min-width: 100px;
  height: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.toast-body-img {
  height: 40px;
}

.toast-body {
  display: flex;
  align-items: center;
  width: 100%;
}

.toast-body-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toast-title {
  font-size: 16px !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  margin-left: 15px;
}

.toast-message {
  font-size: 13px !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  margin-left: 15px;
}

.toast-close {
  color: rgb(0, 0, 0, 0.2);
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.5s;
  margin-left: 25px;
}

@keyframes timer {
  0% {
    width: 100%;
  }

  25% {
    width: 75%;
  }

  50% {
    width: 50%;
  }

  75% {
    width: 25%;
  }

  100% {
    width: 1%;
  }
}

.toast-timer {
  width: 1%;
  height: 5px;
}

.toast-close:hover {
  color: rgb(0, 0, 0, 0.5);
}

.t-bg-grad-error {
  @extend .t-bg-grad-danger;
}

.btn--error {
  @extend .btn--danger;
}

// .success-bg {
//   background: #2dd284;
// }

// .warning-bg {
//   background: #fada5e;
// }

.question-bg {
  background: #779ecb;
}

// .error-btn:hover {
//   background: #e5a4b4;
// }

// .success-btn:hover {
//   background: #6edaa4;
// }

// .warning-btn:hover {
//   background: #fcecae;
// }

// .info-btn:hover {
//   background: #c3e6fb;
// }

// .question-btn:hover {
//   background: #bacee4;
// }

// .error-timer {
//   background: #e5a4b4;
// }

// .success-timer {
//   background: #6edaa4;
// }

// .warning-timer {
//   background: #fcecae;
// }

// .info-timer {
//   background: #c3e6fb;
// }

// .info-bg {
//   background: #88cef7;
// }

// // background styles
// @each $color, $value in $element-colors {
//     .t-js-alert--dk--#{$color} {
//         @include alert-dk-variant(theme-color-level($color, -1), theme-color-level($color, -3), theme-color-level($color, -10));
//     }
// }

// // ltl styles
// @each $color, $value in $element-colors {
//     .t-js-alert--ltl--#{$color} {
//         @include alert-lt-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
//     }
// }

// // ltl styles
// @each $color, $value in $element-colors {
//     .t-js-alert--ltl--w--#{$color} {
//         @include alert-lt-w-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
//     }
// }