.observer-nav {
  position: relative;
  display: block;
  background: _var("white", $white);
  border-radius: $border-radius;
  padding: 1.25rem 1rem;
  width: 100%;

  &.is-fix {
    height: inherit;
    width: inherit;
    box-shadow: $box-shadow-lg;
    top: 12rem;
    position: fixed;
    z-index: 999;
    transform: translate3d(0, 0, 0);
    transition: box-shadow .25s ease;

    .float-rocket {
      transform: rotate(-10deg) scale(1.25);
      transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .float-svg {
      width: 10rem;
      transform: rotate(-25deg);
      transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  &.is-hide {
    transform: translate3d(0, -100%, 0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &.is-show {
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate3d(0, 0, 0);
  }

  &.is-abs {
    position: absolute;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate3d(0, 0, 0);
  }
}

.hr-lines-v1 {
  position: relative;
  height: 1rem;
  width: 100%;

  @include gradient-x-three-colors(adjust-hue($primary, 30deg) -20% 0, tint-color($primary, 0%), 50%, adjust-hue($primary, -30deg) 120%);

  transform: translateY(-1rem);
  border-radius: 0.5rem;
}

.float-rocket {
  position: absolute;
  top: -8rem;
  right: -1.5rem;
  transform: rotate(10deg);
  width: 12rem;
  pointer-events: none;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.float-svg {
  width: 8rem;
  pointer-events: none;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 3;
}

.observer-nav {
  svg,
  img {
    pointer-events: none;
  }
}

.observer-nav-item {
  position: relative;
  display: block;
  list-style: none;
  padding: .625rem 1rem .925rem 2.5em;
  border: 2px solid transparent;
  margin-bottom: .125rem;
  cursor: pointer;
  border-radius: $border-radius;
  transition: $transition-base;
  counter-increment: step-counter;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  text-align: left;
  user-select: none;
  white-space: normal;

  $i: 0;

  @each $color, $value in $department-colors {
    &.observer-nav-item-#{$color}.observer-nav-item-#{$color}.observer-nav-item-#{$color} {
      background-image: linear-gradient(90deg, tint-color($value, 20%) 0.375rem, $default 0.5rem, $default 0.525rem, transparent 0.525rem);
      background-color: tint-color($value, 90%);
      color: shade-color($value, 60%);

      &.active {
        background-color: shade-color($value, 40%);
      }

      &:before {
        background-color: tint-color($value, 40%);
      }
    }
  }

  &:not(:first-of-type) {
    margin-top: 0.75rem;
  }

  &.active.active.active {
    color: $white;
    border: 2px solid _var("grey-50", $grey-50);
    box-shadow: 2px 2px 4px rgba($dark, 0.16);
    font-size: 0.9375rem;
  }

  &:before {
    content: counter(step-counter);
    color: $white;
    font-size: 80%;
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    left: 0.875rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.75em;
    height: 1.75em;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}