<?xml version="1.0" encoding="utf-8" ?>
<ReportConfig
  xmlns="http://lib.turbotech.com.tw/Report"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--
  修改這個檔案, 不會立即生效, 要重新啟動 IIS 服務或執行 http://server.ip/Report/ReloadConfig 才會重新載入
  報表 Report 定義:
    id: 報表的編號, 不可重覆
    sql: 報表的查詢來源, 值為 SqlMap 的 statement id (要含 namespace)
    name: 報表名稱
    view: (可省略)若指定表示報表結果的顯示由指定的 partial view 自行處理
  -->
  <Report id="00000" sql="Report.report00000" view="00000" name="格式說明用">
    <query>
      <!--
      定義報表的查詢條件:
        type: 條件輸入方式, 支援 text, dropdown, checkboxlist, radiogrouplist, date, daterange, label, linebreak
        id: 在報表送出查詢後, 會作為傳給 SqlMap 的 Parameters, 一律以全大寫的英數字定義
        name: 查詢欄位的名稱, 若省略, 表示該欄位在查詢表單中不佔獨立的欄位, 而是併到前一個欄位中.
        source: dropdown, checkboxlist, radiogrouplist 的代碼清單來源, 設定值是定義在 StaticCodeMap.CodeMap 中的項目名稱字串
        onchange: 設定 dropdown 在 onchange 時要連動更新的另一個 dropdown, checkboxlist, radiogrouplist
                  的 Id 值, 若 Onchange 跟 Id 相等, 則會以 [DropdowList.Id + _ + selected_value] 作為要連動更新的目標 Id,
                  進行 Show/Hide 連動更新.
        display: 控制條件欄位是否預設為隱藏, 格式: 'none' 表示隱藏, 其他值則為顯示.
        cols: 設定條件欄位在排版表格 td 欄位的 colspan 值.
        width: 控制 checkboxlist, radiogrouplist 顯示 Group div 的寛度, 設定字串中要包含單位(如: '600px')
      -->
      <column type="dropdown" id="ORG_ID" name="建立單位" formater="" size="" source=""></column>
      <column type="dropdown" id="IDNO" name="建立者" formater="" size="" source=""></column>
      <column type="linebreak"></column>
      <column type="text" id="NAME" name="項目名稱" formater="" size=""></column>
    </query>
    <layout>
      <!--
      定義報表的輸出欄位列表:
        id: 欄位名稱, 值對應到 SqlMap 的結果欄位, 一律以全大寫英數字表示
        name: 欄位的標題名稱
        width: 欄位的顯示寛度(單位 px)
        align: 指定欄位在報表表格 td 中的對齊方式: 'left', 'center', 'right'
        aggregate: 指定欄位是否進行集合運算, 有效值: 'SUM', 'COUNT'
      -->
      <column id="" name="" width="" align="" aggregate=""></column>
    </layout>
  </Report>

  <Report id="8818R" sql="Report.report8818R" name="檢定成績統計表(範例)" btnPdf="Y" btnExcel="Y" btnWord="Y" showPageInfo="Y" showParms="N" Orientation="L" font="標楷體" waterMark="~/images/Clalogo.jpg">
    <query>
      <condition type="text" id="YR" name="年度" size="4" required="Y"></condition>
      <condition type="text" id="STP" name="梯次" size="3" required="Y"></condition>
      <condition type="text" id="EXAMKIND" name="檢定類別" size="2" required="Y"></condition>
      <condition type="text" id="PNO" name="辦理單位" size="5"></condition>
    </query>
    <headers>
      <header align="center" height="50" fontsize="18">
        <column id="TITLE" name="檢定成績統計表(範例)" type="label"></column>
      </header>
      <header align="center">
        <column id="TITLE" name="副標題" type="label"></column>
      </header>
    </headers>
    <layout>
      <column id="OPCHNF" name="辦理單位名稱" align="center"></column>
      <column id="PNAME" name="職類" width="150"></column>
      <column id="EGRN" name="級別" width="100" align="center"></column>
      <column id="ASK1" name="分數1" width="50" align="right" format="#,##0" aggregate="SUM" aggformat="#,##0"></column>
      <column id="ASK2" name="分數2" width="50" align="right" format="#,##0" aggregate="SUM" aggformat="#,##0"></column>
      <column id="ASK3" name="分數3" width="50" align="right" format="#,##0" aggregate="SUM" aggformat="#,##0"></column>
      <column id="ASK4" name="分數4" width="50" align="right" format="#,##0" aggregate="SUM" aggformat="#,##0"></column>
      <column id="ASK5" name="分數5" width="50" align="right" format="#,##0" aggregate="AVG" aggformat="#,##0.00"></column>
    </layout>
    <footer>
      <![CDATA[
      ]]>
    </footer>
  </Report>

  <Report id="8818R2" sql="Report.report8818R" name="檢定成績統計表(範例)" btnPdf="Y" btnExcel="Y" btnWord="Y" showPageInfo="Y" pageRows="20" paperSize="A4Rotated" pageMargin="1.375 1.375 2.54 1.375" showParms="N" waterMark="~/images/Clalogo.jpg">
    <query>
      <condition type="text" id="YR" name="年度" size="4" required="Y"></condition>
      <condition type="text" id="STP" name="梯次" size="3" required="Y"></condition>
      <condition type="text" id="EXAMKIND" name="檢定類別" size="2" required="Y"></condition>
      <condition type="text" id="PNO" name="辦理單位" size="5"></condition>
    </query>
    <layout>
      <column id="OPCHNF" name="辦理單位名稱" align="center" merge="samevalue"></column>
      <column id="PNAME" name="職類" width="150" merge="samevalue:OPCHNF"></column>
      <column id="EGRN" name="級別" width="50" align="center" merge="samevalue:OPCHNF,PNAME"></column>
      <column id="ASK1" name="分數1" width="50" align="center" aggregate="AVG" aggformat="#.##"></column>
      <column id="ASK2" name="分數2" width="50" align="center" aggregate="AVG" aggformat="#.##"></column>
      <column id="ASK3" name="分數3" width="50" align="center" aggregate="AVG" aggformat="#.##"></column>
      <column id="ASK4" name="分數4" width="50" align="center" aggregate="AVG" aggformat="#.##"></column>
      <column id="ASK5" name="分數5" width="50" align="center" aggregate="AVG" aggformat="#.##"></column>
    </layout>
    <footer>
      <![CDATA[
      ]]>
    </footer>
  </Report>

  <Report id="8818T" sql="Report.report8818R" name="檢定成績統計表(T)" view="_8818T" btnPdf="Y" btnWord="Y" waterMark="~/images/Clalogo.jpg">
    <query>
      <condition type="text" id="YR" name="年度" size="4" required="Y"></condition>
      <condition type="text" id="STP" name="梯次" size="3" required="Y"></condition>
      <condition type="text" id="EXAMKIND" name="檢定類別" size="2" required="Y"></condition>
      <condition type="text" id="PNO" name="辦理單位" size="5"></condition>
    </query>
    <layout>
      <!-- 由自訂義的 View (_8818T) 去顯示 -->
    </layout>
    <footer>
      <![CDATA[
      ]]>
    </footer>
  </Report>

  <!--A2C101M 核定通知書-->
  <Report id="A2C101M" sql="Report.reportA2C101M" name="核定通知書" btnPdf="Y" view="_A2C101M">
    <query>
      <condition type="text" id="CLASS_ID" name="課程ID" required="Y"></condition>
      <condition type="text" id="MEM_ID" name="學員ID" required="Y"></condition>
    </query>
    <layout>
      <column id="MEM_ID" name="學員ID" width="105" align="center"></column>
      <column id="CLASS_ID" name="課程ID" width="70" align="center"></column>
      <column id="SYSMEMID" name="該系統學員ID" width="200" align="center"></column>
      <column id="MEMNAME" name="學員名稱" width="210" align="left"></column>
      <column id="MEMIDNO" name="學員身份證" width="70" align="right"></column>
      <column id="MEMBIRTHDAY" name="學員生日" width="70" align="right"></column>
      <column id="MEMSEX" name="學員性別" width="70" align="right"></column>
      <column id="LEAVESTATUS" name="參訓狀況" width="70" align="right"></column>
      <column id="LEAVEDATE" name="離退訓日期" width="70" align="right"></column>
      <column id="PLANNAME" name="系統別名稱" width="70" align="right"></column>
      <column id="SYSID" name="系統別" width="70" align="right"></column>
      <column id="CLASSNAME" name="課程名稱" width="70" align="right"></column>
      <column id="DATES" name="開訓日" width="70" align="right"></column>
      <column id="DATEE" name="結訓日" width="70" align="right"></column>
      <column id="FIVE_N" name="政策性課程" width="70" align="right"></column>
      <column id="TOTALHOURS" name="課程總時數" width="70" align="right"></column>
      <column id="REWARD_ID" name="核定ID" width="70" align="right"></column>
      <column id="REWARDDATES" name="核定日期起" width="70" align="right"></column>
      <column id="REWARDDATEE" name="核定日期迄" width="70" align="right"></column>
      <column id="REWARDSTATUS" name="核定狀態" width="70" align="right"></column>
      <column id="REWARDMONEY" name="核定金額" width="70" align="right"></column>
      <column id="AGE" name="年齡" width="70" align="right"></column>
    </layout>
  </Report>

  <!--A2C101M4 申請通知書-->
  <Report id="A2C101M4" sql="Report.reportA2C101M" name="學習獎勵金申請書" btnWord="Y" view="_A2C101M4">
    <query>
      <condition type="text" id="CLASS_ID" name="課程ID" required="N"></condition>
      <condition type="text" id="MEM_ID" name="學員ID" required="Y"></condition>
    </query>
    <layout>
      <column id="MEM_ID" name="學員ID" width="105" align="center"></column>
      <column id="CLASS_ID" name="課程ID" width="70" align="center"></column>
      <column id="SYSMEMID" name="該系統學員ID" width="200" align="center"></column>
      <column id="MEMNAME" name="學員名稱" width="210" align="left"></column>
      <column id="MEMIDNO" name="學員身份證" width="70" align="right"></column>
      <column id="MEMBIRTHDAY" name="學員生日" width="70" align="right"></column>
      <column id="MEMSEX" name="學員性別" width="70" align="right"></column>
      <column id="LEAVESTATUS" name="參訓狀況" width="70" align="right"></column>
      <column id="LEAVEDATE" name="離退訓日期" width="70" align="right"></column>
      <column id="PLANNAME" name="系統別名稱" width="70" align="right"></column>
      <column id="SYSID" name="系統別" width="70" align="right"></column>
      <column id="CLASSNAME" name="課程名稱" width="70" align="right"></column>
      <column id="DATES" name="開訓日" width="70" align="right"></column>
      <column id="DATEE" name="結訓日" width="70" align="right"></column>
      <column id="FIVE_N" name="政策性課程" width="70" align="right"></column>
      <column id="TOTALHOURS" name="課程總時數" width="70" align="right"></column>
      <column id="REWARD_ID" name="核定ID" width="70" align="right"></column>
      <column id="REWARDDATES" name="核定日期起" width="70" align="right"></column>
      <column id="REWARDDATEE" name="核定日期迄" width="70" align="right"></column>
      <column id="REWARDSTATUS" name="核定狀態" width="70" align="right"></column>
      <column id="REWARDMONEY" name="核定金額" width="70" align="right"></column>
      <column id="AGE" name="年齡" width="70" align="right"></column>
    </layout>
  </Report>

  <!--A1C101M 課程查詢-->
  <Report id="A1C101M" sql="Report.reportA1C101M" name="課程查詢" btnExcel="Y">
    <query>
      <condition type="text" id="SYSID" name="計畫系統別"></condition>
      <condition type="text" id="CLASSNAME" name="課程名稱"></condition>
      <condition type="text" id="DATES_S" name="開訓日起"></condition>
      <condition type="text" id="DATES_E" name="開訓日迄"></condition>
      <condition type="text" id="DATEE_S" name="結訓日起"></condition>
      <condition type="text" id="DATEE_E" name="結訓日迄"></condition>
      <condition type="text" id="FIVE_N" name="政策性課程"></condition>
    </query>
    <layout>
      <column id="CLASSNAME" name="課程名稱" width="250" align="left"></column>
      <column id="BRANCHNAME" name="分署別" width="145" align="left"></column>
      <column id="DATES" name="開訓日" width="95" align="center"></column>
      <column id="DATEE" name="結訓日" width="95" align="center"></column>
      <column id="FIVE_N" name="政策性課程" width="105" align="center"></column>
      <column id="TOTALHOURS" name="訓練總時數" width="105" align="right"></column>
      <column id="PLANNAME" name="系統別" width="125" align="left"></column>
      <column id="OPCHN" name="訓練單位" width="150" align="left"></column>
      <column id="ADDR" name="訓練地點(縣市)" width="140" align="center"></column>
    </layout>
  </Report>

  <!--A1C201M 學員查詢-->
  <Report id="A1C201M" sql="Report.reportA1C201M" name="學員查詢" btnExcel="Y">
    <query>
      <condition type="text" id="SYSID" name="計畫系統別"></condition>
      <condition type="text" id="CLASSNAME" name="課程名稱"></condition>
      <condition type="text" id="MEMNAME" name="學員名稱"></condition>
      <condition type="text" id="DATES_S" name="開訓日起"></condition>
      <condition type="text" id="DATES_E" name="開訓日迄"></condition>
      <condition type="text" id="DATEE_S" name="結訓日起"></condition>
      <condition type="text" id="DATEE_E" name="結訓日迄"></condition>
      <condition type="text" id="LEAVESTATUS" name="參訓狀態"></condition>
      <condition type="text" id="REWARDSTATUS" name="核定狀態"></condition>
    </query>
    <layout>
      <column id="MEMNAME" name="學員姓名" width="85" align="left"></column>
      <column id="MEMBIRTHDAY" name="學員生日" width="95" align="center"></column>
      <column id="MEMSEX" name="學員性別" width="85" align="center"></column>
      <column id="CLASSNAME" name="課程名稱" width="250" align="left"></column>
      <column id="BRANCHNAME" name="分署別" width="145" align="left"></column>
      <column id="DATES" name="開訓日" width="95" align="center"></column>
      <column id="DATEE" name="結訓日" width="95" align="center"></column>
      <column id="LEAVESTATUS" name="參訓狀態" width="85" align="center"></column>
      <column id="LEAVEDATE" name="離退訓日期" width="105" align="center"></column>
      <column id="REWARDYN" name="核定狀態" width="85" align="center"></column>
      <column id="PLANNAME" name="系統別" width="125" align="left"></column>
      <column id="OPCHN" name="訓練單位" width="150" align="left"></column>
      <column id="ADDR" name="訓練地點(縣市)" width="140" align="center"></column>
    </layout>
  </Report>

  <!--A1C204M 學員存摺維護-->
  <Report id="A1C204M" sql="Report.reportA1C204M" name="學員存摺維護" btnExcel="Y">
    <query>
      <condition type="text" id="SYSID" name="計畫系統別"></condition>
      <condition type="text" id="CLASSNAME" name="課程名稱"></condition>
      <condition type="text" id="DATES_S" name="開訓日起"></condition>
      <condition type="text" id="DATES_E" name="開訓日迄"></condition>
      <condition type="text" id="DATEE_S" name="結訓日起"></condition>
      <condition type="text" id="DATEE_E" name="結訓日迄"></condition>
      <condition type="text" id="FIVE_N" name="政策性課程"></condition>
      <condition type="text" id="BANKYN" name="是否有存摺未輸入"></condition>
    </query>
    <layout>
      <column id="PLANNAME" name="系統別" width="125" align="left"></column>
      <column id="CLASSNAME" name="課程名稱" width="250" align="left"></column>
      <column id="BRANCHNAME" name="分署別" width="145" align="left"></column>
      <column id="DATES" name="開訓日" width="95" align="center"></column>
      <column id="DATEE" name="結訓日" width="95" align="center"></column>
      <column id="FIVE_N" name="政策性課程" width="105" align="center"></column>
      <column id="TOTALHOURS" name="總時數" width="65" align="right"></column>
      <column id="REWNO" name="尚未填寫存摺人數" width="165" align="right"></column>
      <column id="OPCHN" name="訓練單位" width="150" align="left"></column>
      <column id="ADDR" name="訓練地點(縣市)" width="140" align="center"></column>
    </layout>
  </Report>

  <!--A2C103M 未開訓課程-->
  <Report id="A2C103M" sql="Report.reportA2C103M" name="未開訓課程" btnExcel="Y">
    <query>
      <condition type="text" id="SYSID" name="計畫系統別"></condition>
      <condition type="text" id="CLASSNAME" name="課程名稱"></condition>
      <condition type="text" id="DATES_S" name="開訓日起"></condition>
      <condition type="text" id="DATES_E" name="開訓日迄"></condition>
      <condition type="text" id="DATEE_S" name="結訓日起"></condition>
      <condition type="text" id="DATEE_E" name="結訓日迄"></condition>
      <condition type="text" id="FIVE_N" name="政策性課程"></condition>
    </query>
    <layout>
      <column id="PLANNAME" name="系統別" width="125" align="left"></column>
      <column id="CLASSNAME" name="課程名稱" width="250" align="left"></column>
      <column id="BRANCHNAME" name="分署別" width="145" align="left"></column>
      <column id="DATES" name="開訓日" width="95" align="center"></column>
      <column id="DATEE" name="結訓日" width="95" align="center"></column>
      <column id="FIVE_N" name="政策性課程" width="105" align="center"></column>
      <column id="TOTALHOURS" name="總時數" width="65" align="right"></column>
      <column id="DATE20" name="可核定日期" width="105" align="center"></column>
      <column id="REWY" name="預計核定人數" width="125" align="right"></column>
      <column id="OPCHN" name="訓練單位" width="150" align="left"></column>
      <column id="ADDR" name="訓練地點(縣市)" width="140" align="center"></column>
    </layout>
  </Report>

  <!--A2C104M 已核定課程-查詢課程-->
  <Report id="A2C104M_class" sql="Report.reportA2C104M_class" name="已核定課程" btnExcel="Y">
    <query>
      <condition type="text" id="SYSID" name="計畫系統別"></condition>
      <condition type="text" id="CLASSNAME" name="課程名稱"></condition>
      <condition type="text" id="DATES_S" name="開訓日起"></condition>
      <condition type="text" id="DATES_E" name="開訓日迄"></condition>
      <condition type="text" id="DATEE_S" name="結訓日起"></condition>
      <condition type="text" id="DATEE_E" name="結訓日迄"></condition>
      <condition type="text" id="FIVE_N" name="政策性課程"></condition>
    </query>
    <layout>
      <column id="PLANNAME" name="系統別" width="125" align="left"></column>
      <column id="CLASSNAME" name="課程名稱" width="250" align="left"></column>
      <column id="BRANCHNAME" name="分署別" width="145" align="left"></column>
      <column id="DATES" name="開訓日" width="95" align="center"></column>
      <column id="DATEE" name="結訓日" width="95" align="center"></column>
      <column id="FIVE_N" name="政策性課程" width="105" align="center"></column>
      <column id="TOTALHOURS" name="總時數" width="65" align="right"></column>
      <column id="REWY" name="已核定人數" width="105" align="right"></column>
      <column id="REWN" name="未核定人數" width="105" align="right"></column>
      <column id="OPCHN" name="訓練單位" width="150" align="left"></column>
      <column id="ADDR" name="訓練地點(縣市)" width="140" align="center"></column>
    </layout>
  </Report>

	<Report id="A2C502M" sql="Report.reportA2C502M" name="教學自我審核報告" btnExcel="Y" view="_A2C502M">
		<query>
			<condition type="text" id="Seq" name="1"></condition>
		</query>
		<layout>
		</layout>
	</Report>

	<Report id="A3C204M" sql="Report.reportA3C204M" name="教學自我審核報告" btnExcel="Y" view="_A3C204M">
		<query>
			<condition type="text" id="Seq" name="1"></condition>
		</query>
		<layout>
		</layout>
	</Report>

	<Report id="AMC902M" sql="Report.reportAMC902M" name="教學自我審核報告" btnExcel="Y" view="_AMC902M">
		<query>
			<condition type="text" id="Seq" name="1"></condition>
		</query>
		<layout>
		</layout>
	</Report>
	
  <!-- 結束行(這行放在最下面, 不要刪) -->
</ReportConfig>