<?xml version="1.0" encoding="utf-8" ?>
<RESTConfig
  xmlns="http://lib.turbotech.com.tw/REST"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--
  修改這個檔案, 不會立即生效, 要重新啟動 IIS 服務或執行 http://server.ip/REST/ReloadConfig 才會重新載入
  REST API 定義:
    id: REST API的編號, 不可重覆
    name: REST API名稱
    sql: REST API的查詢來源, 值為 SqlMap 的 statement id (要含 namespace)
    type: (可省略)REST API的交易類型: select(預設), insert, update, delete
  -->
  <REST id="8818R" sql="REST.8818R" name="檢定成績統計(範例)" type="select">
    <!-- 
      <query> 定義REST API的查詢條件: 
        id: 在REST API送出查詢後, 會作為傳給 SqlMap 的 Parameters, 一律以全大寫的英數字定義
        name: 查詢欄位的名稱
        size: 設定條件欄位輸入值的長度限制.
        required: 條件欄位是否為必填(Y/N)
      -->
    <query>
      <condition type="text" id="EXAMKIND" name="檢定類別" size="2" required="Y"></condition>
      <condition type="text" id="YR" name="年度" size="4" required="Y"></condition>
      <condition type="text" id="STP" name="梯次" size="3" required="Y"></condition>
      <condition type="text" id="PNO" name="職類代碼" size="5"></condition>
    </query>
    
    <!--
      <header> 定義 REST API的輸出表頭區 欄位列表
    -->
    <header sql="REST.8818R_header">
      <column id="TITLE" name="標題" type="label" value="檢定成績統計"></column>
      <column id="EXAMKIND_TEXT" name="檢定類別名稱"></column>
    </header>
    <!-- 
      <layout><column> 定義REST API的輸出欄位列表 : 
        id: 欄位名稱, 值對應到 SqlMap 的結果欄位, 一律以全大寫英數字表示
        name: 欄位的標題名稱
        type: 欄位類型: "label" 或 未指定(資料欄位)
        format: 指定欄位值的輸出格式, 依欄位資料型別, 使用對應的格式字串,
                如: 
                Decimail數值可設定為: #.00
                DateTime數值可設定為: yyyy-mm-dd 
    -->
    <layout>
      <column id="OPCHNF" name="辦理單位名稱"></column>
      <column id="PNAME" name="職類"></column>
      <column id="EGRN" name="級別"></column>
      <column id="ASK1" name="分數1" format="#.##"></column>
      <column id="ASK2" name="分數2" format="#.##"></column>
      <column id="ASK3" name="分數3" format="#.##"></column>
      <column id="ASK4" name="分數4" format="#.##"></column>
      <column id="ASK5" name="分數5" format="#.##"></column>
    </layout>
  </REST>

  <REST id="T001I" sql="REST.T001I" name="資料新增(範例)" type="insert">
    <query>
      <condition type="text" id="IDNO" name="IDNO" size="12" required="Y"></condition>
      <condition type="text" id="NOTE" name="註記" size="50" required="Y"></condition>
    </query>

    <!-- 
      異動類API, 不需要定義 <layout><column>
    -->
  </REST>

  <REST id="T001U" sql="REST.T001U" name="資料修改(範例)" type="update">
    <query>
      <condition type="text" id="IDNO" name="IDNO舊值" size="12" required="Y"></condition>
      <condition type="text" id="IDNO_NEW" name="IDNO新值" size="12" required="Y"></condition>
      <condition type="text" id="NOTE" name="註記" size="50" required="Y"></condition>
    </query>

    <!-- 
      異動類API, 不需要定義 <layout><column>
    -->
  </REST>

  <REST id="T001D" sql="REST.T001D" name="資料刪除(範例)" type="delete">
    <query>
      <condition type="text" id="IDNO" name="IDNO" size="12" required="Y"></condition>
    </query>

    <!-- 
      異動類API, 不需要定義 <layout><column>
    -->
  </REST>

  <!-- 客制化 QueryHandler 異動類API 的範例 -->
  <REST id="T002I" name="資料新增(範例2)" type="insert" handler="EUSERVICE:EUSERVICE.Services.REST.T002IQueryHandler">
    <query>
      <condition type="text" id="IDNO" name="IDNO" size="12" required="Y"></condition>
      <condition type="text" id="NOTE" name="註記" size="50" required="Y"></condition>
    </query>
    <!-- 
      異動類API, 不需要定義 <layout><column>
    -->
  </REST>
  
  
  <REST id="AE001" name="AES字串加密範例" handler="EUSERVICE:EUSERVICE.Services.REST.AE001QueryHandler">
    <query>
      <condition type="text" id="KEY" name="AES Key" size="20" required="Y" value="WRS001004Staff"></condition>
      <condition type="text" id="PLAIN" name="明碼字串" size="50" required="Y"></condition>
    </query>

    <layout>
      <column id="ENCRYPTED" name="加密後字串"></column>
    </layout>
  </REST>
  
  <REST id="WRS001001" name="取得技能檢定系統人才庫資料" type="select" sql="REST.WRS001001">
    <query>
      <condition type="PNO" id="PNO" name="職類代碼" size="5" required="Y"></condition>
      <condition type="IDNO" id="IDNO" name="身分證號" size="10" required="N"></condition>
      <condition type="NAME" id="NAME" name="姓名" size="0" required="N"></condition>
    </query>
    <layout>
      <column id="PNO" name="職類代碼"></column>
      <column id="PNONAME" name="職類名稱"></column>
      <column id="IDNO" name="身分證號"></column>
      <column id="NAME" name="人員姓名"></column>
      <column id="EGR" name="級別代碼"></column>
      <column id="EGRNAME" name="級別名稱"></column>
      <column id="CRDITNO" name="技術士總編號"></column>
      <column id="BIRDTE" name="出生日期"></column>
      <column id="SEX" name="性別代碼"></column>
      <column id="SEXNAME" name="性別名稱"></column>
      <column id="EDU" name="學歷代碼"></column>
      <column id="EDUNAME" name="學歷名稱"></column>
      <column id="TEL" name="聯絡電話"></column>
      <column id="PHONE" name="手機號碼"></column>
      <column id="FZIP" name="戶籍地址郵遞區號"></column>
      <column id="FADR" name="戶籍地址"></column>
      <column id="CZIP" name="通訊地址郵遞區號"></column>
      <column id="CADR" name="通訊地址"></column>
      <column id="EMAIL" name="電子信箱"></column>
      <column id="WEAKID" name="身份別代碼"></column>
      <column id="WEAKIDNAME" name="身份別名稱"></column>
      <column id="EMAILYN" name="開放查詢Email"></column>
      <column id="TELYN" name="開放查詢聯絡電話"></column>
      <column id="PHONEYN" name="開放查詢手機號碼"></column>
      <column id="CADRYN" name="開放查詢通訊地址"></column>
      <column id="JOBYN" name="是否有求職意願"></column>
      <column id="NATIONALITY" name="國籍別代碼"></column>
      <column id="NATIONNAME" name="國籍別名稱"></column>
    </layout>
  </REST>  

  <REST id="WRS001002" name="取得命題人員工作小組" type="select" sql="REST.WRS001002">
    <query>
      <condition type="POSYR" id="POSYR" name="命題年度" size="3" required="Y"></condition>
      <condition type="PNO" id="PNO" name="職類代碼" size="5" required="Y"></condition>
      <condition type="IDNO" id="IDNO" name="身分證號" size="10" required="N"></condition>
    </query>
    <layout>
      <column id="POSYR" name="命題年度"></column>
      <column id="PNO" name="職類代碼"></column>
      <column id="PNONAME" name="職類名稱"></column>
      <column id="IDNO" name="身分證號"></column>
      <column id="NAME" name="人員姓名"></column>
    </layout>
  </REST>  

  <REST id="WRS001003" name="取得命題人員基本資料" type="select" sql="REST.WRS001003">
    <query>
      <condition type="IDNO" id="IDNO" name="身分證號" size="10" required="Y"></condition>
      <condition type="NAME" id="NAME" name="人員姓名" size="0" required="N"></condition>
    </query>
    <layout>
      <column id="IDNO" name="身分證號"></column>
      <column id="NAME" name="人員名稱"></column>
      <column id="SEX" name="性別代碼"></column>
      <column id="SEXNAME" name="性別名稱"></column>
      <column id="ENNAME" name="人員英文名稱"></column>
      <column id="BIRDATE" name="出生日期"></column>
      <column id="UNITNAME" name="服務單位名稱"></column>
      <column id="RETIRE" name="退休狀態代碼"></column>
      <column id="RETIRENAME" name="退休狀態名稱"></column>
      <column id="DOMAIN" name="單位性質代碼"></column>
      <column id="DOMAINNAME" name="單位性質名稱"></column>
      <column id="TITLE" name="職稱"></column>
      <column id="EDU" name="教育程度代碼"></column>
      <column id="EDUNAME" name="教育程度名稱"></column>
      <column id="EDUHIGH" name="最高學歷學校"></column>
      <column id="SCIENCE" name="科系名稱"></column>
      <column id="WZIP" name="服務單位地址郵遞區號"></column>
      <column id="WADR" name="服務單位地址"></column>
      <column id="FZIP" name="地址郵遞區號(宅)"></column>
      <column id="FADR" name="地址(宅)"></column>
      <column id="CZIP" name="地址郵遞區號(通訊)"></column>
      <column id="CADR" name="地址(通訊)"></column>
      <column id="PLACEREG" name="地區別代碼"></column>
      <column id="PLACEREGNAME" name="地區別名稱"></column>
      <column id="WTEL" name="聯絡電話(公)"></column>
      <column id="FTEL" name="聯絡電話(宅)"></column>
      <column id="FFAX" name="傳真號碼"></column>
      <column id="PHONE" name="手機號碼"></column>
      <column id="EMAIL" name="電子信箱"></column>
      <column id="LICENSE" name="具本職類專業相關證照"></column>
      <column id="GROOMKIND" name="推薦方式代碼"></column>
      <column id="GROOMKINDNAME" name="推薦方式名稱"></column>
      <column id="TOPUTUNIT" name="推薦單位"></column>
      <column id="SKILL" name="主要專長"></column>
      <column id="WORKDESC" name="經歷"></column>
      <column id="COMMENTS" name="審查記錄"></column>
      <column id="REMARK" name="備註"></column>
      <column id="STATE" name="狀態代碼"></column>
      <column id="STATENAME" name="狀態名稱"></column>
      <column id="HEALTHYN" name="是否為衛生醫護監評"></column>
    </layout>
  </REST>

  <REST id="WRS001004" name="更新命題人員基本資料" type="update" handler="EUSERVICE:EUSERVICE.Services.REST.WRS001004Handler">
    <query>
      <condition type="IDNO" id="IDNO" name="身分證號" size="10" required="Y"></condition>
      <condition type="NAME" id="NAME" name="人員姓名" size="20" required="N"></condition>
      <condition type="SEX" id="SEX" name="性別代碼" size="1" required="N"></condition>
      <condition type="ENNAME" id="ENNAME" name="人員英文姓名" size="80" required="N"></condition>
      <condition type="BIRDATE" id="BIRDATE" name="出生日期" size="14" required="N"></condition>
      <condition type="UNITNAME" id="UNITNAME" name="服務單位名稱" size="40" required="N"></condition>
      <condition type="TITLE" id="TITLE" name="職稱" size="30" required="N"></condition>
      <condition type="EDUHIGH" id="EDUHIGH" name="最高學歷學校" size="100" required="N"></condition>
      <condition type="SCIENCE" id="SCIENCE" name="科系名稱" size="30" required="N"></condition>
      <condition type="WZIP" id="WZIP" name="服務單位地址郵遞區號" size="10" required="N"></condition>
      <condition type="WADR" id="WADR" name="服務單位地址" size="50" required="N"></condition>
      <condition type="FZIP" id="FZIP" name="地址郵遞區號(宅)" size="10" required="N"></condition>
      <condition type="FADR" id="FADR" name="地址(宅)" size="50" required="N"></condition>
      <condition type="CZIP" id="CZIP" name="地址郵遞區號(通訊)" size="10" required="N"></condition>
      <condition type="CADR" id="CADR" name="地址(通訊)" size="50" required="N"></condition>
      <condition type="FTEL" id="FTEL" name="聯絡電話(宅)" size="60" required="N"></condition>
      <condition type="WTEL" id="WTEL" name="聯絡電話(公)" size="60" required="N"></condition>
      <condition type="FFAX" id="FFAX" name="傳真號碼" size="60" required="N"></condition>
      <condition type="PHONE" id="PHONE" name="手機號碼" size="60" required="N"></condition>
      <condition type="EMAIL" id="EMAIL" name="電子信箱" size="120" required="N"></condition>
      <condition type="REMARK" id="REMARK" name="備註" size="200" required="N"></condition>
      <condition type="USERNO" id="USERNO" name="題庫系統使用者帳號" size="10" required="N"></condition>
      <condition type="PWD" id="PWD" name="題庫系統使用者密碼" size="0" required="N"></condition>
    </query>
  </REST>

  <REST id="WRS001005" name="NFC 報到記錄查詢" type="select" sql="REST.WRS001005">
    <query>
      <condition type="SYS_ID" id="SYS_ID" name="報到系統別" size="0" required="Y"></condition>
      <condition type="PROF_ID" id="PROF_ID" name="報到場次代碼" size="0" required="Y"></condition>
      <condition type="CHECKIN_ITEM_ID" id="CHECKIN_ITEM_ID" name="報到項目代碼" size="10" required="N"></condition>
    </query>
    <layout>
      <column id="PROF_ID" name="報到場次ID"></column>
      <column id="PNAME" name="報到場次名稱"></column>
      <column id="CHECKIN_ITEM_ID" name="報到項目ID"></column>
      <column id="CHECK_ITEM_NAME" name="報到項目名稱"></column>
      <column id="NAMELIST_ID" name="報到名單ID"></column>
      <column id="IDNO" name="報到人員身份證"></column>
      <column id="NAME" name="報到人員姓名"></column>
      <column id="NFC_ID" name="報到人員綁定的NFC卡號"></column>
      <column id="CHECKIN_TYPE" name="報到類型"></column>
      <column id="DATETIME" name="報到時間"></column>
    </layout>
  </REST>

  <REST id="WRSValidation" name="命題小組登入帳密檢核" handler="EUSERVICE:EUSERVICE.Services.REST.WRSValidationQueryHandler">
    <query>
      <condition type="USERNO" id="USERNO" name="題庫系統使用者帳號" size="10" required="Y"></condition>
      <condition type="PWD" id="PWD" name="題庫系統使用者密碼" size="0" required="Y"></condition>
    </query>

    <layout>
      <column id="IDNO" name="身分證號"></column>
      <column id="NAME" name="人員名稱"></column>
      <column id="SEX" name="性別代碼"></column>
      <column id="SEXNAME" name="性別名稱"></column>
      <column id="ENNAME" name="人員英文名稱"></column>
      <column id="BIRDATE" name="出生日期"></column>
      <column id="UNITNAME" name="服務單位名稱"></column>
      <column id="RETIRE" name="退休狀態代碼"></column>
      <column id="RETIRENAME" name="退休狀態名稱"></column>
      <column id="DOMAIN" name="單位性質代碼"></column>
      <column id="DOMAINNAME" name="單位性質名稱"></column>
      <column id="TITLE" name="職稱"></column>
      <column id="EDU" name="教育程度代碼"></column>
      <column id="EDUNAME" name="教育程度名稱"></column>
      <column id="EDUHIGH" name="最高學歷學校"></column>
      <column id="SCIENCE" name="科系名稱"></column>
      <column id="WZIP" name="服務單位地址郵遞區號"></column>
      <column id="WADR" name="服務單位地址"></column>
      <column id="FZIP" name="地址郵遞區號(宅)"></column>
      <column id="FADR" name="地址(宅)"></column>
      <column id="CZIP" name="地址郵遞區號(通訊)"></column>
      <column id="CADR" name="地址(通訊)"></column>
      <column id="PLACEREG" name="地區別代碼"></column>
      <column id="PLACEREGNAME" name="地區別名稱"></column>
      <column id="WTEL" name="聯絡電話(公)"></column>
      <column id="FTEL" name="聯絡電話(宅)"></column>
      <column id="FFAX" name="傳真號碼"></column>
      <column id="PHONE" name="手機號碼"></column>
      <column id="EMAIL" name="電子信箱"></column>
      <column id="LICENSE" name="具本職類專業相關證照"></column>
      <column id="GROOMKIND" name="推薦方式代碼"></column>
      <column id="GROOMKINDNAME" name="推薦方式名稱"></column>
      <column id="TOPUTUNIT" name="推薦單位"></column>
      <column id="SKILL" name="主要專長"></column>
      <column id="WORKDESC" name="經歷"></column>
      <column id="COMMENTS" name="審查記錄"></column>
      <column id="REMARK" name="備註"></column>
      <column id="STATE" name="狀態代碼"></column>
      <column id="STATENAME" name="狀態名稱"></column>
      <column id="HEALTHYN" name="是否為衛生醫護監評"></column>
    </layout>
  </REST>  
  
  <!--前端照片處理系統-->

<REST id="CLAZ01" name="取得檢定類別" type="select" sql="REST.CLAZ01">
    <query>
      <condition type="EXAMKIND" id="EXAMKIND" name="檢定類別" size="1" required="N"></condition>
    </query>
    <layout>
      <column id="EXAMKIND2" name="檢定類別代碼"></column>
      <column id="CHN" name="檢定類別名稱"></column>
    </layout>
  </REST>
  
  <REST id="CLAZ02" name="取得系統代碼" type="select" sql="REST.CLAZ02">
   
    <layout>
      <column id="ITEM" name="項目"></column>
      <column id="CODE" name="代碼"></column>
      <column id="DESCR" name="備註"></column>
      <column id="HIST" name="HIST"></column>
      <column id="FREQ" name="FREQ"></column>
      <column id="AUX1" name="AUX1"></column>
      <column id="MODUSERID" name="MODUSERID"></column>
      <column id="MODUSERNAME" name="MODUSERNAME"></column>
      <column id="MODTIME" name="MODTIME"></column>
      <column id="MODIP" name="MODIP"></column>
    </layout>
  </REST>

  <REST id="CLAZ022" name="取得職類表格" type="select" sql="REST.CLAZ022">
    <!--
        ,,,,REMAKER,ICTYPE,EGRSEL,AFEE,
        BFEE,CFEE,DFEE,AMTHD,BMTHD,CMTHD,DMTHD,AWRSCIN,BWRSCIN,
        CWRSCIN,DWRSCIN,AOPSCIN,BOPSCIN,COPSCIN,DOPSCIN,AHPSCIN,
        BHPSCIN,CHPSCIN,DHPSCIN,AWNUMPACK,BWNUMPACK,CWNUMPACK,
        DWNUMPACK,AONUMPACK,BONUMPACK,CONUMPACK,DONUMPACK
    -->
    <layout>
      <column id="PNO" name="代碼"></column>
      <column id="PRFKIND" name="職類分類"></column>
      <column id="NAME" name="職類名稱"></column>
      <column id="NAMEEN" name="職類英文名稱"></column>
      <column id="ITEMNAME" name="項目名稱"></column>
      <column id="ITEMNAMEEN" name="項目英文名稱"></column>
      <column id="TRANSACT" name="是否辦理"></column>
      <column id="LSHYN" name="是否為紙筆術科測試"></column>
      <column id="HEALTHYN" name="是否須監評衛生"></column>
      <column id="RANDOM" name="監評亂數"></column>
      <column id="RANDOMNUM" name="監評亂數次數"></column>
      <column id="JUDGEYR" name="監評計算年數"></column>
      <column id="JUDGENUM" name="監評計算次數"></column>
      <column id="TESTDAY" name="測試天數"></column>
      <column id="STARTDATE" name="開辦日期"></column>
      <column id="SDOCNO" name="開辦文號"></column>
      <column id="ENDDATE" name="停辦日期"></column>
      <column id="EDOCNO" name="停辦文號"></column>
      <column id="MODUSERID" name="MODUSERID"></column>
      <column id="MODUSERNAME" name="MODUSERNAME"></column>
      <column id="MODTIME" name="MODTIME"></column>
      <column id="MODIP" name="MODIP"></column>
    </layout>
  </REST>

<REST id="CLAZ03" name="取得帳號資訊" type="select" sql="REST.CLAZ03">
    <query>
      <condition type="USERNO" id="USERNO" name="帳號" size="20" required="Y"></condition>
      <condition type="PWD" id="PWD" name="密碼" size="20" required="N"></condition>
    </query>
    <layout>
      <column id="AUTHSN" name="登入Session ID"></column>
      <column id="USERNO" name="帳號"></column>
      <column id="USERNAME" name="姓名"></column>
      <column id="PWD" name="密碼"></column>
      <column id="BIRTHDAY" name="生日"></column>
      <column id="BEMAIL" name="生日"></column>
      <column id="AUTHNUM" name="驗證碼"></column>
      <column id="UNITID" name="單位"></column>
      <column id="SUBUNIT" name="科處室"></column>
      <column id="SUBUNITN" name="科處室名稱"></column>
      <column id="TITLENAME" name="TITLENAME"></column>
      <column id="AUTHSTATUS" name="帳號使用狀態"></column>
      <column id="PKINO" name="自然人憑證序號"></column>
      <column id="CHKDATE" name="憑證上傳日期"></column>
      <column id="UPPKI" name="憑證上傳Flag"></column>
     <column id="OPCD" name="單位代號"></column>
      <column id="OPCHN" name="單位名稱(簡稱)"></column>
      <column id="OPCHNF" name="單位名稱(全銜)"></column>
      <column id="OPKIND" name="機構類別"></column>
      <column id="ZIP" name="郵遞區號"></column>
      <column id="ADDR" name="住址"></column>
      <column id="CEO" name="機關首長"></column>
      <column id="CEOTITLE" name="首長職稱"></column>
      <column id="CONTACT" name="聯絡人"></column>
      <column id="TEL" name="電話"></column>
      <column id="FAX" name="傳真"></column>
      <column id="EMAIL" name="EMAIL"></column>
      <column id="URL" name="網址"></column>
      <column id="REMAKR" name="備註"></column>
      <column id="HIST" name="歷史註記"></column>
      <column id="HISTREMAKR" name="歷史註記說明"></column>
      <column id="MODUSERID" name="異動者帳號"></column>
      <column id="MODUSERNAME" name="異動者姓名"></column>
      <column id="MODIP" name="異動ip"></column>
      <column id="MODTIME" name="異動時間"></column>
    </layout>
  </REST>

  
<REST id="CLAZ04" name="取得報名及學科測試地點檔" type="select" sql="REST.CLAZ04">
    <query>
     <condition type="EXAMKIND" id="EXAMKIND" name="檢定類別" size="1" required="Y"></condition>
     <condition type="YR" id="YR" name="年度" size="3" required="Y"></condition>
     <condition type="UNITID" id="UNITID" name="單位名稱" size="4" required="Y"></condition>
    </query>
    <layout>
      <column id="EXAMKIND" name="檢定類別"></column>
      <column id="YR" name="年度"></column>
      <column id="PID" name="區域代碼"></column>
      <column id="PNAME" name="區域名稱"></column>
      <column id="PTYPE" name="區域別"></column>
      <column id="OPCD" name="單位代號"></column>
      <column id="OPCHN" name="單位名稱"></column>
      <column id="ZIP" name="郵遞區號"></column>
      <column id="ADDR" name="住址"></column>
      <column id="MODUSERID" name="異動者帳號"></column>
      <column id="MODUSERNAME" name="異動者姓名"></column>
      <column id="MODIP" name="異動ip"></column>
      <column id="MODTIME" name="異動時間"></column>
      <column id="SOPCD" name="主辦單位代號"></column>
    </layout>
  </REST>

  <REST id="CLAZ051" name="取得參檢單位代碼檔" type="select" sql="REST.CLAZ051">
    <query>
      <condition type="UNTIID" id="UNTIID" name="單位代碼" size="4" required="Y"></condition>
    </query>
    <layout>
      <column id="OPCD" name="單位代碼"></column>
      <column id="OPCHN" name="單位簡稱"></column>
      <column id="OPCHNF" name="單位全名"></column>
      <column id="OPKIND" name="OPKIND"></column>
      <column id="ZIP" name="郵遞區號"></column>
      <column id="ADDR" name="地址"></column>
      <column id="CEO" name="負責人"></column>
      <column id="CEOTITLE" name="負責人職稱"></column>
      <column id="CONTACT" name="聯絡人"></column>
      <column id="FAX" name="傳真"></column>
      <column id="TEL" name="電話"></column>
      <column id="EMAIL" name="EMAIL"></column>
      <column id="URL" name="網址"></column>
      <column id="REMAKR" name="備註"></column>
      <column id="HIST" name="HIST"></column>
      <column id="HISTREMAKR" name="HISTREMAKR"></column>
      <column id="MODUSERID" name="異動者帳號"></column>
      <column id="MODUSERNAME" name="異動者姓名"></column>
      <column id="MODIP" name="異動ip"></column>
      <column id="MODTIME" name="異動時間"></column>
    </layout>
  </REST>
  
  <REST id="CLAZ052" name="取得參檢學校機關代碼檔" type="select" sql="REST.CLAZ052">
    <query>
     <condition type="UNTIID" id="UNTIID" name="單位代碼" size="4" required="Y"></condition>
    </query>
    <layout>
      <column id="ORGID" name="報檢學校代碼"></column>
      <column id="ORGIDCHNS" name="報檢學校簡稱"></column>
      <column id="ORGIDCHNF" name="報檢學校全名"></column>
      <column id="CONTACT" name="聯絡人"></column>
      <column id="FAX" name="傳真"></column>
      <column id="TEL" name="電話"></column>
      <column id="ADDRESS" name="地址"></column>
      <column id="ZIP" name="郵遞區號"></column>
      <column id="PID" name="報名區域代碼"></column>
      <column id="MODUSERID" name="異動者帳號"></column>
      <column id="MODUSERNAME" name="異動者姓名"></column>
      <column id="MODIP" name="異動ip"></column>
      <column id="MODTIME" name="異動時間"></column>
      <column id="TITLE" name="職稱"></column>
    </layout>
  </REST>
  
  
<REST id="CLAZ06" name="取得身分別代碼檔" type="select" sql="REST.CLAZ06">
    <query>
    </query>
    <layout>
      <column id="WEAKID" name="身份代碼"></column>
      <column id="CHN" name="CHN"></column>
      <column id="BEGIN_DATE" name="有效日期起值"></column>
      <column id="END_DATE" name="有效日期迄值"></column>
      <column id="MODUSERID" name="異動者帳號"></column>
      <column id="MODUSERNAME" name="異動者姓名"></column>
      <column id="MODIP" name="異動ip"></column>
      <column id="MODTIME" name="異動時間"></column>
    </layout>
  </REST>


  <REST id="CLAZ07" name="取得考生資料" type="select" sql="REST.CLAZ07">
    <query>
      <condition type="UNITID" id="UNITID" name="單位名稱" size="4" required="Y"></condition>
      <condition type="EXAMKIND" id="EXAMKIND" name="檢定類別" size="1" required="Y"></condition>
      <condition type="YR" id="YR" name="年度" size="3" required="Y"></condition>
      <condition type="STP" id="STP" name="梯次" size="3" required="Y"></condition>
     <condition type="PNO" id="PNO" name="職類代碼" size="5" required="N"></condition>
    </query>
    <layout>
      <column id="EXAMKIND" name="檢定類別"></column>
      <column id="YR" name="年度"></column>
      <column id="STP" name="梯次"></column>
      <column id="PNO" name="職類"></column>
      <column id="EGR" name="級別"></column>
      <column id="IDNO" name="身分證號"></column>
      <column id="AENO" name="准考證"></column>
      <column id="DSTNG" name="免試別"></column>
      <column id="PID" name="報考地區代碼"></column>
      <column id="NAME" name="姓名"></column>
      <column id="ENNAME" name="英文姓名"></column>
      <column id="SEX" name="性別"></column>
      <column id="OOPCD" name="術科承辦單位"></column>
      <column id="ORGID" name="參檢學校"></column>
      <column id="MODUSERID" name="異動者帳號"></column>
      <column id="MODUSERNAME" name="異動者姓名"></column>
      <column id="MODIP" name="異動ip"></column>
      <column id="MODTIME" name="異動時間"></column>
    </layout>
  </REST>
  
  
  <!-- 結束行(這行放在最下面, 不要刪) -->
</RESTConfig>