<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <properties resource="properties.config"/>
  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>
  <providers resource="providers.config"/>
  <!-- Database connection information -->
  <database>
    <!-- parameters ${xxxxx} arr defined within 'properties.config' -->
    <provider name="${providerSQLClient4}"/>
    <!--<dataSource name="EUSERVICE" connectionString="${connectionEUSERVICE}" />-->
    <dataSource name="WKEF.WEB" connectionString="${connectionWKEF}${connectionWKEFKey}" />
  </database>
  <sqlMaps>
    <!--基本屬性-->
    <sqlMap resource="./SqlMaps/Commons.xml" />
    <!--共用代碼-->
    <sqlMap resource="./SqlMaps/KeyMap.xml" />
    <!--共用功能dialog之類-->
    <sqlMap resource="./SqlMaps/SHARE.xml" />
    <!--報表-->
    <sqlMap resource="./SqlMaps/Report.xml" />
    <!--功能-->
    <sqlMap resource="./SqlMaps/AM.xml" />
    <sqlMap resource="./SqlMaps/A1.xml" />
    <sqlMap resource="./SqlMaps/A2.xml" />
    <sqlMap resource="./SqlMaps/A3.xml" />
  </sqlMaps>
</sqlMapConfig>