<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="iBATIS_logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WKEFSERVICE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="connectionEUSERVICE" connectionString="{AES}BCB31F3F211C7C6D7FD9E2691DE74D4B0E80F7ECAE3DE77F1FDE55F13ED72A2B1ADB14D270A6B27669B4DAE5EBD305B412FE2DD39A78BB3A082993DC2A2C57F555A3ECF0A065DA739B47304A3FB4E31E6C2080FE94DA44D0CA780341BE14A2660EA5DE0F87E369824FF8CA37569C8A2A426D163B50A3D89A564D8D06B2E39C38D671E2D7BAA9FBD5FD39762014CCCB31" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="{AES}BCB31F3F211C7C6D7FD9E2691DE74D4B2160C908CB27EFB1505C9AD244153834A0DBEBEABCB47CE114C4D76C253CD2EE35A89B6DB02A31516B2A9B4F8F5E878A5F1D712A30DC809E505A97DC0F5ACBA27BC4215FAF3254D3B5E1DA8923F63C4817020780BDF0B61B2247294ADA39E1C1" />
  </connectionStrings>
  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：子網站「虛擬目錄」要掛在 主網站「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <iBATIS_logging>
      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <arg key="configType" value="external" />
      </logFactoryAdapter>
    </iBATIS_logging>
  </location>

  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：子網站「虛擬目錄」要掛在 主網站「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <system.web.webPages.razor>
      <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <pages pageBaseType="System.Web.Mvc.WebViewPage">
        <namespaces>
          <remove namespace="WDAIIP.WEB" />
          <add namespace="System.Web.Mvc" />
          <add namespace="System.Web.Mvc.Ajax" />
          <add namespace="System.Web.Mvc.Html" />
          <add namespace="System.Web.Optimization" />
          <add namespace="System.Web.Routing" />
          <add namespace="WKEFSERVICE" />
          <add namespace="Turbo" />
          <add namespace="Turbo.Commons" />
          <add namespace="Turbo.ReportTK" />
          <add namespace="Turbo.Helpers" />
        </namespaces>
      </pages>
    </system.web.webPages.razor>
  </location>

  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：子網站「虛擬目錄」要掛在 主網站「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <appSettings>
      <add key="vs:EnableBrowserLink" value="false" />
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />

      <!-- 上線用參數，測試時請清空 -->
      <add key="WKEF" value="WKEF" />

      <add key="TestWeb1" value="Y" />

      <!-- 主機環境角色設定: 1.內網環境, 2.外網環境 -->
      <add key="NetID" value="1" />
      <!--      (測試開發用)      啟用壓力測試模式(會使用模擬的帳號及角色覆寫登入者資訊)      Y: 啟用,      其他: 停用      -->
      <!--      <add key="StressTestMode" value="Y" />      <add key="StressTestUserNo" value="johnsoncj" />      -->

      <!--
      設定是否停用 Authorize 權限檢核 (測試開發用):
        2:  當系統管理者角色時停用, AuthorizeRequired 沒作用直接 bypass
        1:  全部停用, AuthorizeRequired 沒作用直接 bypass
        0:  未停用
      -->
      <add key="DisableAuthorize" value="1" />
      <!--
      設定在 ErrorPage 中是否要顯示錯誤 Exception 訊息及 Stacktrace,
      但若在 localhost 執行, 則不受此設定影響, 一律顯示 Exception 訊息及 Stacktrace:
      0. 不顯示
      1. 顯示 Exception Message
      2. 顯示 Exception Message 及 Stacktrace
      -->
      <add key="ErrorPageShowExeption" value="0" />

      <!-- 電子抽籤網站連結網址（AT/C201 畫面查詢結果資料會使用到） -->
      <!--<add key="BallotUrl" value="http://172.28.11.92/Ballot/Ballot.aspx" />-->

      <!-- 檔案上傳路徑(相對於 ContextRoot) -->
      <add key="UpLoadFile" value="/Uploads" />

      <!-- 系統暫存路徑(相對於 ContextRoot) -->
      <add key="TempPath" value="/App_Data/Temp" />

      <!-- 系統郵件服務主機 IP -->
      <!--<add key="MailServer" value="mail.turbotech.com.tw" />-->
      <!-- 系統郵件寄件者帳號-->
      <!-- <add key="MailSenderAddr" value="service@turbotech.com.tw" />-->
      <!-- 系統郵件寄件者使用者帳號-->
      <!-- <add key="MailSenderUserNo" value="" /><add key="MailSenderPwd" value="" /> -->
      <add key="MailServer" value="172.21.210.30" />
      <add key="MailuserName" value="ojt@msa.wda.gov.tw" />
      <add key="MailuserPwd" value="19EB519455F7200B5CBB307C21C7CB08" />
      <add key="MaxCanMailCount" value="60" />
      <add key="SendMailws" value="Y" />

      <!-- 啟用內網使用者「12-20 碼密碼長度」檢查。（Y: 啟用，N: 不啟用 (即維持原 8-20 碼密碼長度)）-->
      <add key="Net1UserPwdLen1220Check" value="N" />

      <!-- 系統主功能表樣式（0: 系統預設樣式，1: 樹型樣式）-->
      <add key="MainMenuType" value="1" />

      <!-- （0: 測試環境，1: 正式環境）-->
      <add key="OnOrOff" value="0" />

      <!-- HCA（0: 關閉，1: 開啟）-->
      <add key="HCAOnOff" value="0" />

      <!-- （0: 測試環境，1: 正式環境)資料-->
      <add key="OnOrOffData" value="0" />

      <!--報表圖片引用基礎網址因為經負載平衡進來,  Request 抓到的網址在主機端不適用會造成轉 PDF 圖片出不來, 所以明確設定      -->
      <!--<add key="ReportBaseUrl" value="http://localhost:803/cla/" />-->
      <!-- A4 民眾申訴 IMGAE UNC -->
      <!--<add key="A4ImageUNC" value="\\127.0.0.1\image\" />-->
      <add key="A4ImageUNC" value="~/image/" />
    </appSettings>
  </location>

  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：子網站「虛擬目錄」要掛在 主網站「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <system.web>
      <compilation debug="false" targetFramework="4.5.2" />
      <httpCookies httpOnlyCookies="true" />
      <httpRuntime targetFramework="4.5.2" enableVersionHeader="false" maxRequestLength="20240" executionTimeout="110" appRequestQueueLimit="1000" />
      <webServices>
        <protocols>
          <remove name="Documentation" />
        </protocols>
      </webServices>
      <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20" />-->
    </system.web>
  </location>

  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：子網站「虛擬目錄」要掛在 主網站「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="HTTP to HTTPS redirect" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
          </rule>
        </rules>
        <outboundRules>
          <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
            <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
            <conditions>
              <add input="{HTTPS}" pattern="on" ignoreCase="true" />
            </conditions>
            <action type="Rewrite" value="max-age=31536000; includeSubDomains; preload" />
          </rule>
        </outboundRules>
      </rewrite>
      <httpProtocol>
        <customHeaders>
          <!--置定 IE 瀏覽器兼容模式-->
          <!-- <add name="X-UA-Compatible" value="IE=edge,chrome=1" /> -->
          <!--防止 X-Frame-Option 攻擊-->
          <!-- <add name="X-Frame-Options" value="SAMEORIGIN" /> -->
          <!--<add name="X-Frame-Options" value="DENY" />-->
          <!--20220818以前改黑箱 會造成後台WinPopup失效-->
          <!--防止 跨站點腳本(XSS)及數據注入 攻擊-->
          <!-- <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self';base-uri 'self';form-action 'self'; font-src 'self'; object-src 'self';media-src 'self';frame 'self' ; child 'self; worker 'self'; manifest 'self';prefetch 'self' '" />-->
          <!-- 置定 IE 瀏覽器兼容模式 -->
          <remove name="X-UA-Compatible" />
          <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
          <remove name="X-Frame-Options" />
          <remove name="X-XSS-Protection" />
          <remove name="X-Content-Type-Options" />
          <remove name="X-Powered-By" />
          <remove name="Cache-Control" />
          <add name="Pragma" value="no-cache" />
          <add name="Cache-Control" value="no-cache,no-store,must-revalidate,private" />
          <add name="Expires" value="0" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <!--
<add name="Content-Security-Policy" value="default-src 'self'; frame-ancestors 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' *.typekit.net api.tgos.tw s.yimg.com sp.analytics.yahoo.com www.gstatic.com www.google.com www.googletagmanager.com www.googleadservices.com googleads.g.doubleclick.net; style-src 'self' 'unsafe-inline' *.typekit.net www.gstatic.com fonts.googleapis.com www.google.com use.fontawesome.com; font-src 'self' data: *.typekit.net fonts.gstatic.com use.fontawesome.com; frame-src 'self' www.youtube.com bid.g.doubleclick.net *.facebook.com; img-src 'self' data: *.openstreetmap.org sp.analytics.yahoo.com www.google.com www.google.com.tw www.googleapis.com clients1.google.com; object-src 'self' flv-player.net; connect-src 'self' *.typekit.net utts.turbotech.com.tw s.yimg.com sp.analytics.yahoo.com www.gstatic.com; media-src 'self' utts.turbotech.com.tw;" />
<add name="Content-Security-Policy" value="default-src 'self'; frame-ancestors 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' *.typekit.net api.tgos.tw s.yimg.com sp.analytics.yahoo.com; style-src 'self' 'unsafe-inline' *.typekit.net www.gstatic.com fonts.googleapis.com www.google.com use.fontawesome.com; font-src 'self' data: *.typekit.net fonts.gstatic.com use.fontawesome.com; frame-src 'self' www.youtube.com bid.g.doubleclick.net *.facebook.com; img-src 'self' data: *.openstreetmap.org sp.analytics.yahoo.com www.google.com www.google.com.tw www.googleapis.com clients1.google.com; object-src 'self' flv-player.net; connect-src 'self' *.typekit.net utts.turbotech.com.tw s.yimg.com sp.analytics.yahoo.com www.gstatic.com; media-src 'self' utts.turbotech.com.tw;" />
<add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline'; frame-ancestors 'none'; style-src 'self' 'unsafe-inline' *.typekit.net www.gstatic.com fonts.googleapis.com www.google.com use.fontawesome.com; font-src 'self' data: *.typekit.net fonts.gstatic.com use.fontawesome.com; frame-src 'self' www.youtube.com bid.g.doubleclick.net *.facebook.com; img-src 'self' data: *.openstreetmap.org sp.analytics.yahoo.com www.google.com www.google.com.tw www.googleapis.com clients1.google.com; object-src 'self' flv-player.net; connect-src 'self' *.typekit.net utts.turbotech.com.tw s.yimg.com sp.analytics.yahoo.com www.gstatic.com; media-src 'self' utts.turbotech.com.tw;" />
<add name="Content-Security-Policy" value="default-src 'self'; frame-ancestors 'self'; script-src 'self' 'unsafe-inline' *.typekit.net; font-src 'self' data: *.typekit.net; img-src 'self' data: *.typekit.net; object-src 'self' *.typekit.net; style-src 'self' 'unsafe-inline' *.typekit.net; connect-src 'self' *.typekit.net;" />
-->
          <add name="Content-Security-Policy" value="default-src 'self'; frame-ancestors 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' *.typekit.net api.tgos.tw s.yimg.com sp.analytics.yahoo.com www.gstatic.com www.google.com www.googletagmanager.com www.googleadservices.com googleads.g.doubleclick.net; style-src 'self' 'unsafe-inline' *.typekit.net www.gstatic.com fonts.googleapis.com www.google.com use.fontawesome.com; font-src 'self' data: *.typekit.net fonts.gstatic.com use.fontawesome.com; frame-src 'self' www.youtube.com bid.g.doubleclick.net *.facebook.com; img-src 'self' data: *.openstreetmap.org sp.analytics.yahoo.com www.google.com www.google.com.tw www.googleapis.com clients1.google.com; object-src 'self' flv-player.net; connect-src 'self' *.typekit.net utts.turbotech.com.tw s.yimg.com sp.analytics.yahoo.com www.gstatic.com; media-src 'self' utts.turbotech.com.tw;" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Strict-Transport-Security" value="max-age=31536000;includeSubDomains" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <verbs allowUnlisted="false">
            <add verb="GET" allowed="true" />
            <add verb="POST" allowed="true" />
            <add verb="HEAD" allowed="true" />
          </verbs>
          <!-- 限制 QueryString 長度最大 4 KB，上傳檔案長度最大 32 MB -->
          <requestLimits maxQueryString="4096" maxAllowedContentLength="33554432">
            <headerLimits>
              <add header="X-HTTP-METHOD" sizeLimit="0" />
              <add header="X-HTTP-METHOD-OVERRIDE" sizeLimit="0" />
              <add header="X-METHOD-OVERRIDE" sizeLimit="0" />
            </headerLimits>
          </requestLimits>
          <hiddenSegments>
            <add segment="logs" />
            <add segment=".svn" />
          </hiddenSegments>
          <fileExtensions allowUnlisted="true">
            <remove fileExtension=".mdb" />
            <add fileExtension=".mdb" allowed="true" />
          </fileExtensions>
        </requestFiltering>
      </security>
      <staticContent>
        <remove fileExtension=".eot" />
        <remove fileExtension=".otf" />
        <remove fileExtension=".ttf" />
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <remove fileExtension=".svg" />
        <remove fileExtension=".7z" />
        <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
        <mimeMap fileExtension=".otf" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
        <mimeMap fileExtension=".odt" mimeType="application/vnd.oasis.opendocument.text" />
      </staticContent>
    </system.webServer>
  </location>

  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
