@charset "utf-8";

//  Mixins > Background mask
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// @include squareBackground($gray-50);
@mixin squareBackground($color: $gray-50) {
  background-color: $color;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient($color, $color), radial-gradient(circle, rgba($dark, 0.2) 30%, rgba($white, 0) 31%);
  background-size: 40% 10em, 1em 1em;
  background-position: 0 50%, 50% 50%;
}

// @include defaultBackground($gray-50);
@mixin defaultBackground($color: $gray-50) {
  background-color: $color;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f6e1e1' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin ios-bg {
  background: linear-gradient(114.95deg, rgba(235, 0, 255, 0.5) 0%, rgba(0, 71, 255, 0) 34.35%), linear-gradient(180deg, #004B5B 0%, #FFA7A7 100%), linear-gradient(244.35deg, #FFB26A 0%, #3676B1 50.58%, #00A3FF 100%), linear-gradient(244.35deg, #FFFFFF 0%, #004A74 49.48%, #FF0000 100%), radial-gradient(100% 233.99% at 0% 100%, #B70000 0%, #AD00FF 100%), linear-gradient(307.27deg, #1DAC92 0.37%, #2800C6 100%), radial-gradient(100% 140% at 100% 0%, #EAFF6B 0%, #006C7A 57.29%, #2200AA 100%);
}

@mixin bg-paper-body($params) {
  background-color: #C8C2AA;
  background-size: 4px 4px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px), linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px);
  box-shadow: inset 0 0 150px rgb(77 73 62 / 40%), inset 0 0 150px rgb(77 73 62 / 30%);
}

@mixin bg-paper-container($params) {
  background-image: linear-gradient(90deg, rgba(77, 73, 62, 0.2), rgba(77, 73, 62, 0.2) 14px, transparent 14px, transparent 20px, rgba(77, 73, 62, 0.2) 20px, rgba(77, 73, 62, 0.2) 23px, transparent 23px);
}

// @includebg-square-mask(4rem 8rem,$white ,  $border) ;
@mixin bg-square-mask($size: 4rem 8rem, $color: $white, $border: $border) {
  background: linear-gradient(135deg, $color 1.375rem, $border 1.375rem, $border 1.5rem, transparent 1.5rem, transparent 4.1875rem, $border 4.1875rem, $border 4.3125rem, transparent 4.3125rem), linear-gradient(225deg, $color 1.375rem, $border 1.375rem, $border 1.5rem, transparent 1.5rem, transparent 4.1875rem, $border 4.1875rem, $border 4.3125rem, transparent 4.3125rem) 0 4rem;
  background-color: $color;
  background-size: $size;
}

// @include bg-grad-mask-bottom($h: 16rem, $color: $white) ;
@mixin bg-grad-mask-bottom($h: 16rem, $color: $white) {
  content: '';
  width: 100%;
  height: $h;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(3.65deg, $color 22.5%, rgba($color, 0) 102.5%);
}

// @include bg-grad-mask-rotatee($size: .625rem,$opacity: 0.04);
@mixin bg-grad-mask-rotate($size: 0.625rem, $opacity: 0.04) {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: $opacity;
    background-image: repeating-linear-gradient(45deg, currentColor 25%, transparent 25%, transparent 75%, currentColor 75%, currentColor), repeating-linear-gradient(45deg, currentColor 25%, transparent 25%, transparent 75%, currentColor 75%, currentColor);
    background-position: 0 0, $size $size;
    background-size: calc(2 * $size) calc(2 * $size);
    z-index: 0;
  }
}

// @include bg-grad-slash($bg: #f4f5e3, $line: #a3ccba);
@mixin bg-grad-slash($bg: #f4f5e3, $line: #a3ccba) {
  position: relative;
  background: $bg;
  background-image: escape-svg(url('data:image/svg+xml,%3Csvg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#{$line}" width="12px" height="12px" viewBox="6.375 6.375 12 12" enable-background="new 6.375 6.375 12 12" xml:space="preserve"%3E%3Cpath d="M7.082,18.375H6.375v-0.707L17.668,6.375h0.707v0.707L7.082,18.375z M18.375,18.375v-0.707l-0.707,0.707H18.375z M7.082,6.375H6.375v0.707L7.082,6.375z" /%3E%3C/svg%3E'));

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, $bg, transparent);
    background-size: 400%;
    background-position: top;
    z-index: -1;
  }
}

// @include bg-grad-colorful(limegreen, skyblue , coral );
@mixin bg-grad-colorful($color1: limegreen, $color2: skyblue, $color3: coral) {
  background: linear-gradient($color1, transparent), linear-gradient(90deg, $color2, transparent), linear-gradient(-90deg, $color3, transparent);
  background-blend-mode: screen;
}

// @include scrim-gradient(#000);
@function scrim-gradient($color: #000) {
  $scrim-gradient: (1: 0%, 0.738: 19%, 0.541: 34%, 0.382: 47%, 0.278: 56.5%, 0.194: 65%, 0.126: 73%, 0.075: 80.2%, 0.042: 86.1%, 0.021: 91%, 0.008: 95.2%, 0.002: 98.2%, 0: 100%);

  @if type-of($color) != color {
    @return null;
  }

  $rgba: "#{red($color)},#{green($color)},#{blue($color)}";
  $color-stops: ();

  @each $alpha, $stop in $scrim-gradient {
    $color-stops: append($color-stops, unquote("rgba(#{$rgba}, #{$alpha}) #{$stop}"), "comma");
  }

  @return $color-stops;
}

// @include easeOutSine-gradient(#000);
@function easeOutSine-gradient($color: #000) {
  $easeOutSine-gradient: (1: 0%, 0.917: 5.3%, 0.834: 10.6%, 0.753: 15.9%, 0.672: 21.3%, 0.591: 26.8%, 0.511: 32.5%, 0.433: 38.4%, 0.357: 44.5%, 0.283: 50.9%, 0.213: 57.7%, 0.147: 65%, 0.089: 72.9%, 0.042: 81.4%, 0.011: 90.6%, 0: 100%);

  @if type-of($color) != color {
    @return null;
  }

  $rgba: "#{red($color)},#{green($color)},#{blue($color)}";
  $color-stops: ();

  @each $alpha, $stop in $easeOutSine-gradient {
    $color-stops: append($color-stops, unquote("rgba(#{$rgba}, #{$alpha}) #{$stop}"), "comma");
  }

  @return $color-stops;
}

// @include bg-diamond(#EDC951, 5rem);
@mixin bg-diamond($bg: #f4f5e3, $size: 5rem) {
  --s: #{$size};
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $bg;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: calc(var(--s) / 4);
    background: conic-gradient(from -41deg, #a788e0 20deg, #cdb1fe 0 62deg, #a586e0 0 82deg, #0000 0) 0 calc(var(--s)/4), conic-gradient(from 150deg at 75% 75%, #c3abf1 52deg, #0000 0) 0 calc(var(--s)/4), conic-gradient(from 158deg at 25% 75%, #cfafff 52deg, #0000 0) 0 calc(var(--s)/4), conic-gradient(from 143deg at 50% 75%, #e9e5ff 74deg, #0000 0) 0 calc(var(--s)/4), conic-gradient(from -40deg at 66.5% 27%, #ddd3f7 60deg, #0000 0), conic-gradient(from -20deg at 33.5% 27%, #dcd2fe 60deg, #0000 0);
    background-size: calc(1.1547*var(--s)) var(--s);
    filter: drop-shadow(0 0 6px rgba($dark, 0.24));
  }
}