@using WKEFSERVICE.Models;
@using WKEFSERVICE.Services;
@using WKEFSERVICE.DataLayers;
@using WKEFSERVICE.Areas.A1.Models;
@model C102MViewModel
@{
    SessionModel sm = SessionModel.Get();

    string LoginUserNo = (sm.UserInfo != null) ? sm.UserInfo.UserNo : "";

    string LoginCharacter = (sm.UserInfo != null) ? sm.UserInfo.LoginCharacter : "";
}

@if (Model.Detail.Attacheds != null && Model.Detail.Attacheds.Count() > 0)
{
    for (int i = 0; i < Model.Detail.Attacheds.Count; i++)
    {
        var item = Model.Detail.Attacheds[i];
        string tmpType = item.FileNameType.TONotNullString().Replace(".", "");
        string downloadUrl = new AMDAO().UploadPathC104M + item.FileNameNew;

        <li class="t-list-item">
            <a href="@downloadUrl" download="@item.FileNameOrg" data-decoration-offset='4' data-decoration="underline" data-decoration-style='dotted' title="點擊以下載 @item.FileNameOrg">
                @item.FileNameOrg.TONotNullString()
            </a>
        </li>
    }
}
else
{
    <li class="t-list-item" title="尚無上傳檔案" tabindex="0">
        - 尚無上傳檔案 -
    </li>
}
