
// zindex
// =========================================================

$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-navbar:                     1010 !default;
$zindex-navbar-fixed:               1040 !default;
$zindex-header:                     1000 !default;
$zindex-header-fixed:               1030 !default;
$zindex-sidebar:                    1010 !default;
$zindex-sidebar-fixed:              1040 !default;
$zindex-dropdown:                   1000 !default;
$zindex-popover:                    1060 !default;
$zindex-tooltip:                    1070 !default;
$zindex-offcanvas-backdrop:         1040 !default;
$zindex-offcanvas:                  1045 !default;
$zindex-modal:                      1060 !default;
$zindex-modal-background:           1040 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-toast:                      1100 !default;
$zindex-bottom-nav:                 1040 !default;