// Column Divider
// =========================================================

// Borders
$col-divider-width: $border-width !default;
$col-divider-bg-color: $border-color !default;
$col-divider-light-bg-color: rgba($white, 0.1) !default;

// Padding
$col-divider-padding-y: 1.5rem !default;
