

// Gradients
// =========================================================
$gradient-transparent:                                      rgba($white, 0) !default;
$gradient-light:                                            $gray-100 !default;
$gradient-white:                                            $white !default;
$gradient-dark:                                             $dark !default;
$gradient-primary:                                          $primary !default;
$gradient-info:                                             $info !default;
$gradient-success:                                          $success !default;
$gradient-danger:                                           $danger !default;
$gradient-warning:                                          $warning !default;

