@charset "utf-8";

// BORDERs
// =========================================================

$border-style-solid:            solid  							!default;
$border-style-dashed:           dashed 							!default;
$border-style-dotted:           dotted 							!default;
// $border-radius-lg:             0.75rem  				!default;
$border-color:                	$border							!default;
$border-radius:               	0.625rem  				!default;
$border-radius-2xl:            1rem          !default;
$border-radius-xl:            	0.875rem 						!default;
$border-radius-lg:            	0.75rem 				 		  !default;
$border-radius:               	0.625rem  				!default;
$border-radius-md:            	0.5rem 				 		!default;
$border-radius-sm:            	0.375rem 					!default;
$border-radius-xs:            	0.25rem 				 	!default;
$border-radius-xxs:            0.125rem 					!default;

$border-radius-pill:           50%   					 		!default;

$rounded-pill:                 	1e5px  							 !default;
$border-pill:                	  $rounded-pill  !default;

$border-radius-2xl--px:         16px          !default;
$border-radius-xl--px:          14px 							  !default;
$border-radius-lg--px:          12px 							  !default;
$border-radius--px:             10px 							  !default;
$border-radius-md--px:          8px           !default;
$border-radius-sm--px:          6px								  !default;
$border-radius-xs--px:          4px 							  !default;
$border-radius-xxs--px:         2px 							  !default;


$border-radius-rounded:         50% 							  !default;
$border-radius-base:            $border-radius--px  !default;
$border-radius-large:           $border-radius-xl--px !default;
$border-radius-small:           $border-radius-sm--px !default;

$border-width:      2px    !default;
$border-width-rem: .125rem !default;

$border-widths: (
	1: 1px,
	2: 2px,
	3: 3px,
	4: 4px,
	5: 5px) !default;

$border-style:             solid !default;
$border-color-translucent: rgba($black, .175) !default;

$border-dashed-color: $gray-300 !default;



