@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }

<form action="" class="form-horizontal" id="main_form" method="post">
    <!-- breadcrumbs -->
    <section class="t-breadcrumbs-section">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <ul class="t-breadcrumbs">
                    <li class="t-breadcrumbs-item">
                        <a href="#C" title="中央功能區塊, 快速鍵: Alt+C " id="AC" accesskey="C" name="C" class="quicklink t-header-top-list-link">:::</a>
                        目前位置：<a class="t-link" href="~/" title="回首頁">首頁</a>
                    </li>
                    <li class="t-breadcrumbs-item">隱私權及安全政策</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- searchBar -->
    <section id="BtLog" class="bt-section pt-0">
        <div class="container">
            <!--<div class="mask mask_noise_sm"></div>-->
            <div class="row justify-content-between align-items-center">
                <div class="col-sm-12">
                    <div class="t-panel bt-section-search">
                        <!-- 抬頭 -->
                        <div class="bt-section-header t-flex align-items-baseline justify-content-start">
                            <div class="bt-section-heading">隱私權及安全政策</div>
                        </div>
                        <!-- 過濾條件 -->
                        <div class="t-tab-contents">
                            <div id="tab_content_1" class="t-tab-content">
                                <div class="t-form t-txt-left ">
                                    <div class="t-form-inline">
                                        <div class="t-form-group">
                                            &emsp;&emsp;歡迎蒞臨關鍵就業力課程網站，勞動部勞動力發展署尊重並保護您在使用網際網路時的安全及隱私保護，為了幫助您瞭解「關鍵就業力課程網站」如何保護您在使用本網站各項服務的安全、及如何蒐集、應用及保護您所提供的個人資訊，請您詳細閱讀「關鍵就業力課程網站」的隱私保護及安全政策。
                                        </div>
                                    </div>
                                    <strong>網路安全保護措施</strong><br>
                                    <div class="t-form-inline">
                                        <div class="t-form-group">
                                            任何未經授權而企圖上載或更改分署所提供的各項服務及相關資訊的行為，都是嚴厲禁止而且可能觸犯法律。為了網站安全的目的和確保這項服務能夠繼續服務所有的網路使用者，本網站提供了以下的安全保護措施：<br>      (一)、使用網路入侵偵測系統，監控網路流量，以確認未經授權而企圖上載或更改、網頁資訊或蓄意破壞者。<br>
                                            (二)、裝設防火牆防止非法入侵、破壞或竊取資料，以避免網站遭到非法使用，以保障使用者的權益。<br>
                                            (三)、裝設掃毒軟體，定期掃毒，以提供使用者更安全的網頁瀏覽環境。  <br>(四)、不定期摹擬駭客攻擊，演練發生安全事件時的系統回復程序，並提供適當等級的安全防禦。<br>
                                            (五)、每日進行備份作業，將所有資料備份到備援主機。  <br>(六)、自動接收所有來自相關作業系統廠商或應用程式廠商所寄發的安全維護電子信通知，並依照電子信的建議，安裝適當的修改程式(PATCH)。	<br>
                                        </div>
                                    </div>
                                    <strong>隱私保護政策(隱私權保護宣告的適用範圍) </strong><br>
                                    <div class="t-form-inline">
                                        <div class="t-form-group">
                                            &emsp;&emsp;以下的隱私權宣告，適用於您在使用「關鍵就業力課程網站」各項服務時，所涉及的個人資料蒐集、運用與保護，但不適用於與本網站相互連結之各政府機關網站。凡經由「關鍵就業力課程網站」連結之網站，各網站均有其專屬之隱私權政策，「關鍵就業力課程網站」不負任何連帶責任。當您連結這些網站時，關於人資料的保護，適用各該網站的隱私權政策。<br>有關分署個人資料之蒐集及使用方式：<br><br>(一)、單純在「關鍵就業力課程網站」瀏覽及檔案下載行為，本網站並不會蒐集任何有關個人的身份資料。<br>  (二)、利用「關鍵就業力課程網站」所提供的各項線上服務，需申請人提供個人資料時，申請人須依各項業務服務需求提供相關最新、最真實的資料。<br>(三)、網站會記錄使用者上網的IP位址、上網時間以及在網站內所瀏覽的網頁等資料，這些資料係供分署網站管理單位作網站流量和網路行為調查的總量分析，以利於提昇本網站的服務品質，且僅對全體使用者行為總和進行分析，並不會對個別使用者進行分析。<br>  (四)、「關鍵就業力課程網站」有義務保護各申請人隱私，非經您本人同意不會自行修改或刪除任何個人資料及檔案。除非經過您事先同意或符合以下情況始得為之：<br>
                                            &emsp;&emsp;1.違反本網站規定事項，如出現謾罵或做人身攻擊的言論時。<br>
                                            &emsp;&emsp;2.保護或防衛相關個人的權利或所有權。<br>
                                            &emsp;&emsp;3.保護本網站各相關單位之權益。<br>  (五)、「關鍵就業力課程網站」絕不會任意提供出售、交換、或出租任何您的個人資料給其他團體、個人或私人企業。但有下列情形者除外：  <br>
                                            &emsp;&emsp;1.配合司法單位合法的調查。<br>
                                            &emsp;&emsp;2.配合相關職權機關依業務需要之調查或使用。<br>
                                            &emsp;&emsp;3.基於善意相信揭露為法律需要者。<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="t-panel" style="margin-top: 0px;">
                        <br><br>

                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
