@charset "utf-8";

//  Symbols Lists
// --------------------------------------------------
.t-side {
  .t-side-item {
    border-radius: $border-radius-sm;
    overflow: hidden;
    margin-bottom: 1rem;

    a {
      display: block;

      @include hover {
        opacity: 0.80;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////

.t-news-list {
  position: relative;
  margin-top: 3rem;

  .t-news-list-item {
    position: relative;
    background-color: _var("white", $white);
    border-radius: $border-radius-lg;
    border-bottom: 4px solid _var("grey-50", $grey-50);
    padding: 0.75rem 1rem;
    transition: $transition;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        z-index: 10 - $i;
      }
    }

    @include shadow--hv--ver_5;

    &:not(:last-of-type) {
      margin-bottom: 1rem;

      @include sm {
        margin-bottom: 1.5rem;
      }
    }

    &:hover {
      background-color: $danger-50;
      border-bottom-color: $danger-100;

      .t-news-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cg data-name='Group 209546' transform='translate(-4 -31)'%3E%3Crect width='60' height='60' fill='%23ff5042' data-name='Rectangle 35' opacity='.2' rx='8' transform='translate(4 31)'/%3E%3Cpath fill='%23ff5042' d='M50.6 51a3.9 3.9 0 0 1 0 1.3l-5.7 22.5a3.7 3.7 0 0 1-3.6 2.9H19.4a3.8 3.8 0 0 1-3.6-5l7-22.5a3.7 3.7 0 0 1 3.6-2.6H47a3.7 3.7 0 0 1 3.5 2.3 3.3 3.3 0 0 1 .3 1.1Z' data-name='Vector' opacity='.4'/%3E%3Cpath fill='%23ff5042' d='M52.3 73.7a3.7 3.7 0 0 1-3.7 4h-7.3a3.7 3.7 0 0 0 3.6-2.9l5.7-22.5a3.9 3.9 0 0 0 0-1.3ZM30.1 52.9a1.8 1.8 0 0 1-.3 0 1.3 1.3 0 0 1-.9-1.6l1.7-7.2a1.3 1.3 0 0 1 1.6-.9 1.3 1.3 0 0 1 .9 1.5L31.3 52a1.2 1.2 0 0 1-1.2 1Z' data-name='Vector'/%3E%3Cg data-name='Group'%3E%3Cpath fill='%23ff5042' d='M41.3 52.9a.7.7 0 0 1-.3 0 1.3 1.3 0 0 1-1-1.5l1.6-7.3a1.3 1.3 0 0 1 1.5-1 1.3 1.3 0 0 1 1 1.6l-1.6 7.2a1.2 1.2 0 0 1-1.2 1Z' data-name='Vector'/%3E%3C/g%3E%3Cg data-name='Group'%3E%3Cpath fill='%23ff5042' d='M40.2 62.3H26.8a1.3 1.3 0 0 1-1.2-1.3 1.3 1.3 0 0 1 1.2-1.3h13.4a1.3 1.3 0 0 1 1.2 1.3 1.3 1.3 0 0 1-1.2 1.3Z' data-name='Vector'/%3E%3C/g%3E%3Cg data-name='Group'%3E%3Cpath fill='%23ff5042' d='M38.5 69H25.2a1.3 1.3 0 0 1-1.3-1.3 1.3 1.3 0 0 1 1.3-1.3h13.3a1.3 1.3 0 0 1 1.3 1.3 1.3 1.3 0 0 1-1.3 1.2Z' data-name='Vector'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        transform: scale(1.25);
        transition: $transition;
      }

      .t-news-txt {
        font-size: 110%;
        font-weight: 500;
        color: $danger;
        transition: $transition;
      }

      .t-news-date {
        // background-color: _var("white", $white);
        background-color: $danger-200;
        transition: $transition;
      }
    }
  }

  .t-news-cnt {
    position: relative;
    border-radius: inherit;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include sm {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }


    .t-card-pin {
      position: absolute;
      opacity: 0.4;
      top: 3.25rem;
      left: 0;
      transform: rotate(-5deg);
      width: .75rem;
      height: .75rem;
      background-color: _var("dark", $dark);
      border-radius: 50%;
      box-shadow: 0 0 0 2px $white, 0 0 0 3px $dark;
      transform: rotate(160deg);
      z-index: 1;

      &:before,
      &:after {
        content: "";
        display: block;
        border-radius: 50%;
        position: absolute;
        transition: $transition;
      }

      &:before {
        width: .75rem;
        height: .75rem;
        background-color: $dark;
        border-radius: 50%;
        left: calc(50% - .375rem);
        top: -2.75rem;
      }

      &:after {
        width: .375rem;
        background-color: $white;
        border: 1px solid $grey-400;
        border-radius: 1rem;
        height: 3.125rem;
        left: calc(50% - .1875rem);
        bottom: .1875rem;
      }

      @include sm {
        top: 8rem;
      }
    }

    .t-news-icon {
      width: 3rem;
      height: 3rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg data-name='Group 209547' transform='translate(-4 -31)'%3E%3Crect width='48' height='48' fill='%23979797' data-name='Rectangle 35' opacity='.2' rx='8' transform='translate(4 31)'/%3E%3Cpath fill='%23979797' d='M41.3 47a3.1 3.1 0 0 1 0 1l-4.6 18a3 3 0 0 1-2.9 2.3H16.3a3 3 0 0 1-2.8-3.9l5.6-18a3 3 0 0 1 2.8-2.1h16.4a3 3 0 0 1 2.8 1.8 2.7 2.7 0 0 1 .2 1Z' data-name='Vector' opacity='.4'/%3E%3Cpath fill='%23979797' d='M42.7 65.2a3 3 0 0 1-3 3.1h-5.9a3 3 0 0 0 3-2.2l4.4-18a3.1 3.1 0 0 0 .1-1V47ZM24.9 48.5a1.5 1.5 0 0 1-.2 0 1 1 0 0 1-.8-1.2l1.4-5.8a1 1 0 0 1 1.2-.7 1 1 0 0 1 .8 1.2l-1.4 5.7a1 1 0 0 1-1 .8Z' data-name='Vector'/%3E%3Cg data-name='Group'%3E%3Cpath fill='%23979797' d='M33.8 48.5a.6.6 0 0 1-.2 0 1 1 0 0 1-.7-1.2l1.2-5.8a1 1 0 0 1 1.2-.8A1 1 0 0 1 36 42l-1.3 5.8a1 1 0 0 1-1 .8Z' data-name='Vector'/%3E%3C/g%3E%3Cg data-name='Group'%3E%3Cpath fill='%23979797' d='M33 56H22.2a1 1 0 0 1-1-1 1 1 0 0 1 1-1h10.6a1 1 0 0 1 1 1 1 1 0 0 1-1 1Z' data-name='Vector'/%3E%3C/g%3E%3Cg data-name='Group'%3E%3Cpath fill='%23979797' d='M31.6 61.3H20.9a1 1 0 0 1-1-1 1 1 0 0 1 1-1h10.7a1 1 0 0 1 1 1 1 1 0 0 1-1 1Z' data-name='Vector'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include sm {
        margin-bottom: 1rem;
      }
    }

    .t-news-label {
      position: absolute;
      right: .5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 4rem;
      user-select: none;

      .new-icons {
        width: 4rem;
        height: 4rem;
      }
    }

    .t-news-date {
      background-color: $grey-100;
      border-radius: 1rem;
      color: _var("dark", $dark);
      padding: 0.375rem 1rem;
      margin-right: .5rem;
      margin-left: 1rem;
      user-select: none;
      white-space: nowrap;

      .date-year {
        font-size: .8125rem;
        color: $grey-500;
        font-weight: 500;
      }

      .date-month {
        font-size: 0.9375rem;
        font-weight: 400;
      }

      .date-day {
        font-size: .8125rem;
        color: $grey-500;
        font-weight: 300;
        margin-left: .5rem;
      }

      @include sm {
        margin-bottom: 1rem;
        margin-left: 0;
      }
    }

    .t-news-txt {
      width: 80%;
      color: _var("dark", $dark);
      font-size: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;

      @include sm {
        margin-bottom: 0.5rem;
        margin-left: 0;
      }
    }

    .t-news-unit {
      position: relative;
      font-size: .8125rem;
      color: $neutral-600;
      white-space: nowrap;
      align-self: end;
      padding-left: 2rem;

      &:before {
        content: '';
        position: absolute;
        left: 0.375rem;
        top: 50%;
        transform: translateY(-50%);
        @extend .brand-wda-logo-circle;
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////
.t-news-list-backend {
  position: relative;
  width: 100%;

  .t-news-list-item {
    position: relative;
    background-color: $grey-25;
    border-radius: $border-radius-lg;
    border: 1px solid rgba($dark, 0.06);
    padding: 0.75rem;
    transition: $transition-base;

    &.t-news-list-item-teacher {
      background-color: $primary-25;

      .t-news-txt {
        color: $primary-800;
      }

      .t-news-btn {
        @extend .btn--primary;
      }

      .t-news-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cg data-name='Group 209546' transform='translate(-4 -31)'%3E%3Crect width='60' height='60' fill='%237a79ff' data-name='Rectangle 35' opacity='.2' rx='8' transform='translate(4 31)'/%3E%3Cpath fill='%237a79ff' d='M50.65 51.033a3.9 3.9 0 0 1-.1 1.233l-5.617 22.55a3.713 3.713 0 0 1-3.633 2.85H19.4a3.769 3.769 0 0 1-3.567-4.883l7.017-22.55a3.736 3.736 0 0 1 3.567-2.633h20.5a3.689 3.689 0 0 1 3.45 2.283 3.333 3.333 0 0 1 .283 1.15Z' data-name='Vector' opacity='.4'/%3E%3Cpath fill='%237a79ff' d='M52.317 73.7a3.683 3.683 0 0 1-3.683 3.967H41.3a3.713 3.713 0 0 0 3.633-2.85l5.617-22.55a3.9 3.9 0 0 0 .1-1.234l.017-.033ZM30.133 52.885a1.836 1.836 0 0 1-.3-.033 1.251 1.251 0 0 1-.916-1.519l1.733-7.2a1.265 1.265 0 0 1 1.517-.917 1.252 1.252 0 0 1 .913 1.517l-1.73 7.2a1.247 1.247 0 0 1-1.217.952Z' data-name='Vector'/%3E%3Cg data-name='Group'%3E%3Cpath fill='%237a79ff' d='M41.3 52.9a.734.734 0 0 1-.267-.033 1.276 1.276 0 0 1-.966-1.483l1.567-7.234a1.263 1.263 0 0 1 1.483-.966 1.276 1.276 0 0 1 .967 1.483L42.517 51.9a1.23 1.23 0 0 1-1.217 1Z' data-name='Vector'/%3E%3C/g%3E%3Cg data-name='Group'%3E%3Cpath fill='%237a79ff' d='M40.166 62.25H26.833a1.259 1.259 0 0 1-1.25-1.25 1.259 1.259 0 0 1 1.25-1.25h13.333a1.259 1.259 0 0 1 1.25 1.25 1.259 1.259 0 0 1-1.25 1.25Z' data-name='Vector'/%3E%3C/g%3E%3Cg data-name='Group'%3E%3Cpath fill='%237a79ff' d='M38.5 68.917H25.167a1.259 1.259 0 0 1-1.25-1.25 1.259 1.259 0 0 1 1.25-1.25H38.5a1.259 1.259 0 0 1 1.25 1.25 1.259 1.259 0 0 1-1.25 1.25Z' data-name='Vector'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }

      [class^='t-ribbon'] {
        &:before {
          content: '';
          position: absolute;
          left: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
          width: 1.5rem;
          height: 1.5rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cg data-name='Group 220246' transform='translate(-535 -710)'%3E%3Crect width='36' height='36' fill='%23281949' data-name='Rectangle 173359' opacity='.8' rx='18' transform='translate(535 710)'/%3E%3Cg fill='%23fff' data-name='Group 220243'%3E%3Cpath d='M558.788 719.359a.636.636 0 0 0-.586-.067 5 5 0 0 1-3.717 0 .636.636 0 0 0-.587.067.618.618 0 0 0-.276.519v5.023a.632.632 0 0 0 .628.628.632.632 0 0 0 .628-.628v-1.658a6.216 6.216 0 0 0 1.465.184 6.256 6.256 0 0 0 2.327-.452.631.631 0 0 0 .393-.586v-2.511a.618.618 0 0 0-.275-.519Z' data-name='Vector' opacity='.4'/%3E%3Cpath d='M562.622 735.994h-1.046v-8.581a2.831 2.831 0 0 0-3.14-3.14h-8.372a2.831 2.831 0 0 0-3.14 3.14v8.581h-1.046a.628.628 0 1 0 0 1.256h16.744a.628.628 0 0 0 0-1.256Zm-2.302-7.121v7.116h-2.1v-7.116Zm-6.706 7.121h-2.093v-7.121h2.093Zm1.256-7.121h2.093v7.116h-2.093Zm-6.69 0h2.085v7.116h-2.085Z' data-name='Vector'/%3E%3C/g%3E%3Cg fill='%23fff' data-name='vuesax/bulk/user-octagon'%3E%3Cpath d='M549.783 719.575v2.85a1.322 1.322 0 0 1-.654 1.138l-2.475 1.428a1.318 1.318 0 0 1-1.312 0l-2.476-1.429a1.312 1.312 0 0 1-.654-1.137v-2.85a1.322 1.322 0 0 1 .654-1.142l2.475-1.425a1.318 1.318 0 0 1 1.312 0l2.476 1.425a1.317 1.317 0 0 1 .654 1.142Z' data-name='Vector' opacity='.4'/%3E%3Cpath d='M546.971 720.029a.971.971 0 1 1-.971-.971.971.971 0 0 1 .971.971Zm.146 2.912a.418.418 0 0 0 .348-.658 1.754 1.754 0 0 0-1.465-.7 1.754 1.754 0 0 0-1.462.7.418.418 0 0 0 .346.654Z' data-name='Vector'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
        }
      }

      &:hover {
        background-color: $primary-50;

        .t-news-txt {
          color: $primary-600;
        }
      }
    }

    &.t-news-list-item-branch {
      background-color: $info-25;

      .t-news-txt {
        color: $info-800;
      }

      .t-news-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cg data-name='Group 209546' transform='translate(-4 -31)'%3E%3Crect width='60' height='60' fill='%233f87bf' data-name='Rectangle 35' opacity='.2' rx='8' transform='translate(4 31)'/%3E%3Cpath fill='%233f87bf' d='M50.65 51.033a3.9 3.9 0 0 1-.1 1.233l-5.617 22.55a3.713 3.713 0 0 1-3.633 2.85H19.4a3.769 3.769 0 0 1-3.567-4.883l7.017-22.55a3.736 3.736 0 0 1 3.567-2.633h20.5a3.689 3.689 0 0 1 3.45 2.283 3.333 3.333 0 0 1 .283 1.15Z' data-name='Vector' opacity='.4'/%3E%3Cpath fill='%233f87bf' d='M52.317 73.7a3.683 3.683 0 0 1-3.683 3.967H41.3a3.713 3.713 0 0 0 3.633-2.85l5.617-22.55a3.9 3.9 0 0 0 .1-1.234l.017-.033ZM30.133 52.885a1.836 1.836 0 0 1-.3-.033 1.251 1.251 0 0 1-.916-1.519l1.733-7.2a1.265 1.265 0 0 1 1.517-.917 1.252 1.252 0 0 1 .913 1.517l-1.73 7.2a1.247 1.247 0 0 1-1.217.952Z' data-name='Vector'/%3E%3Cg data-name='Group'%3E%3Cpath fill='%233f87bf' d='M41.3 52.9a.734.734 0 0 1-.267-.033 1.276 1.276 0 0 1-.966-1.483l1.567-7.234a1.263 1.263 0 0 1 1.483-.966 1.276 1.276 0 0 1 .967 1.483L42.517 51.9a1.23 1.23 0 0 1-1.217 1Z' data-name='Vector'/%3E%3C/g%3E%3Cg data-name='Group'%3E%3Cpath fill='%233f87bf' d='M40.166 62.25H26.833a1.259 1.259 0 0 1-1.25-1.25 1.259 1.259 0 0 1 1.25-1.25h13.333a1.259 1.259 0 0 1 1.25 1.25 1.259 1.259 0 0 1-1.25 1.25Z' data-name='Vector'/%3E%3C/g%3E%3Cg data-name='Group'%3E%3Cpath fill='%233f87bf' d='M38.5 68.917H25.167a1.259 1.259 0 0 1-1.25-1.25 1.259 1.259 0 0 1 1.25-1.25H38.5a1.259 1.259 0 0 1 1.25 1.25 1.259 1.259 0 0 1-1.25 1.25Z' data-name='Vector'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }

      [class^='t-ribbon'] {
        &:before {
          content: '';
          position: absolute;
          left: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
          width: 1.5rem;
          height: 1.5rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cg data-name='Group 220246' transform='translate(-535 -710)'%3E%3Crect width='36' height='36' fill='%23083558' data-name='Rectangle 173359' opacity='.8' rx='18' transform='translate(535 710)'/%3E%3Cg data-name='Group 220242'%3E%3Cpath fill='%23fff' d='M553.488 724.6a3.1 3.1 0 0 0-.088.8v2.4h-4v-1.6a1.6 1.6 0 0 1 1.6-1.6Z' data-name='Vector' opacity='.6'/%3E%3Cpath fill='%23fff' d='M553.4 736.6v-8.8h-4a2.121 2.121 0 0 0-2.4 2.4v6.4a2.121 2.121 0 0 0 2.4 2.4h6.4a2.121 2.121 0 0 1-2.4-2.4Zm-2.6-1.6a.6.6 0 0 1-1.2 0v-3.2a.6.6 0 0 1 1.2 0Z' data-name='Vector'/%3E%3Cpath fill='%23fff' d='M556.6 739h-.8a2.121 2.121 0 0 1-2.4-2.4v-11.2a2.121 2.121 0 0 1 2.4-2.4h4.8a2.121 2.121 0 0 1 2.4 2.4v11.2a2.121 2.121 0 0 1-2.4 2.4h-.8' data-name='Vector' opacity='.4'/%3E%3Cpath fill='%23fff' d='M559.8 735.8v3.2h-3.2v-3.2a.8.8 0 0 1 .8-.8h1.6a.8.8 0 0 1 .8.8Zm-3.2-3.4a.6.6 0 0 1-.6-.6v-4a.6.6 0 0 1 .6-.6.6.6 0 0 1 .6.6v4a.6.6 0 0 1-.6.6Z' data-name='Vector'/%3E%3Cg data-name='Group'%3E%3Cpath fill='%23fff' d='M559.8 732.4a.6.6 0 0 1-.6-.6v-4a.6.6 0 0 1 .6-.6.6.6 0 0 1 .6.6v4a.6.6 0 0 1-.6.6Z' data-name='Vector'/%3E%3C/g%3E%3C/g%3E%3Cg fill='%23fff'%3E%3Cpath d='M550.592 720.521a3.594 3.594 0 0 0-3.592-2.792 3.593 3.593 0 0 0-3.6 2.787c-.483 2.151.833 3.971 2.025 5.113a2.259 2.259 0 0 0 3.146 0c1.191-1.142 2.508-2.958 2.021-5.108Z' data-name='Vector' opacity='.4'/%3E%3Cpath d='M548.313 721.296a1.313 1.313 0 1 1-1.312-1.313 1.312 1.312 0 0 1 1.312 1.313Z' data-name='Vector'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
        }
      }

      &:hover {
        background-color: $info-50;

        .t-news-txt {
          color: $info-600;
        }
      }
    }

    &.t-news-list-item-unit {
      background-color: $tertiary-25;

      .t-news-txt {
        color: $tertiary-800;
      }

      .t-news-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cg data-name='Group 209546' transform='translate(-4 -31)'%3E%3Crect width='60' height='60' fill='%232dbecd' data-name='Rectangle 35' opacity='.2' rx='8' transform='translate(4 31)'/%3E%3Cpath fill='%232dbecd' d='M50.65 51.033a3.9 3.9 0 0 1-.1 1.233l-5.617 22.55a3.713 3.713 0 0 1-3.633 2.85H19.4a3.769 3.769 0 0 1-3.567-4.883l7.017-22.55a3.736 3.736 0 0 1 3.567-2.633h20.5a3.689 3.689 0 0 1 3.45 2.283 3.333 3.333 0 0 1 .283 1.15Z' data-name='Vector' opacity='.4'/%3E%3Cpath fill='%232dbecd' d='M52.317 73.7a3.683 3.683 0 0 1-3.683 3.967H41.3a3.713 3.713 0 0 0 3.633-2.85l5.617-22.55a3.9 3.9 0 0 0 .1-1.234l.017-.033ZM30.133 52.885a1.836 1.836 0 0 1-.3-.033 1.251 1.251 0 0 1-.916-1.519l1.733-7.2a1.265 1.265 0 0 1 1.517-.917 1.252 1.252 0 0 1 .913 1.517l-1.73 7.2a1.247 1.247 0 0 1-1.217.952Z' data-name='Vector'/%3E%3Cg data-name='Group'%3E%3Cpath fill='%232dbecd' d='M41.3 52.9a.734.734 0 0 1-.267-.033 1.276 1.276 0 0 1-.966-1.483l1.567-7.234a1.263 1.263 0 0 1 1.483-.966 1.276 1.276 0 0 1 .967 1.483L42.517 51.9a1.23 1.23 0 0 1-1.217 1Z' data-name='Vector'/%3E%3C/g%3E%3Cg data-name='Group'%3E%3Cpath fill='%232dbecd' d='M40.166 62.25H26.833a1.259 1.259 0 0 1-1.25-1.25 1.259 1.259 0 0 1 1.25-1.25h13.333a1.259 1.259 0 0 1 1.25 1.25 1.259 1.259 0 0 1-1.25 1.25Z' data-name='Vector'/%3E%3C/g%3E%3Cg data-name='Group'%3E%3Cpath fill='%232dbecd' d='M38.5 68.917H25.167a1.259 1.259 0 0 1-1.25-1.25 1.259 1.259 0 0 1 1.25-1.25H38.5a1.259 1.259 0 0 1 1.25 1.25 1.259 1.259 0 0 1-1.25 1.25Z' data-name='Vector'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }

      [class^='t-ribbon'] {
        &:before {
          content: '';
          position: absolute;
          left: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
          width: 1.5rem;
          height: 1.5rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cg data-name='Group 220246' transform='translate(-535 -710)'%3E%3Crect width='36' height='36' fill='%23175f67' data-name='Rectangle 173359' opacity='.8' rx='18' transform='translate(535 710)'/%3E%3Cg fill='%23fff' data-name='Component 94 – 9'%3E%3Cpath d='M562.97 728.909H543v-6.499a4.415 4.415 0 0 1 4.41-4.41h11.15a4.415 4.415 0 0 1 4.41 4.41v6.5Zm-11.37-3.246a12.3 12.3 0 0 0 .409 1.626.177.177 0 0 1 .006.049v.006a.19.19 0 0 0 0 .032 3.938 3.938 0 0 0 1.954 0v-.037a.382.382 0 0 1 .007-.05 11.163 11.163 0 0 0 .424-1.626 12.074 12.074 0 0 1-1.4.089 12.073 12.073 0 0 1-1.4-.089Zm4.965-.428a12.247 12.247 0 0 1-1.486.337 12.776 12.776 0 0 1-.366 1.535 4.046 4.046 0 0 0 1.861-1.827.047.047 0 0 0 0-.016.05.05 0 0 1 0-.028Zm-7.137 0a.1.1 0 0 1 0 .016v.008a.1.1 0 0 0 0 .016 4 4 0 0 0 1.8 1.8.072.072 0 0 0 .018 0 .074.074 0 0 1 .021 0 13.027 13.027 0 0 1-.335-1.49 12.559 12.559 0 0 1-1.494-.337ZM553 721.9a12.219 12.219 0 0 0-1.506.094 11.993 11.993 0 0 0 .001 3.006 12.207 12.207 0 0 0 1.505.1 12.175 12.175 0 0 0 1.505-.1 11.947 11.947 0 0 0 0-3.011A12.172 12.172 0 0 0 553 721.9Zm2.165.2a12.581 12.581 0 0 1 0 2.791 11.729 11.729 0 0 0 1.622-.407.275.275 0 0 1 .054-.005h.036a4.125 4.125 0 0 0 .123-.979 4.077 4.077 0 0 0-.123-.976.368.368 0 0 1-.083-.011h-.006a11.184 11.184 0 0 0-1.622-.413Zm-4.33 0a11.749 11.749 0 0 0-1.624.409.436.436 0 0 1-.05.008h-.037a4.161 4.161 0 0 0-.124.983 4.2 4.2 0 0 0 .123.98h.035a.254.254 0 0 1 .052.005 10.91 10.91 0 0 0 1.624.407 13.009 13.009 0 0 1 0-2.791Zm3.88-2.211a11.406 11.406 0 0 1 .366 1.528 12.568 12.568 0 0 1 1.526.364 4.018 4.018 0 0 0-1.892-1.892Zm-3.495.03a4.07 4.07 0 0 0-1.827 1.864 11.693 11.693 0 0 1 1.537-.36 12.269 12.269 0 0 1 .332-1.488.056.056 0 0 1-.021-.006.054.054 0 0 0-.019-.007Zm1.78 1.339a12.637 12.637 0 0 1 1.4.078 11.423 11.423 0 0 0-.409-1.624.343.343 0 0 1-.006-.041v-.009a.37.37 0 0 0 0-.038 3.883 3.883 0 0 0-1.954 0 .249.249 0 0 0 0 .032.2.2 0 0 1-.006.055 11.471 11.471 0 0 0-.425 1.624 12.687 12.687 0 0 1 1.4-.077Z' data-name='Exclusion 11' opacity='.4'/%3E%3Cpath d='M543 728.92v.2a4.411 4.411 0 0 0 4.41 4.41h3.84a1 1 0 0 1 1 1v.97a1 1 0 0 1-1 1h-2.42a.75.75 0 0 0 0 1.5h8.35a.75.75 0 1 0 0-1.5h-2.42a1 1 0 0 1-1-1v-.97a1 1 0 0 1 1-1h3.81a4.411 4.411 0 0 0 4.41-4.41v-.2Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
      }

      &:hover {
        background-color: $tertiary-50;

        .t-news-txt {
          color: $tertiary-600;
        }
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 0.75rem;
    }

    &:hover {
      background-color: $danger-100;

      .t-news-icon {
        transform: scale(1.125);
      }

      .t-news-txt {
        color: $danger;
      }

      .t-news-date {
        background-color: _var("white", $white);
      }
    }
  }

  [class^='t-ribbon'] {
    position: absolute;
    font-size: 0.75rem;
    right: 0;
    top: 0.25rem;
    padding-left: 2.5rem;
  }

  .t-news-cnt-main {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding-left: 1rem;
    padding-right: 4rem;

    @include sm {
      .t-news-txt {
        margin-top: 0.5rem;
      }

      .t-news-btn {
        margin-top: 0.5rem;
      }
    }


    @include xs {
      flex-wrap: wrap;

      .t-news-txt {
        flex: 0 0 auto;
      }

      .t-news-btn {
        flex: 0 0 auto;
      }
    }
  }

  .t-news-cnt {
    border-radius: inherit;
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    padding: 0 0.5rem;

    @include col-md-12 {
      .t-flex {
        &:last-of-type {
          padding-left: 1rem;
        }
      }
    }


    @include col-md-6 {
      flex-direction: column;
      align-items: baseline;

      .t-flex {
        &:last-of-type {
          margin-top: .5rem;
        }
      }
    }


    @include sm {
      display: block;
      width: 100%;
      padding: 0.5rem 0 0 0;
    }


    .t-news-icon {
      width: 2rem;
      height: 2rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg data-name='Group 209547' transform='translate(-4 -31)'%3E%3Crect width='48' height='48' fill='%23979797' data-name='Rectangle 35' opacity='.2' rx='8' transform='translate(4 31)'/%3E%3Cpath fill='%23979797' d='M41.3 47a3.1 3.1 0 0 1 0 1l-4.6 18a3 3 0 0 1-2.9 2.3H16.3a3 3 0 0 1-2.8-3.9l5.6-18a3 3 0 0 1 2.8-2.1h16.4a3 3 0 0 1 2.8 1.8 2.7 2.7 0 0 1 .2 1Z' data-name='Vector' opacity='.4'/%3E%3Cpath fill='%23979797' d='M42.7 65.2a3 3 0 0 1-3 3.1h-5.9a3 3 0 0 0 3-2.2l4.4-18a3.1 3.1 0 0 0 .1-1V47ZM24.9 48.5a1.5 1.5 0 0 1-.2 0 1 1 0 0 1-.8-1.2l1.4-5.8a1 1 0 0 1 1.2-.7 1 1 0 0 1 .8 1.2l-1.4 5.7a1 1 0 0 1-1 .8Z' data-name='Vector'/%3E%3Cg data-name='Group'%3E%3Cpath fill='%23979797' d='M33.8 48.5a.6.6 0 0 1-.2 0 1 1 0 0 1-.7-1.2l1.2-5.8a1 1 0 0 1 1.2-.8A1 1 0 0 1 36 42l-1.3 5.8a1 1 0 0 1-1 .8Z' data-name='Vector'/%3E%3C/g%3E%3Cg data-name='Group'%3E%3Cpath fill='%23979797' d='M33 56H22.2a1 1 0 0 1-1-1 1 1 0 0 1 1-1h10.6a1 1 0 0 1 1 1 1 1 0 0 1-1 1Z' data-name='Vector'/%3E%3C/g%3E%3Cg data-name='Group'%3E%3Cpath fill='%23979797' d='M31.6 61.3H20.9a1 1 0 0 1-1-1 1 1 0 0 1 1-1h10.7a1 1 0 0 1 1 1 1 1 0 0 1-1 1Z' data-name='Vector'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-right: 1rem;
    }

    .t-news-label {
      position: absolute;
      right: .5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 4rem;
      user-select: none;

      .new-icons {
        width: 4rem;
        height: 4rem;
      }
    }

    .t-news-txt {
      width: 100%;
      color: _var("dark", $dark);
      font-size: 1.0625rem;
    }

    // .t-ribbon-r-primary {
    //   &:before {
    //     content: '';
    //     position: absolute;
    //     left: 0.5rem;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     width: 1.5rem;
    //     height: 1.5rem;
    //     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cg data-name='Group 220246' transform='translate(-535 -710)'%3E%3Crect width='36' height='36' fill='%23281949' data-name='Rectangle 173359' opacity='.8' rx='18' transform='translate(535 710)'/%3E%3Cg fill='%23fff' data-name='Group 220243'%3E%3Cpath d='M558.788 719.359a.636.636 0 0 0-.586-.067 5 5 0 0 1-3.717 0 .636.636 0 0 0-.587.067.618.618 0 0 0-.276.519v5.023a.632.632 0 0 0 .628.628.632.632 0 0 0 .628-.628v-1.658a6.216 6.216 0 0 0 1.465.184 6.256 6.256 0 0 0 2.327-.452.631.631 0 0 0 .393-.586v-2.511a.618.618 0 0 0-.275-.519Z' data-name='Vector' opacity='.4'/%3E%3Cpath d='M562.622 735.994h-1.046v-8.581a2.831 2.831 0 0 0-3.14-3.14h-8.372a2.831 2.831 0 0 0-3.14 3.14v8.581h-1.046a.628.628 0 1 0 0 1.256h16.744a.628.628 0 0 0 0-1.256Zm-2.302-7.121v7.116h-2.1v-7.116Zm-6.706 7.121h-2.093v-7.121h2.093Zm1.256-7.121h2.093v7.116h-2.093Zm-6.69 0h2.085v7.116h-2.085Z' data-name='Vector'/%3E%3C/g%3E%3Cg fill='%23fff' data-name='vuesax/bulk/user-octagon'%3E%3Cpath d='M549.783 719.575v2.85a1.322 1.322 0 0 1-.654 1.138l-2.475 1.428a1.318 1.318 0 0 1-1.312 0l-2.476-1.429a1.312 1.312 0 0 1-.654-1.137v-2.85a1.322 1.322 0 0 1 .654-1.142l2.475-1.425a1.318 1.318 0 0 1 1.312 0l2.476 1.425a1.317 1.317 0 0 1 .654 1.142Z' data-name='Vector' opacity='.4'/%3E%3Cpath d='M546.971 720.029a.971.971 0 1 1-.971-.971.971.971 0 0 1 .971.971Zm.146 2.912a.418.418 0 0 0 .348-.658 1.754 1.754 0 0 0-1.465-.7 1.754 1.754 0 0 0-1.462.7.418.418 0 0 0 .346.654Z' data-name='Vector'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    //     background-repeat: no-repeat;
    //   }
    // }

  }

  .t-news-btn {
    @extend .btn;

    @include button-pointer($white, 1.25rem, 1.25rem);

    display: flex;
  }
}

//////////////////////////////////////////////////////////////////////
.t-blog-cnt {
  .t-inner {
    line-height: 1.75;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: 0.5px;
    font-size: 0.875rem;
    color: $grey;
    margin-top: 1.5rem;
  }

  .t-blog-info {
    background-color: $grey-50;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;

    .t-definition-list {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .t-inner-sub-heading {
    font-size: 1rem;
    border-bottom: 2px solid $primary-200;
    letter-spacing: 1px;
    margin-top: 2rem;
    padding-bottom: 0.25rem;
    width: 100%;

    .svg-icon {
      color: $primary;
      margin-right: 0.75rem;

      >svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}