@charset "utf-8";

//  Mixins > Text emboss
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// @include text-emboss($color: $primary, $depth: 2)
@mixin text-emboss($color: $primary, $depth: 2) {
  font-weight: 700;

  // color: $color;
  text-shadow: 0 ($depth * 0.01em) ($depth * 0.01em) lighten($color, 15%), 0 ($depth * 0.01em) ($depth * 0em) darken($color, 10%), 0 ($depth * 0.02em) ($depth * 0em) darken($color, 11%), 0 ($depth * 0.03em) ($depth * 0.01em) darken($color, 12%), 0 ($depth * 0.04em) ($depth * 0.02em) darken($color, 13%), 0 ($depth * 0.05em) ($depth * 0.03em) darken($color, 14%), 0 ($depth * 0.06em) ($depth * 0.03em) darken($color, 15%), 0 ($depth * 0.07em) ($depth * 0.02em) darken($color, 16%), 0 ($depth * 0.08em) ($depth * 0.01em) darken($color, 17%), 0 ($depth * 0.09em) ($depth * 0em) darken($color, 18%), 0 ($depth * 0.1em) ($depth * 0em) darken($color, 19%), 0 ($depth * 0.1em) ($depth * 0.04em) rgba($dark, 0.2), 0 ($depth * 0.1em) ($depth * 0.08em) rgba($dark, 0.4), 0 ($depth * 0.1em) ($depth * 0.12em) rgba($dark, 0.6), 0 ($depth * 0.14em) ($depth * 0.1em) rgba($dark, 0.2), 0 ($depth * 0.18em) ($depth * 0.1em) rgba($dark, 0.2);
}
// @include text-emboss-v2($color: $primary, $depth: 2)
@mixin text-emboss-v2($color: $primary, $depth: 2) {
  font-weight: 700;

  // color: $color;
  text-shadow: 0 ($depth * 0.01em) ($depth * 0.01em) lighten($color, 15%), 0 ($depth * 0.01em) ($depth * 0em) darken($color, 10%), 0 ($depth * 0.02em) ($depth * 0em) darken($color, 11%), 0 ($depth * 0.03em) ($depth * 0.01em) darken($color, 12%), 0 ($depth * 0.04em) ($depth * 0.02em) darken($color, 13%), 0 ($depth * 0.05em) ($depth * 0.03em) darken($color, 14%), 0 ($depth * 0.1em) ($depth * 0.04em) rgba($dark, 0.12), 0 ($depth * 0.1em) ($depth * 0.08em) rgba($dark, 0.32), 0 ($depth * 0.18em) ($depth * 0.1em) rgba($dark, 0.12);
}
