//
// Components -> Tables
// --------------------------------------------------
.t-table-cnt {
  border-radius: 12px;
  padding: .25rem 1rem 0.875rem;
  background-color: rgba($grey-100, 0.12);

  @each $color,
  $value in $element-colors {
    &.table--#{$color} {
      background-color: rgba($value, 0.16);

    }
  }

  &.has-title {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.has-footer {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 0;
  }

  &.t-table-responsive {
    // margin-top: .75rem;
    // padding: 1.25rem;
    overflow-x: auto;

    // .t-table {
    //   width: 100%;
    //   max-width: 100%;

    //   thead {
    //     font-weight: 500;

    //     th {
    //       min-width: 4rem;
    //       white-space: nowrap;
    //     }
    //   }

    //   tbody {
    //     tr {
    //       td {
    //         &:not(.tool-td) {
    //           white-space: nowrap;
    //         }
    //       }

    //       .tool-td {
    //         white-space: nowrap;
    //       }
    //     }
    //   }
    // }
  }

  &.t-table-responsive--data {
    overflow-x: auto;

    @media (max-width: $screen-md) {
      padding: 1.25rem 1.5rem 1.75rem;
    }

    .t-table {
      // width: 100%;
      max-width: 100%;

      @media (max-width: $screen-md) {
        min-width: 100%;
        line-height: 1.5;
      }

      thead {
        @media (max-width: $screen-md) {
          display: none;
        }

        th {
          white-space: nowrap;

          // &:not(.check-th) {
          //   &:not(:last-child) {
          //     &:not(:first-child) {
          //       min-width: 10rem;
          //     }
          //   }

          //   &:last-child {
          //     min-width: 12rem;
          //   }


          //   &:first-child {
          //     min-width: 8rem;
          //   }
          // }

          .form-check-input {
            display: inline-block;
            vertical-align: middle;
            // margin: 0 .25rem;
          }

          .btn--xs {
            font-size: .75rem;
          }

          font,
          label {
            display: inline-block;
            vertical-align: middle;
          }

          label {
            margin-bottom: 0;
          }
        }
      }

      tbody {

        tr {
          position: relative;

          @media (max-width: $screen-md) {
            display: block;
            border-radius: 8px;
            font-size: 0;
            padding: 2rem 2rem 2rem 2rem;
          }

          &:not(:last-child) {
            @media (max-width: $screen-md) {
              margin-bottom: 1rem;
            }
          }

          td {
            @media (max-width: $screen-md) {
              font-size: 1.125rem;
              padding: 0.75rem;
            }

            &:not(.tool-td):not(.tool-default-td) {
              @media (max-width: $screen-md) {
                display: inline-block;
                vertical-align: top;
                white-space: initial;
                text-decoration: underline;
                text-decoration-color: #ccc;
                text-decoration-thickness: 2px;
                text-decoration-style: dashed;
                text-decoration-line: underline;
                text-underline-offset: 5px;
              }

              &:not(.td-full) {
                @media (max-width: $screen-md) {
                  width: 50%;
                }

                @media (max-width: 524px) {
                  &.form-td {
                    width: 100%;
                  }
                }
              }

              &.form-td,
              &.not-decoration {
                text-decoration: none;
              }

              &.td-full {
                @media (max-width: $screen-md) {
                  width: 100%;
                }
              }

              &.td-long {
                .td-long-txt {
                  @media (max-width: $screen-md) {
                    width: 100%;
                  }
                }
              }

              &:before {
                @media (max-width: $screen-md) {
                  content: attr(data-th);
                  display: inline-block;
                  width: 100%;
                  white-space: nowrap;
                  font-weight: bolder;
                  margin-right: 1.5rem;
                  margin-bottom: .5rem;
                  color: $grey;
                }
              }
            }

            &.tool-default-td {
              @media (max-width: $screen-md) {
                display: block;
                padding: 0;
                text-align: right;
                position: absolute;
                right: 1rem;
                top: 1rem;
              }

              .btn {
                @media (max-width: $screen-xs) {
                  padding: .25rem .375rem;
                  font-size: 0;

                  font {
                    // font-size: 0;
                  }

                  i {
                    margin-left: .25rem;
                    font-size: 1.5rem;
                  }
                }
              }
            }



            &.tool-td {
              @media (max-width: $screen-md) {
                display: block;
                white-space: inherit;
              }

              .btn {
                @media (max-width: $screen-md) {
                  margin-bottom: .5rem;
                  padding: 0.5rem 1.25rem;
                }

                &:not(:last-child) {
                  @media (max-width: $screen-md) {
                    margin-right: .5rem;
                  }
                }

                i,
                font {
                  @media (max-width: $screen-md) {
                    font-size: 1.125rem;
                  }
                }
              }
            }

            &:not(:last-child) {
              @media (max-width: $screen-md) {
                margin-bottom: .5rem;
              }
            }

            .input-group {
              border-collapse: collapse;
            }

            .dashboard-form-input {
              // padding: .75rem 0;

              .dashboard-form-control {
                font-size: .9375rem;
              }
            }

            .form-check-input {
              display: inline-block;
              vertical-align: middle;
              margin-top: 0;
            }

            .form-switch {
              margin: .25rem 0;

              @media (max-width: $screen-md) {
                display: inline-block;
                vertical-align: middle;
              }
            }

            font {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  .btn-tb-add {
    border: 1px dashed rgba($primary, 0.66);
  }

  // margin-top: 2rem;
  .t-table {
    border-collapse: separate;
    border-spacing: 0 0.75rem;
    line-height: 1.375;
    width: 100%;

    thead {
      font-weight: 500;

      th {
        font-size: 1rem;
        padding: 0.75rem 0.25rem 0.625rem 1.25rem;
      }
    }

    tbody {
      font-size: .9375rem;

      tr {
        background-color: rgba($white, 0.92);
        transition: .25s all ease;

        &:hover {
          background-color: $white;
          box-shadow: 0 2px 14px rgba(0, 0, 0, 0.12);
        }
      }

      td {
        white-space: nowrap;

        &:empty {
          &:after {
            content: '-- -- --';
            font-size: .9375rem;
            color: $grey;
          }

        }

        &:not(:last-child) {
          padding: 1.375rem 0.25rem 1.375rem 1.25rem;
        }

        &:first-child {
          border-radius: 8px 0 0 8px;
        }

        &:last-child {
          border-radius: 0 8px 8px 0;
          padding: 1rem 1.5rem;
        }

        // &.td-long {
        //   white-space: normal;
        //   word-break: break-all;

        //   .td-long-txt {
        //     width: 12rem;
        //   }
        // }

        .dashboard-form-control {
          font-size: .9375rem;
        }
      }

      .tool-td {
        font-size: 0;

        .btn {
          font-size: 0;
          margin-bottom: .25rem;
          margin-top: .25rem;

          &:not(:last-child) {
            margin-right: .5rem;
          }

          i,
          font {
            font-size: .9375rem;
            display: inline-block;
            vertical-align: middle;
          }

          i {
            margin-right: .5rem;
          }
        }
      }
    }
  }
}

// .table--ver1 {
//   background-color: $white;

//   // table-layout: fixed;
//   // text-align: center;

//   thead {
//     background-color: $grey-400;
//     border-bottom: ($border-width * 2) $border-style-solid $grey-500;
//   }

//   th {
//     font-weight: $font-weight-bolder;
//     padding: .75rem;
//   }

//   tr {
//     &:not(:last-child) {
//       border-bottom: $border-width $border-style-dotted $grey-500;
//     }

//     &:last-child {
//       border-bottom: $border-width $border-style-solid $grey-500;
//     }
//   }

//   td {
//     padding: .75rem;
//   }
// }

// .table--ver2 {
//   background-color: $white;

//   thead {
//     background-color: $grey-200;
//     border-bottom: ($border-width * 2) $border-style-solid $grey-300;
//   }

//   tbody tr:nth-of-type(even) {
//     background-color: $grey-200;
//   }

//   th {
//     border: 1px $border-style-solid $grey-300;
//     padding: .75rem;
//   }

//   td {
//     border: 1px $border-style-solid $grey-300;
//     padding: .75rem;
//   }
// }

// .table--ver3 {
//   background-color: $white;

//   thead {
//     border-bottom: ($border-width * 2) $border-style-solid $border-color;
//     border-top: ($border-width * 2) $border-style-solid $border-color;
//   }

//   th {
//     border-top: 1px $border-style-solid $border-color;
//     border-bottom: 1px $border-style-solid $border-color;
//     padding: .75rem;
//   }

//   td {
//     border-top: 1px $border-style-solid $border-color;
//     border-bottom: 1px $border-style-solid $border-color;
//     padding: .75rem;
//   }
// }

// .table--dark {
//   background-color: $grey-800;
//   color: $white;

//   thead {
//     border-bottom: ($border-width * 2) $border-style-solid $grey-700;
//     border-top: ($border-width * 2) $border-style-solid $grey-700;
//   }

//   th {
//     border-top: 1px $border-style-solid $grey-700;
//     border-bottom: 1px $border-style-solid $grey-700;
//     padding: .75rem;
//   }

//   td {
//     border-top: 1px $border-style-solid $grey-700;
//     border-bottom: 1px $border-style-solid $grey-700;
//     padding: .75rem;
//   }
// }