@charset "utf-8";

//  Symbols -> Corp Card
// --------------------------------------------------

.t-corp-card {
  padding: 1.25rem 1.5rem;
  margin-bottom: 1rem;
  box-shadow: none;
  border: $border solid 0.125rem;
  border-radius: $border-radius;
  transition: $card-transition;

  .t-btn-fav {
    @extend .t-star;

    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  .t-brand-img {
    width: 5.5rem;
    height: 5.5rem;
    margin: 0 auto;

    @extend .t-detail-corp-img;
  }

  .t-card-figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;

    .t-card-title {
      margin-top: 1.125rem;
      color: $tertiary-900;
      background: linear-gradient(to right, $tertiary-400, $tertiary-800) no-repeat left (bottom / 0) 0.25rem;

      @include hover {
        color: $tertiary-800;
      }
    }

    .t-list-txts {
      color: $lightgrey;
      justify-content: center;
    }
  }

  .t-card-footer {
    border-top: 2px dashed $grey-200;
    margin-top: 1rem;
    padding: 1rem 0 0 0;

    @extend .t-flex;

    @extend .flex-row;

    @extend .align-items-center;

    @extend .justify-content-around;
  }

  .t-tag {
    transform: scale(0.8);
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
  }


  .btn.btn--block {
    @include btn-hover {
      background-color: $primary-600;
      color: _var("white", $white);
    }
  }


  &:hover {
    box-shadow: $box-shadow;
    border: 0.125rem dashed $tertiary-200;

    .t-card-title {
      &:hover {
        text-decoration: none;
        background-size: 200% .125rem;
      }
    }
  }
}


//////////////////////////////////////////////////////////////////////
