@charset "utf-8";

//  Symbols Fonts
// --------------------------------------------------
.t-para {
  // line-height: $t-line-height-card;
  font-size: 0.875rem;
  margin-top: .625rem;
  color: $grey;
}

//////////////////////////////////////////////////////////////////////

.t-para-l {
  line-height: $t-line-height-card;
  font-size: 0.875rem;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  color: $grey-800;
}

//////////////////////////////////////////////////////////////////////

.t-para-t {
  line-height: $t-line-height-card;
  font-size: 0.875rem;
  margin-top: 1rem;
  color: $grey-800;
}

//////////////////////////////////////////////////////////////////////

// Money
.t-money {
  position: relative;
  color: $primary-700;
  font-weight: 500;
  font-size: 112.5%;
  padding-left: 1.5rem;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;

    @include translate(0, -50%);

    width: 1.25rem;
    height: 1.25rem;

    @include svg-bg-icon(money, $primary-700, center, contain);

    opacity: 0.66;
  }
}

//////////////////////////////////////////////////////////////////////

.t-text-hide--3line {
  @include text_ellipsis(3, 2);
}