nav {
  background: #0e1238;
  font-family: "Bowlby One SC", no-serif;
  overflow: hidden;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 50vh;
  list-style: none;
}

li {
  position: relative;
}

a {
  color: #e8984c;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  font-size: calc(1rem + 6vw);
}

li {
  &:last-child {
    &:after, &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      clip-path: circle(0);
      opacity: 0;
      transform: translate3d(-50%, -50%, 0);
      transition: opacity 1s, clip-path 1s, transform 1s 1s;
    }

    &:after {
      background: white;
      mix-blend-mode: exclusion;
    }

    &:before {
      background: #55b992;
      -webkit-clip-path: circle(0);
      mix-blend-mode: color-dodge;
    }
  }

  &:hover ~ li:last-child:after, &:last-child:hover:after, &:hover ~ li:last-child:before, &:last-child:hover:before {
    opacity: 1;
    transition: 1s ease;
  }

  &:first-child:hover ~ li:last-child {
    &:after {
      transform: translate3d(-100%, -100%, 0);
      clip-path: circle(7.5vw);
    }

    &:before {
      transform: translate3d(-115%, -110%, 0);
      clip-path: circle(5vw);
    }
  }

  &:nth-child(2):hover ~ li:last-child {
    &:after {
      transform: translate3d(-10%, -105%, 0);
      clip-path: circle(3vw);
    }

    &:before {
      transform: translate3d(0%, -100%, 0);
      clip-path: circle(4.5vw);
    }
  }

  &:nth-child(3):hover ~ li:last-child {
    &:after {
      transform: translate3d(-95%, 0%, 0);
      clip-path: circle(6.5vw);
    }

    &:before {
      transform: translate3d(-105%, 10%, 0);
      clip-path: circle(6.5vw);
    }
  }

  &:last-child:hover {
    &:after {
      transform: translate3d(-5%, 0%, 0);
      clip-path: circle(5.5vw);
    }

    &:before {
      transform: translate3d(4%, 0%, 0);
      clip-path: circle(4.5vw);
    }
  }
}

@media (max-width: 30em) {
  nav a {
    font-size: 4rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  li {
    flex: 1;

    &:last-child {
      &:after, &:before {
        transform: translate3d(0%, -150%, 0);
      }
    }

    &:first-child:hover ~ li:last-child {
      &:after {
        transform: translate3d(0, -300%, 0);
        clip-path: circle(11vh);
      }

      &:before {
        transform: translate3d(10%, -290%, 0);
        clip-path: circle(9vh);
      }
    }

    &:nth-child(2):hover ~ li:last-child {
      &:after {
        transform: translate3d(0%, -200%, 0);
        clip-path: circle(6vh);
      }

      &:before {
        transform: translate3d(10%, -195%, 0);
        clip-path: circle(7vh);
      }
    }

    &:nth-child(3):hover ~ li:last-child {
      &:after {
        transform: translate3d(0, -100%, 0);
        clip-path: circle(8vh);
      }

      &:before {
        transform: translate3d(-10%, -100%, 0);
        clip-path: circle(4vh);
      }
    }

    &:last-child:hover {
      &:after {
        transform: translate3d(0%, 0%, 0);
        clip-path: circle(8vh);
      }

      &:before {
        transform: translate3d(20%, 0%, 0);
        clip-path: circle(6vh);
      }
    }
  }
}