@charset "utf-8";
//  Symbols -> Title
// --------------------------------------------------

.t-detail-title {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: .0625rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}


//////////////////////////////////////////////////////////////////////
