@charset "utf-8";

//   Mixins > ribbon v2
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// @each $color, $value in $element-colors {
//   @include ribbon-d($color, 1rem, $value);
// }

@mixin ribbon-d($name: "primary", $fontSize: 2rem, $color: $primary, $darker: darken($color, 16%), $darkest: darken($color, 24%), $strokeColor: $white) {
  .t-ribbon-d-#{$name} {
    background: $color;
    color: color-contrast($color);
    font-size: $fontSize;
    padding: .5em 1em;
    position: relative;
    transform: skew(-8deg) rotate(-8deg);

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      border-width: 1em .5em 1em .5em;
      border-style: solid;
      border-color: $darker $darker $darker transparent;
      height: 0;
      width: 0;
      top: .62em;
      left: -1em;
      z-index: -5;
    }

    &:after {
      left: 100%;
      border-color: $darker transparent $darker $darker;
      top: -.35em;
    }

    span {
      position: relative;
      text-transform: uppercase;
      letter-spacing: .1875rem;
      -webkit-text-stroke-width: .0625rem;
      text-shadow: (-0.1875rem) 0.1875rem 0px $darker;
      font-weight: 700;
      -webkit-text-stroke-color: $strokeColor;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        border-width: .2em .2em .2em .2em;
        border-style: solid;
        border-color: $darker $darker $darkest $darkest;
        right: -1em;
        top: -.85em;
      }

      &:after {
        left: -1em;
        top: 1.73em;
        width: 0;
        height: 0;
        border-color: $darkest $darkest $darker $darker;
      }
    }
  }
}