@charset "utf-8";

$_luminance-list: 0.0008 0.001 0.0011 0.0013 0.0015 0.0017 0.002 0.0022 0.0025 0.0027 0.003 0.0033 0.0037 0.004 0.0044 0.0048 0.0052 0.0056 0.006 0.0065 0.007 0.0075 0.008 0.0086 0.0091 0.0097 0.0103 0.011 0.0116 0.0123 0.013 0.0137 0.0144 0.0152 0.016 0.0168 0.0176 0.0185 0.0194 0.0203 0.0212 0.0222 0.0232 0.0242 0.0252 0.0262 0.0273 0.0284 0.0296 0.0307 0.0319 0.0331 0.0343 0.0356 0.0369 0.0382 0.0395 0.0409 0.0423 0.0437 0.0452 0.0467 0.0482 0.0497 0.0513 0.0529 0.0545 0.0561 0.0578 0.0595 0.0612 0.063 0.0648 0.0666 0.0685 0.0704 0.0723 0.0742 0.0762 0.0782 0.0802 0.0823 0.0844 0.0865 0.0887 0.0908 0.0931 0.0953 0.0976 0.0999 0.1022 0.1046 0.107 0.1095 0.1119 0.1144 0.117 0.1195 0.1221 0.1248 0.1274 0.1301 0.1329 0.1356 0.1384 0.1413 0.1441 0.147 0.15 0.1529 0.1559 0.159 0.162 0.1651 0.1683 0.1714 0.1746 0.1779 0.1812 0.1845 0.1878 0.1912 0.1946 0.1981 0.2016 0.2051 0.2086 0.2122 0.2159 0.2195 0.2232 0.227 0.2307 0.2346 0.2384 0.2423 0.2462 0.2502 0.2542 0.2582 0.2623 0.2664 0.2705 0.2747 0.2789 0.2831 0.2874 0.2918 0.2961 0.3005 0.305 0.3095 0.314 0.3185 0.3231 0.3278 0.3325 0.3372 0.3419 0.3467 0.3515 0.3564 0.3613 0.3663 0.3712 0.3763 0.3813 0.3864 0.3916 0.3968 0.402 0.4072 0.4125 0.4179 0.4233 0.4287 0.4342 0.4397 0.4452 0.4508 0.4564 0.4621 0.4678 0.4735 0.4793 0.4851 0.491 0.4969 0.5029 0.5089 0.5149 0.521 0.5271 0.5333 0.5395 0.5457 0.552 0.5583 0.5647 0.5711 0.5776 0.5841 0.5906 0.5972 0.6038 0.6105 0.6172 0.624 0.6308 0.6376 0.6445 0.6514 0.6584 0.6654 0.6724 0.6795 0.6867 0.6939 0.7011 0.7084 0.7157 0.7231 0.7305 0.7379 0.7454 0.7529 0.7605 0.7682 0.7758 0.7835 0.7913 0.7991 0.807 0.8148 0.8228 0.8308 0.8388 0.8469 0.855 0.8632 0.8714 0.8796 0.8879 0.8963 0.9047 0.9131 0.9216 0.9301 0.9387 0.9473 0.956 0.9647 0.9734 0.9823 0.9911 1;

@function escape-svg($string) {
  @if str-index($string, "data:image/svg+xml") {
    @each $char, $encoded in $escaped-characters {
      // Do not escape the url brackets
      @if str-index($string, "url(") == 1 {
        $string: url("#{str-replace(str-slice($string, 6, -3), $char, $encoded)}");
      }
      @else {
        $string: str-replace($string, $char, $encoded);
      }
    }
  }

  @return $string;
}

@function t-svg($string) {
  @if str-index($string, "data:image/svg+xml") {
    @each $char, $encoded in $escaped-characters {
      // Do not escape the url brackets
      @if str-index($string, "url(") == 1 {
        $string: url("#{str-replace(str-slice($string, 6, -3), $char, $encoded)}");
      }
      @else {
        $string: str-replace($string, $char, $encoded);
      }
    }
  }

  @return $string;
}

// Replace letters
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// Encode symbols
@function url-encode($string) {
  $map: ("%": "%25", "<": "%3C", ">": "%3E", " ": "%20", "!": "%21", "*": "%2A", "'": "%27", '"': "%22", "(": "%28", ")": "%29", ";": "%3B", ":": "%3A", "@": "%40", "&": "%26", "=": "%3D", "+": "%2B", "$": "%24", ",": "%2C", "/": "%2F", "?": "%3F", "#": "%23", "[": "%5B", "]": "%5D");

  $new: $string;

  @each $search, $replace in $map {
    $new: str-replace($new, $search, $replace);
  }

  @return $new;
}

// Format the SVG as a URL
@function tt-svg($string) {
  @return url("data:image/svg+xml,#{url-encode($string)}");
}

@function ceaser($type: $ease) {
  @if $ceaser-legacy {
    $easingValue: returnEaseType($type);

    @return cubic-bezier(unquote($easingValue));
  }
  @else {
    @return cubic-bezier(unquote($type));
  }
}

@function returnEaseType($type) {
  $easingValue: "";

  @if $type == "linear" {
    $easingValue: "0.250, 0.250, 0.750, 0.750";
  }
  @else if $type == "ease" {
    $easingValue: "0.250, 0.100, 0.250, 1.000";
  }
  @else if $type == "ease-in" {
    $easingValue: "0.420, 0.000, 1.000, 1.000";
  }
  @else if $type == "ease-out" {
    $easingValue: "0.000, 0.000, 0.580, 1.000";
  }
  @else if $type == "ease-in-out" {
    $easingValue: "0.420, 0.000, 0.580, 1.000";
  }
  @else if $type == "easeInQuad" {
    $easingValue: "0.550, 0.085, 0.680, 0.530";
  }
  @else if $type == "easeInCubic" {
    $easingValue: "0.550, 0.055, 0.675, 0.190";
  }
  @else if $type == "easeInQuart" {
    $easingValue: "0.895, 0.030, 0.685, 0.220";
  }
  @else if $type == "easeInQuint" {
    $easingValue: "0.755, 0.050, 0.855, 0.060";
  }
  @else if $type == "easeInSine" {
    $easingValue: "0.470, 0.000, 0.745, 0.715";
  }
  @else if $type == "easeInExpo" {
    $easingValue: "0.950, 0.050, 0.795, 0.035";
  }
  @else if $type == "easeInCirc" {
    $easingValue: "0.600, 0.040, 0.980, 0.335";
  }
  @else if $type == "easeInBack" {
    $easingValue: "0.600, -0.280, 0.735, 0.045";
  }
  @else if $type == "easeOutQuad" {
    $easingValue: "0.250, 0.460, 0.450, 0.940";
  }
  @else if $type == "easeOutCubic" {
    $easingValue: "0.215, 0.610, 0.355, 1.000";
  }
  @else if $type == "easeOutQuart" {
    $easingValue: "0.165, 0.840, 0.440, 1.000";
  }
  @else if $type == "easeOutQuint" {
    $easingValue: "0.230, 1.000, 0.320, 1.000";
  }
  @else if $type == "easeOutSine" {
    $easingValue: "0.390, 0.575, 0.565, 1.000";
  }
  @else if $type == "easeOutExpo" {
    $easingValue: "0.190, 1.000, 0.220, 1.000";
  }
  @else if $type == "easeOutCirc" {
    $easingValue: "0.075, 0.820, 0.165, 1.000";
  }
  @else if $type == "easeOutBack" {
    $easingValue: "0.175, 0.885, 0.320, 1.275";
  }
  @else if $type == "easeInOutQuad" {
    $easingValue: "0.455, 0.030, 0.515, 0.955";
  }
  @else if $type == "easeInOutCubic" {
    $easingValue: "0.645, 0.045, 0.355, 1.000";
  }
  @else if $type == "easeInOutQuart" {
    $easingValue: "0.770, 0.000, 0.175, 1.000";
  }
  @else if $type == "easeInOutQuint" {
    $easingValue: "0.860, 0.000, 0.070, 1.000";
  }
  @else if $type == "easeInOutSine" {
    $easingValue: "0.445, 0.050, 0.550, 0.950";
  }
  @else if $type == "easeInOutExpo" {
    $easingValue: "1.000, 0.000, 0.000, 1.000";
  }
  @else if $type == "easeInOutCirc" {
    $easingValue: "0.785, 0.135, 0.150, 0.860";
  }
  @else if $type == "easeInOutBack" {
    $easingValue: "0.680, -0.550, 0.265, 1.550";
  }

  @return $easingValue;
}