@charset "utf-8";

/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Pages > d3
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.d3-map-txt {
  stroke: $white;
  stroke-width: 2px;
  paint-order: stroke;
}