.t-pagination-nav {
  align-items: end;
  display: flex;
  justify-content: end;
}

.t-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-bottom: 1.5rem;

  .t-page-link {
    position: relative;
    display: block;
    color: $grey-800;
    background-color: $grey-50;
    border: 0 solid $grey-100;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
      z-index: 2;
      color: $grey-600;
      background-color: $grey-100;
      border-color: rgba($dark, 0.24);
    }

    &:focus {
      z-index: 3;
      color: $grey-600;
      background-color: $grey-100;
      outline: 0;
      box-shadow: none;
    }

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}

.t-page-item:not(:first-child) .t-page-link {
  margin-left: 0.1875rem;
}

.t-page-item.active .t-page-link {
  z-index: 3;
  color: #fff;
  background-color: rgba(105, 108, 255, 0.08);
  border-color: rgba(105, 108, 255, 0.08);
}

.t-page-item.disabled .t-page-link {
  color: #a1acb8;
  pointer-events: none;
  background-color: #f7f8f9;
  border-color: rgba(67, 89, 113, 0.3);
}

.t-page-link {
  padding: 0.625rem 0.5125rem;
}

.t-page-item .t-page-link {
  border-radius: 0.25rem;
}

.t-pagination-lg .t-page-link {
  padding: 0.9375rem 0.5rem;
  font-size: 1rem;
}

.t-pagination-lg .t-page-item .t-page-link {
  border-radius: 0.5rem;
}

.t-pagination-sm .t-page-link {
  padding: 0.375rem 0.25rem;
  font-size: 0.75rem;
}

.t-pagination-sm .t-page-item .t-page-link {
  border-radius: 0.25rem;
}

.t-page-item.active .t-page-link, .t-page-item.active .t-page-link:hover, .t-page-item.active .t-page-link:focus,
.t-pagination li.active > a:not(.t-page-link),
.t-pagination li.active > a:not(.t-page-link):hover,
.t-pagination li.active > a:not(.t-page-link):focus {
  border-color: #696cff;
  background-color: #696cff;
  color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(105, 108, 255, 0.4);
}

.t-page-item.first .t-page-link, .t-page-item.last .t-page-link, .t-page-item.next .t-page-link, .t-page-item.prev .t-page-link, .t-page-item.previous .t-page-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.t-page-item.disabled .t-page-link {
  border-color: #d9dee3;
}

.t-page-item.active .t-page-link {
  margin: 0 0.1rem 0 0.3rem;
}

.t-page-link,
.t-page-link > a {
  border-radius: 0.375rem;
  line-height: 1;
  text-align: center;
  min-width: calc( 2.1875rem + 0px );
}

.t-page-link:focus,
.t-page-link > a:focus {
  color: #697a8d;
}

.t-page-link.btn-primary {
  box-shadow: none !important;
}

.t-pagination-lg .t-page-link,
.t-pagination-lg > li > a:not(.t-page-link) {
  min-width: calc( 2.875rem + 0px );
}

.t-pagination-lg > .t-page-item.first .t-page-link, .t-pagination-lg > .t-page-item.last .t-page-link, .t-pagination-lg > .t-page-item.next .t-page-link, .t-pagination-lg > .t-page-item.prev .t-page-link, .t-pagination-lg > .t-page-item.previous .t-page-link {
  padding-top: 0.853rem;
  padding-bottom: 0.853rem;
}

.t-pagination-sm .t-page-link,
.t-pagination-sm > li > a:not(.t-page-link) {
  min-width: calc( 1.5rem + 0px );
}

.t-pagination-sm .t-page-link .tf-icon,
.t-pagination-sm > li > a:not(.t-page-link) .tf-icon {
  font-size: 0.9375rem;
}

.t-pagination-sm > .t-page-item.first .t-page-link, .t-pagination-sm > .t-page-item.last .t-page-link, .t-pagination-sm > .t-page-item.next .t-page-link, .t-pagination-sm > .t-page-item.prev .t-page-link, .t-pagination-sm > .t-page-item.previous .t-page-link {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}