//
//  Layout -> Footer 
// --------------------------------------------------
$footer-bg: #1e1d41;
$footer-color: $white;

.t-footer-svg {
  z-index: 0;
  pointer-events: none;
  transform: translateY(-33%);
  color: $footer-bg;

  path {
    fill: $footer-bg;
  }
}

.t-custom-footer {
  position: relative;
  background-color: $footer-bg;
  color: $footer-color;
  padding: 2rem 2.5rem;
  text-align: left;
  letter-spacing: 1.5px;
  z-index: 1;

  &::before {

    content: "";
    background-color: #1e1d41;
    position: absolute;
    left: 0;
    top: -20%;
    width: 100%;
    height: 20%;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 308'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' stroke='%23707070' d='M0 0h1920v308H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg%3E%3Cg fill-rule='evenodd' clip-path='url(%23a)'%3E%3Cpath fill='rgba(0,0,0,0.3)' d='M0 101s546 6 1074 0c466-6 336 250 916 0l154 207H0Z' /%3E%3Cpath d='M-31 123s496-276 991 0c0 0 235 61 506 58 226-2 474-58 649-150l-166 277H-31Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");    -webkit-mask-repeat: repeat-x;
    -webkit-mask-position: -2px 6px;
    -webkit-mask-size: auto;
  }

  .t-custom-footer-bd {
    border-bottom: 2px dotted rgba($white, 0.16);
  }

  .t-custom-footer-logo {}

  .t-footer-list {
    margin: 1rem 0;

    li {
      position: relative;
      padding-left: 2.5rem;

      &:not(:last-child) {
        margin-bottom: .75rem;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(1rem, -50%);
        width: 0.75rem;
        height: 0.75rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.093' height='29.093'%3E%3Cpath d='m11.977 1.269.715-.3.025.06.357-.148q.176-.068.356-.123l-.019-.062a3.91 3.91 0 0 1 .752-.15l.006.065a3.849 3.849 0 0 1 .754 0l.007-.065a3.912 3.912 0 0 1 .752.15l-.019.062q.18.055.355.127l.357.148.025-.06.715.3-.025.06.715.3.025-.06.715.3-.025.06.715.3.025-.06.715.3-.025.06.715.3.025-.06.715.3-.025.06.715.3.025-.06.715.3-.025.06.357.148q.175.073.341.161l.031-.057a3.912 3.912 0 0 1 .638.426l-.047.019a3.847 3.847 0 0 1 .533.533l.05-.041a3.9 3.9 0 0 1 .426.638l-.057.031q.089.166.161.341l.148.357.06-.025.3.715-.06.025.3.715.06-.025.3.715-.06.025.3.715.06-.025.3.715-.06.025.3.715.06-.025.3.715-.06.025.3.715.06-.025.3.715-.06.025.148.357q.073.175.127.355l.062-.019a3.916 3.916 0 0 1 .15.752l-.065.006a3.835 3.835 0 0 1 0 .754l.065.006a3.917 3.917 0 0 1-.15.752l-.062-.019q-.055.18-.127.355l-.148.357.06.025-.3.715-.06-.025-.3.715.06.025-.3.715-.06-.025-.3.715.06.025-.3.715-.06-.025-.3.715.06.025-.3.715-.06-.025-.3.715.06.025-.3.715-.06-.025-.148.357q-.073.175-.161.341l.057.031a3.905 3.905 0 0 1-.426.638l-.05-.041a3.845 3.845 0 0 1-.533.533l.041.05a3.905 3.905 0 0 1-.638.426l-.031-.057q-.166.089-.341.161l-.357.148.025.06-.715.3-.025-.06-.715.3.025.06-.715.3-.025-.06-.715.3.025.06-.715.3-.025-.06-.715.3.025.06-.715.3-.025-.06-.715.3.025.06-.715.3-.025-.06-.357.148q-.175.073-.355.127l.019.062a3.917 3.917 0 0 1-.752.15l-.006-.065a3.835 3.835 0 0 1-.754 0l-.006.065a3.916 3.916 0 0 1-.752-.15l.024-.109q-.18-.055-.355-.127l-.357-.148-.025.06-.715-.3.025-.06-.715-.3-.025.06-.715-.3.025-.06-.715-.3-.025.06-.715-.3.025-.06-.715-.3-.025.06-.715-.3.025-.06-.715-.3-.025.06-.715-.3.025-.06-.353-.108q-.175-.073-.341-.161l-.031.057a3.9 3.9 0 0 1-.638-.426l.041-.05a3.846 3.846 0 0 1-.531-.537l-.05.041a3.912 3.912 0 0 1-.426-.638l.057-.031q-.089-.166-.161-.341l-.148-.357-.06.025-.3-.715.06-.025-.3-.715-.06.025-.3-.715.06-.025-.3-.715-.06.025-.3-.715.06-.025-.3-.715-.06.025-.3-.715.06-.025-.3-.715-.06.025-.3-.715.06-.025-.148-.357q-.073-.175-.127-.355l-.062.019a3.912 3.912 0 0 1-.119-.746l.065-.006a3.849 3.849 0 0 1 0-.754l-.065-.006a3.91 3.91 0 0 1 .15-.752l.062.019q.055-.18.127-.355l.148-.357-.06-.025.3-.715.06.025.3-.715-.06-.025.3-.715.06.025.3-.715-.076-.029.3-.715.06.025.3-.715-.06-.025.3-.715.06.025.3-.715-.06-.025.3-.715.06.025.129-.35q.073-.175.161-.341l-.057-.034a3.91 3.91 0 0 1 .426-.638l.05.041a3.847 3.847 0 0 1 .533-.528l-.041-.05a3.91 3.91 0 0 1 .638-.426l.031.057q.166-.089.341-.161l.357-.148-.025-.06.715-.3.025.06.715-.3-.025-.06.715-.3.025.06.715-.3-.025-.06.715-.3.025.06.715-.3-.025-.06.715-.3.025.06.715-.3Z' fill='%23fff' stroke='%23ffc832' stroke-dasharray='6 6'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: 0.32;
      }
    }
  }

  .t-footer-list-end {}
}