.t-course-content {
  position: relative;
  padding: 2rem 2rem;
  background-color: $neutral-50;

  .t-course-heading {
    font-size: 1.75rem;
  }

  .t-course-para {
    font-size: 1.125rem;
  }

  .t-tab-cnts {
    // background-color: $white;
    border-radius: $border-radius;
    // padding: 0 1rem;
  }

  .t-tab-course {
    padding: 1rem 2rem;

    // background-color: $white;
    // border-radius: $border-radius;
    .t-tab-nav {
      .t-tab-nav-item {



        .t-tab-nav-item-txt {
          // font-size: inherit;
        }

        .t-tab-nav-item-txt-sm {}
      }
    }
  }


  .t-course-card {
    position: relative;
    padding: 3rem 4rem 1.5rem;

    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    @include border-radius($card-border-radius);
    @include box-shadow($card-box-shadow);
    margin-right: 1rem;

    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }


    .t-course-card-title {
      margin-bottom: 1.5rem;
      padding-left: 1.5rem;
      border-left: 0.5rem solid $primary-100;
      letter-spacing: 1px;

      &:first-letter {
        font-size: 150%;
        color: $primary;
      }
    }

    .t-course-subhr {
      color: $grey-100;
    }

    .t-course-card-subtitle {
      font-weight: 500;
      padding: 0 1rem 0 0;

    }

    .list-checked {}
  }
}