
// Modals

// scss-docs-start modal-variables
$modal-inner-padding:               $spacer !default;

$modal-footer-margin-between:       .5rem !default;

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-title-line-height:           $line-height-base !default;

$modal-content-color:               null !default;
$modal-content-bg:                  $white !default;
$modal-content-border-color:        var(--#{$prefix}border-color-translucent) !default;
$modal-content-border-width:        $border-width !default;
$modal-content-border-radius:       $border-radius-lg !default;
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;
$modal-content-box-shadow-xs:       $box-shadow-sm !default;
$modal-content-box-shadow-sm-up:    $box-shadow !default;

$modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity:            .5 !default;

$modal-header-border-color:         var(--#{$prefix}border-color) !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-header-padding-y:            $modal-inner-padding !default;
$modal-header-padding-x:            $modal-inner-padding !default;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-footer-bg:                   null !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-footer-border-width:         $modal-header-border-width !default;

$modal-sm:                          300px !default;
$modal-md:                          500px !default;
$modal-lg:                          800px !default;
$modal-xl:                          1140px !default;

$modal-fade-transform:              translate(0, -50px) !default;
$modal-show-transform:              none !default;
$modal-transition:                  transform .3s ease-out !default;
$modal-scale-transform:             scale(1.02) !default;


// Custom variable

// Modals

// Padding applied to the modal body
$modal-inner-padding: 1.75rem !default;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-footer-margin-between: 0.5rem !default;

$modal-dialog-margin: 0.5rem !default;
$modal-dialog-margin-y-sm-up: 1.75rem !default;

$modal-header-border-color: $border-color !default;
$modal-footer-border-color: $modal-header-border-color !default;
$modal-header-border-width: 1px !default;
$modal-footer-border-width: 1px !default;

$modal-content-color: null !default;
$modal-content-bg: $body-bg !default;
$modal-content-border-color: null !default;
$modal-content-border-width: 0 !default;
$modal-content-border-radius: $border-radius !default;
$modal-content-inner-border-radius: $border-radius !default;

$modal-content-box-shadow: 0 0.25rem 0.5rem rgba($black, 0.05) !default;
$modal-content-box-shadow-xs: 0 0.25rem 0.5rem rgba($black, 0.1) !default;
$modal-content-box-shadow-sm-up: 0 0.5rem 1rem rgba($black, 0.1) !default;

$modal-backdrop-bg: $black !default;
$modal-backdrop-opacity: if(isDarkMode(), 0.4, 0.3) !default;

$modal-xl: 1140px !default;
$modal-lg: 800px !default;
$modal-md: 500px !default;
$modal-sm: 300px !default;






//== Modals
$modal-inner-padding:                 2rem 								       !default;
$modal-footet-padding:                1rem 2.5rem 						   !default;
$modal-title-padding:                 1rem 2rem 						     !default;
$modal-radius :                       $border-radius-xl--px      !default;
$modal-title-line-height:             $line-height-base 			   !default;
$modal-content-bg:                    $white 								     !default;
$modal-content-border-color:          rgba($dark, 0.2) 			     !default;
$modal-content-fallback-border-color: $grey-light 		           !default;
$modal-backdrop-bg:                   $dark 								     !default;
$modal-backdrop-opacity:              0.36							         !default;
$modal-header-border-color:           $border 					         !default;
$modal-footer-border-color:           $modal-header-border-color !default;

$modal-dialog-margin:               .5rem !default;
$modal-sm:                          300px !default;
$modal-md:                          500px !default;
$modal-lg:                          800px !default;
$modal-xl:                          1140px !default;

$modal-fade-transform:              translate(0, -50px) !default;
$modal-show-transform:              none !default;
$modal-transition:                  transform .25s ease-out !default;
$modal-scale-transform:             scale(1.02) !default;
$modal-shadow:                      0 12px 24px rgba($primary, 0.24), 0 16px 36px 2px rgba($grey, 0.22)!default;



// Modals
// =========================================================

// Backgrounds
$modal-backdrop-bg: $overlay-soft-bg-color;

// Borders
$modal-content-border-color: transparent;
$modal-header-border-width: 0;

// Padding
$modal-inner-padding: 1.5rem;
$modal-header-padding-y: 1rem;
$modal-header-padding-x: $modal-inner-padding;
$modal-footer-padding-y: $modal-header-padding-y !default;
$modal-footer-padding-x: $modal-header-padding-x !default;
$modal-close-padding-y: 0.25rem !default;
$modal-close-padding-x: $modal-close-padding-y !default;

// Width & Heights
$modal-md: 550px;
$modal-sm: 400px;


// Position Spaces
$modal-top-cover-close-top-offset: 0.75rem !default;
$modal-top-cover-close-right-offset: $modal-top-cover-close-top-offset !default;

// Type
$modal-footer-text-font-size: $font-size-sm !default;

// Others
$modal-backdrop-opacity: 1;
$modal-top-cover-close-z-index: 2 !default;

