

$spinner-width:                2rem !default;
$spinner-height:               $spinner-width !default;
$spinner-vertical-align:       -.125rem !default;
$spinner-border-width:         .125rem !default;
$spinner-animation-speed:      .75s !default;

$spinner-width-sm:             1rem !default;
$spinner-height-sm:            $spinner-width-sm !default;
$spinner-border-width-sm:      0.125em !default;

$spinner-border-width:         0.185em !default;
$spinner-animation-speed:      0.65s !default;
$spinner-border-width-sm:      0.145em !default;

//== Close
$close-font-size:                   $font-size-base * 1.5 			!default;
$close-font-weight:                 $font-weight-bold 				!default;
$close-color:                       $dark 							!default;
$close-text-shadow:                 0 1px 0 $white 					!default;

$cursor-disabled:                   not-allowed !default;

$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               $input-btn-padding-x !default;
$btn-font-family:             $input-btn-font-family !default;
$btn-font-size:               $input-btn-font-size !default;
$btn-line-height:             $input-btn-line-height !default;
$btn-white-space:             null !default; 

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm !default;
$btn-font-size-sm:            $input-btn-font-size-sm !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg !default;
$btn-font-size-lg:            $input-btn-font-size-lg !default;

$btn-border-width:            $input-btn-border-width !default;

$btn-font-weight:             $font-weight-medium !default;
$btn-font-weight-bold:        $font-weight-bold !default;

$btn-focus-width:             $input-btn-focus-width !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
$btn-disabled-opacity:        .66 !default;
$btn-active-box-shadow:       inset 0 .25rem .5rem rgba($black, .125) !default;

$btn-link-color:              var(--#{$prefix}link-color) !default;
$btn-link-hover-color:        var(--#{$prefix}link-hover-color) !default;
$btn-link-disabled-color:     $gray-600 !default;

$btn-border-radius:           $border-radius !default;
$btn-border-radius-sm:        $border-radius-sm !default;
$btn-border-radius-lg:        $border-radius-lg !default;

$btn-duration:                0.225s !default;
$btn-timing:                  ease-in-out !default;

// $btn-transition:              color $btn-duration $btn-timing, 
// 																														background-color $btn-duration $btn-timing, 
// 																														border-color $btn-duration $btn-timing, 
// 																														box-shadow $btn-duration $btn-timing !default;

$btn-transition:              color $btn-duration $btn-timing, 
																														background $btn-duration $btn-timing, 
																														border-color $btn-duration $btn-timing, 
																														box-shadow $btn-duration $btn-timing,
																														transform $btn-duration $btn-timing !default;

// $btn-transition:              color $btn-duration $btn-timing, 
// 																														background-color $btn-duration $btn-timing, 
// 																														border-color $btn-duration $btn-timing, 
// 																														box-shadow $btn-duration $btn-timing,
// 																														transform $btn-duration $btn-timing !default;



$btn-hover-bg-shade-amount:       15% !default;
$btn-hover-bg-tint-amount:        15% !default;
$btn-hover-border-shade-amount:   20% !default;
$btn-hover-border-tint-amount:    10% !default;
$btn-active-bg-shade-amount:      20% !default;
$btn-active-bg-tint-amount:       20% !default;
$btn-active-border-shade-amount:  25% !default;
$btn-active-border-tint-amount:   10% !default;





// scss-docs-end btn-variables
// scss-docs-start close-variables
$btn-close-width:            1em !default;
$btn-close-height:           $btn-close-width !default;
$btn-close-padding-x:        .25em !default;
$btn-close-padding-y:        $btn-close-padding-x !default;
$btn-close-color:            $black !default;
$btn-close-bg:               url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>") !default;
$btn-close-focus-shadow:     $input-btn-focus-box-shadow !default;
$btn-close-opacity:          .5 !default;
$btn-close-hover-opacity:    .75 !default;
$btn-close-focus-opacity:    1 !default;
$btn-close-disabled-opacity: .25 !default;
$btn-close-white-filter:     invert(1) grayscale(100%) brightness(200%) !default;


//== Buttons
$btn-padding-y:               	$input-btn-padding-y 			  	!default;
$btn-padding-x:               	$input-btn-padding-x 				  !default;
$btn-font-family:             	$input-btn-font-family 				!default;
$btn-font-size:               	$input-btn-font-size 				  !default;
$btn-line-height:             	$input-btn-line-height 				!default;
$btn-radius: 										        $input-btn-radius           	!default;

$btn-padding-y-xxs:            	$input-btn-padding-y-xxs 			!default;
$btn-padding-x-xxs:            	$input-btn-padding-x-xxs 			!default;
$btn-font-size-xxs:            	$input-btn-font-size-xxs 			!default;
$btn-line-height-xxs:          	$input-btn-line-height-xxs 			!default;

$btn-padding-y-xs:            	$input-btn-padding-y-xs 			!default;
$btn-padding-x-xs:            	$input-btn-padding-x-xs 			!default;
$btn-font-size-xs:            	$input-btn-font-size-xs			 	!default;
$btn-line-height-xs:          	$input-btn-line-height-xs 			!default;

$btn-padding-y-sm:            	$input-btn-padding-y-sm 			!default;
$btn-padding-x-sm:            	$input-btn-padding-x-sm 			!default;
$btn-font-size-sm:            	$input-btn-font-size-sm 			!default;
$btn-line-height-sm:          	$input-btn-line-height-sm 			!default;

$btn-padding-y-lg:            	$input-btn-padding-y-lg			 	!default;
$btn-padding-x-lg:            	$input-btn-padding-x-lg		 		!default;
$btn-font-size-lg:            	$input-btn-font-size-lg 			!default;
$btn-line-height-lg:          	$input-btn-line-height-lg		 	!default;

$btn-padding-y-xl:            	$input-btn-padding-y-xl			 	!default;
$btn-padding-x-xl:            	$input-btn-padding-x-xl			 	!default;
$btn-font-size-xl:            	$input-btn-font-size-xl			 	!default;
$btn-line-height-xl:          	$input-btn-line-height-xl 			!default;

$btn-border-width:            	$input-btn-border-width 			!default;
$btn-focus-width:              $input-btn-focus-width           !default;
$btn-font-weight:             	500     				               !default;


$btn-box-shadow:              	0 .125rem .375rem rgba($dark, .12)         !default;
$btn-box-shadow-value:         0 .125rem .375rem                          !default;



$btn-focus-box-shadow:        	0 .125rem .375rem rgba($dark, .12) ,
																															0 0 0 0.25rem rgba($dark, .48) !default;
$btn-focus-box-shadow-value:   0 0 0 0.25rem !default;




$btn-active-box-shadow:       	0 0.625rem .25rem rgba($dark, .12)                                 !default;
$btn-3d-shadow: 				           0 4px 0 0 rgba($white, .15),0 0 20px 0 rgba($black, .075)		         !default;
$btn-link-disabled-color:     	$grey-600 							    !default;

$btn-disabled-opacity:          0.66                !default;
$btn-block-spacing-y:           1rem                !default;

$btn-border-radius:           	$border-radius--px 						!default;
$btn-border-radius-xl:         $border-radius-xl--px         !default;
$btn-border-radius-lg:        	$border-radius-lg--px					!default;
$btn-border-radius-md:        	$btn-border-radius 					   !default;
$btn-border-radius-sm:        	$border-radius-sm--px					   !default;
$btn-border-radius-xs:        	$border-radius-xs--px 					!default;
$btn-border-radius-xxs:       	$border-radius-xxs--px					!default;


$custom-forms-transition:     	
								background-color 0.15s ease-in-out,
								border-color 0.15s ease-in-out,
								box-shadow 0.15s ease-in-out 		!default;





// Buttons
// =========================================================

// Color
$btn-white-color: $dark !default;
$btn-white-hover-color: $link-hover-color !default;
$btn-white-disabled-color: $disabled-color !default;

// Backgrounds
$btn-ghost-bg-color: $secondary-bg-color !default;
$btn-white-bg-color: $white !default;
$btn-white-bg-disabled-color: $disabled-bg-color !default;

// Borders
$btn-border-width:  2px;
$btn-border-radius: $input-border-radius;
$btn-border-radius-sm: $input-border-radius-sm;
$btn-border-radius-lg: $input-border-radius-lg;
$btn-outline-secondary-color: $input-border-color !default;
$btn-white-border-color: $btn-outline-secondary-color !default;

$btn-white-font-weight: $font-weight-medium !default;

// Shadows
$btn-box-shadow-value:                   0 4px .75rem !default;
$btn-white-box-shadow-hover:             0px 3px 6px -2px rgba($gray-600, 0.24) !default;
$btn-white-box-shadow-focus:             0px 6px 8px 0px  rgba($gray-700, 0.32) !default;
$btn-white-box-shadow-active:            0px 1.5px 3px -1px rgba($gray-600, 0.16) !default;

$t-btn-box-shadow:                       0 0.75rem 1.125rem -0.5rem        !default;
$t-btn-box-shadow-hover:                 0 0.375rem 1rem -0.375rem       !default;
$t-btn-box-shadow-active:                0 0.5rem 1.375rem -0.625rem         !default;
$t-btn-box-shadow-focus:                 0 0.875rem 1.375rem -0.125rem       !default;



// Button Icon
// =========================================================

// Type
$btn-icon-font-weight: $font-weight-medium !default;
$btn-icon-font-size: $font-size-base !default;
$btn-icon-font-size-xs: $font-size-xs !default;
$btn-icon-font-size-sm: $font-size-base * 0.8125 !default;
$btn-icon-font-size-lg: $font-size-lg !default;
$btn-status-font-size: $font-size-base * 0.625 !default;
$btn-status-line-height: 1 !default;

// Width & Heights
$btn-icon-width: $font-size-base * 2.875 !default;
$btn-icon-width-xs: $font-size-base * 1.75 !default;
$btn-icon-width-sm: $font-size-base * 2.3125 !default;
$btn-icon-width-lg: $font-size-base * 4.25 !default;
$btn-status-width: $font-size-base * 1.3125 !default;

$btn-icon-height: $btn-icon-width !default;
$btn-icon-height-xs: $btn-icon-width-xs !default;
$btn-icon-height-sm: $btn-icon-width-sm !default;
$btn-icon-height-lg: $btn-icon-width-lg !default;
$btn-status-height: $btn-status-width !default;


