
// Typography

// stylelint-disable value-keyword-case halyard-text halyard-display halyard-micro
$font-family-serif:                'Merriweather', serif !default;
$font-family-sans-serif:           'massilia', -apple-system,  system-ui,
                                   BlinkMacSystemFont, segoe ui, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, 
                                   apple color emoji, segoe ui emoji, segoe ui symbol !default;
// $font-family-monospace:            SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// 400 500 700
$font-family-monospace:            'parity-sans-mono', Monaco, Consolas, 'Courier New', monospace  !default;
$font-family-base:                  $font-family-sans-serif                            !default;
$font-family-display:              'parity-sans-display'                              !default;
$font-family-display-weight:        800                                               !default;
// stylelint-enable value-keyword-case
$font-family-base:            var(--#{$prefix}font-sans-serif) !default;
$font-family-code:            var(--#{$prefix}font-monospace) !default;

$font-weight-lighter:           lighter                   !default;
$font-weight-light:             300                       !default;
$font-weight-normal:            400                       !default;
$font-weight-medium:            500                       !default;
$font-weight-semibold:          600                       !default;
$font-weight-semi-bold:         600                       !default;
$font-weight-bold:              700                       !default;
$font-weight-bolder:            bolder                    !default;
$font-weight-base:              $font-weight-normal       !default;



$font-weight-100:               100                       !default;
$font-weight-200:               200                       !default;
$font-weight-300:               300                       !default;
$font-weight-400:               400                       !default;
$font-weight-500:               500                       !default;
$font-weight-600:               600                       !default;
$font-weight-700:               700                       !default;
$font-weight-800:               800                       !default;
$font-weight-900:               900                       !default;


$line-height-xl:                                             2        !default;
$line-height-lg:                                             1.75     !default;
$line-height-base:                                           1.5      !default;
$line-height-md:                                             1.375    !default;
$line-height-sm:                                             1.25     !default;

$font-size:                                                  1rem                      !default;
$font-size-base:                                             $font-size                !default;
$font-size-root:                                             null                      !default;

$font-size-pixel-base:                                       16px                      !default;
$font-size-pixel-xxl:                                        20px                      !default;
$font-size-pixel-xl:                                         19px                      !default;
$font-size-pixel-lg:                                         18px                      !default;
$font-size-pixel-md:                                         $font-size-pixel-base     !default;
$font-size-pixel-sm:                                         15px                      !default;
$font-size-pixel-xs:                                         14px                      !default;
$font-size-pixel-xxs:                                        13px                      !default;
$font-size-pixel-xxxs:                                       12px                      !default;

// $font-size-pixels:
$font-size-pixels: (
  xxxs: $font-size-pixel-xxxs,
  xxs: $font-size-pixel-xxs,
  xs:  $font-size-pixel-xs,
  sm:  $font-size-pixel-sm,
  md:  $font-size-pixel-md,
  lg:  $font-size-pixel-lg,
  xl:  $font-size-pixel-xl,
  xxl: $font-size-pixel-xxl
) !default;


$font-size-none:                                             0                              !default;
$font-size-xl:                                               PxRem($font-size-pixel-xl)     !default;
$font-size-lg:                                               PxRem($font-size-pixel-lg)     !default;
$font-size-md:                                               PxRem($font-size-pixel-md)     !default;
$font-size-sm:                                               PxRem($font-size-pixel-sm)     !default;
$font-size-xs:                                               PxRem($font-size-pixel-xs)     !default;
$font-size-xxs:                                              PxRem($font-size-pixel-xxs)    !default;
$font-size-xxxs:                                             PxRem($font-size-pixel-xxxs)   !default;

$headings-font-family :         $font-family-base           !default;
$headings-font-weight-bold:     500                         !default;
$headings-font-weight-bolder:   700                         !default;
$headings-font-weight:                                      $font-weight-bold;
$headings-color:                                            $dark;
$headings-line-height:                                      1.375;
$headings-margin-bottom:                                    1rem;
$headings-font-style:         null !default;


$font-weight-base:              $font-weight-normal       !default;
$line-height-base:              1.5                       !default;
$line-height:                   $line-height-base         !default;

$h1-font-size:                  $font-size-base * 2.5     !default;
$h2-font-size:                  $font-size-base * 2.25    !default;
$h3-font-size:                  $font-size-base * 2       !default;
$h4-font-size:                  $font-size-base * 1.75    !default;
$h5-font-size:                  $font-size-base * 1.5     !default;
$h6-font-size:                  $font-size-base * 1.125   !default;
$para-font-size:                $font-size-base           !default;
$span-font-size:                $font-size-base * 0.875   !default;
$label-font-size:               $font-size-base * 0.9375  !default;

$h1-font-size:                                              $font-size-base * 2.75;
$h2-font-size:                                              $font-size-base * 2.25;
$h3-font-size:                                              $font-size-base * 1.75;
$h4-font-size:                                              $font-size-base * 1.3125;
$h5-font-size:                                              $font-size-base * 1.125;
$h6-font-size:                                              $font-size-base * 1;

// Font Sizes
$font-sizes: (
    1: $h1-font-size,   // 22.75px
    2: $h2-font-size,   // 19.50px
    3: $h3-font-size,   // 17.55px
    4: $h4-font-size,   // 16.25px
    5: $h5-font-size,   // 14.95px
    6: $h6-font-size,   // 13.95px

    7: $font-size-base * 0.95,  // 12.35px
    8: $font-size-base * 0.85,  // 11.05px
    9: $font-size-base * 0.75,  // 9.75px
    10: $font-size-base * 0.5,  // 6.50px

    base: $font-size-base, // 13px
    fluid: 100%, // 100%

    2x: $font-size-base * 2,        // 26px
    2qx: $font-size-base * 2.25,    // 29.25px
    2hx: $font-size-base * 2.5,     // 32.5px
    2tx: $font-size-base * 2.75,    // 35.75px

    3x: $font-size-base * 3,        // 39px
    3qx: $font-size-base * 3.25,    // 42.25px
    3hx: $font-size-base * 3.5,     // 45.5px
    3tx: $font-size-base * 3.75,    // 48.75px

    4x: $font-size-base * 4,        // 52px
    4qx: $font-size-base * 4.25,    // 55.25px
    4hx: $font-size-base * 4.5,     // 58.5px
    4tx: $font-size-base * 4.75,    // 61.75px
    
    5x: $font-size-base * 5,        // 65px
    5qx: $font-size-base * 5.25,    // 68.25px
    5hx: $font-size-base * 5.5,     // 71.5px
    5tx: $font-size-base * 5.75     // 74.75px
) !default;


// scss-docs-start display-headings
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;

$display-font-family: null !default;
$display-font-style:  null !default;
$display-font-weight: 300 !default;
$display-line-height: $headings-line-height !default;



// Components
$line-height-base:              1.5                 !default;
$line-height-computed:          1.75                !default;

$line-height:                   1.5                 !default;
$line-height-xl:                1.75                !default;
$line-height-lg:                1.625               !default;
$line-height-md:                1.5                 !default;
$line-height-sm:                1.375               !default;
$line-height-xs:                1.25                !default;
$line-height-xxs:               1.125               !default;

// scss-docs-start type-variables
$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;
$lead-color:                  $gray-900 !default;

$small-font-size:             .875em !default;

$sub-sup-font-size:           .75em !default;

$text-muted:                  $gray-600 !default;

$initialism-font-size:        $small-font-size !default;

$blockquote-margin-y:         $spacer !default;
$blockquote-font-size:        $font-size-base * 1.25 !default;
$blockquote-footer-color:     $gray-600 !default;
$blockquote-footer-font-size: $small-font-size !default;

$hr-margin-y:                 1.5rem  !default;
$hr-color:                    inherit !default;

$hr-bg-color:                 null !default; // Deprecated in v5.2.0
$hr-height:                   null !default; // Deprecated in v5.2.0

$hr-border-color:             null !default; // Allows for inherited colors
$hr-border-width:             $border-width !default;
$hr-opacity:                  .25 !default;

$legend-margin-bottom:        .5rem !default;
$legend-font-size:            1.5rem !default;
$legend-font-weight:          null !default;

$dt-font-weight:              $font-weight-bold !default;
$dt-color:                    $headings-color !default;
$dd-margin-y:                 1rem !default;

$list-inline-padding:         .5rem !default;

$mark-padding:                .1875em !default;
$mark-bg:                     $yellow-100 !default;

$letter-spacing: 0.03125rem !default;


$code-font-size: 1em;

$kbd-color:   $headings-color;
$kbd-bg:     $light-bg-color;



$display-font-sizes: (
  1: 8rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.75rem,
  5: 3rem,
  6: 2.5rem
) !default;

$font-sizes: (
  1: 2.25rem,
  2: 1.75rem,
  3: 1.25rem,
  4: $font-size-base,
  5: .875rem,
  6: $font-size-sm
) !default;

$display-font-weight:                                       $font-weight-bold;
$display-line-height:                                       1.2;

