@charset "utf-8";

//  Mixin -> Buttons -> Base
//====================================================
%btn {
  cursor: pointer;
  font-weight: $btn-font-weight;
  user-select: none;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.btn {
  border: $btn-border-width solid _var("grey-50", $grey-50);
  color: _var("grey-800", $grey-800);
  gap: 0.375rem;
  $shadowColor: color-contrast($grey-800, $dark, tint-color($grey-800, 80%));

  @extend %btn;

  // @include gradient-bg(_var("white", $white));
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-radius);
  @include text-shadow-v1($shadowColor);
  @include button-icon-rotate;

  transition: $btn-transition;

  $background: $white;

  @if lightness($background) > 80% {
    @include gradient-x-three-colors(adjust-hue(shade-color($background, 5%), -60deg) -20% 0, shade-color($background, 5%), 50%, adjust-hue(shade-color($background, 5%), 60deg) 120%);
  }
  @else if lightness($background) < 20% {
    @include gradient-x-three-colors(adjust-hue(tint-color($background, 10%), -60deg) -20% 0, tint-color($background, 10%), 50%, adjust-hue(tint-color($background, 10%), 60deg) 120%);
  }
  @else {
    @include gradient-x-three-colors(adjust-hue($background, -60deg) -20% 0, tint-color($background, 0%), 50%, adjust-hue($background, 60deg) 120%);
  }

  @include btn-hover {
    color: _var("primary-700", $primary-700);
    text-decoration: none;
    border-color: _var("primary-100", $primary-100);
    background-position: 75%;
    box-shadow: $t-btn-box-shadow-hover rgba($primary-700, 0.24);
  }


  @include btn-focus {
    outline: 0;
    box-shadow: $t-btn-box-shadow-focus rgba($primary-700, 0.36), 0 0 0 0.25rem rgba($primary-700, 0.32);
  }


  @include btn-active {
    border-color: _var("primary-200", $primary-200);
    color: _var("primary-900", $primary-900);
    box-shadow: $t-btn-box-shadow-active rgba($primary-800, 0.54);

    // @include gradient-bg(_var("primary-100", $primary-100));
    background-position: 50%;

    @include btn-focus {
      @if $enable-shadows {
        box-shadow: $btn-box-shadow-value rgba($background, 0.12), $btn-focus-box-shadow-value rgba(mix(color-yiq($primary-600), rgba($primary, 0.24), 10%), 0.48);
      }
    }
  }


  @include btn-disabled {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
  }


  // Link
  &.btn--link {
    border: 0;
    border-radius: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-decoration: none;
    font-weight: $btn-font-weight;
  }

  // Outline dashed
  &.btn--outline-dashed {
    border-style: dashed;
  }

  // Outline Dotted
  &.btn--outline-default {
    border-style: dotted;
  }

  // Outline default
  &.btn--outline-default {
    border-style: solid;
  }

  // Flex
  // &.btn--flex {
  //   display: inline-flex;
  //   align-items: center;
  // }

  &.btn--flush {
    @include button-reset;
  }

  &.btn--in--icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  &.btn--icon {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    min-width: 12rem;

    text {
      padding-right: 2.5rem;
    }

    i {
      @include absolute-y-center;

      right: 0;
      border-left: 1px solid rgba(_var("white-rgb", $white), 0.66);
      display: block;
      width: 2.5rem;
      text-align: center;
      font-size: 1rem;
    }

    &.btn--icon--sm {
      min-width: 8rem;

      font {
        padding-right: 2rem;
      }

      i {
        @include absolute-y-center;

        right: 0;
        border-left: 1px solid rgba(_var("white-rgb", $white), 0.66);
        display: block;
        width: 2rem;
        text-align: center;
        font-size: .875rem;
      }
    }

    &.btn--icon--md {
      min-width: 10rem;

      font {
        padding-right: 3.5rem;
      }

      i {
        @include absolute-y-center;

        right: 0;
        border-left: 1px solid rgba(_var("white-rgb", $white), 0.66);
        display: block;
        width: 3.5rem;
        text-align: center;
        font-size: 1.25rem;
      }
    }

    &.btn--icon--lg {
      min-width: 14rem;

      font {
        padding-right: 4.5rem;
      }

      i {
        @include absolute-y-center;

        right: 0;
        border-left: 1px solid rgba(_var("white-rgb", $white), 0.66);
        display: block;
        width: 4.5rem;
        text-align: center;
        font-size: 2rem;
      }
    }
  }

  // Square Buttons
  &.btn--square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: $input-height;
    width: $input-height;

    // Remove border
    &:not([class*='btn--border']) {
      border-color: transparent;
    }

    // Sizes
    &.btn--xs {
      padding: 0;
      height: $input-height-xs;
      width: $input-height-xs;
    }

    &.btn--sm {
      padding: 0;
      height: $input-height-sm;
      width: $input-height-sm;
    }

    &.btn--lg {
      padding: 0;
      height: $input-height-lg;
      width: $input-height-lg;
    }

    &.btn--xl {
      padding: 0;
      height: $input-height-xl;
      width: $input-height-xl;
    }

    i,
    .svg-icon {
      padding: 0;
      margin: 0;
      line-height: 1;
    }
  }

  &.loading--btn {
    cursor: not-allowed;
    opacity: 0.66;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(_var("white-rgb", $white), 0.66);
      height: 100%;
      width: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      height: 28px;
      width: 28px;
      border: 3px solid rgba(_var("white-rgb", $white), 0.33);
      border-top-color: $white;
      border-radius: 50%;
      animation: loading-btn--fade-in 0.33s ease, loading-btn--rotation 0.66s linear 0s infinite;
    }
  }

  i {
    &:not(.svg-icon) {
      display: inline-flex;
      align-self: center;
      font-size: $font-size-base;
      padding-right: 0;
      line-height: 0;
    }
  }

  .svg-icon {
    // display: inline-flex;
    align-self: center;
    flex-shrink: 0;
    line-height: 0;

    &:first-child {
      // margin-right: 0.5rem;
    }

    // &:last-child:last-child {
    //   margin-right: 0;
    //   margin-left: 0.5rem;
    // }
 
  }
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn--block {
    width: 100%;
  }
}